<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>redbag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,0},{210,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,199}}</string>
                <key>sourceSize</key>
                <string>{210,199}</string>
            </dict>
            <key>redbag_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,327},{106,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,99}}</string>
                <key>sourceSize</key>
                <string>{106,99}</string>
            </dict>
            <key>redbag_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,327},{158,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,133}}</string>
                <key>sourceSize</key>
                <string>{158,133}</string>
            </dict>
            <key>redbag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,462},{42,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,47}}</string>
                <key>sourceSize</key>
                <string>{42,47}</string>
            </dict>
            <key>redbag_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{261,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,325}}</string>
                <key>sourceSize</key>
                <string>{261,325}</string>
            </dict>
            <key>redbag_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,416},{91,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,78}}</string>
                <key>sourceSize</key>
                <string>{91,78}</string>
            </dict>
            <key>redbag_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,201},{143,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,117}}</string>
                <key>sourceSize</key>
                <string>{143,117}</string>
            </dict>
            <key>redbag_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,410},{44,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,87}}</string>
                <key>sourceSize</key>
                <string>{44,87}</string>
            </dict>
            <key>redbag_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,456},{46,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,83}}</string>
                <key>sourceSize</key>
                <string>{46,83}</string>
            </dict>
            <key>redbag_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,320},{88,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,81}}</string>
                <key>sourceSize</key>
                <string>{88,81}</string>
            </dict>
            <key>redbag_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,410},{27,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,20}}</string>
                <key>sourceSize</key>
                <string>{27,20}</string>
            </dict>
            <key>txt_cn_redbag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,435},{106,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,65}}</string>
                <key>sourceSize</key>
                <string>{106,65}</string>
            </dict>
            <key>txt_cn_redbag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,320},{104,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,94}}</string>
                <key>sourceSize</key>
                <string>{104,94}</string>
            </dict>
            <key>txt_cn_redbag_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,201},{106,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,65}}</string>
                <key>sourceSize</key>
                <string>{106,65}</string>
            </dict>
            <key>txt_cn_redbag_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,462},{89,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,45}}</string>
                <key>sourceSize</key>
                <string>{89,45}</string>
            </dict>
            <key>txt_cn_redbag_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,462},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>txt_cn_redbag_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,309},{99,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{99,29}}</string>
                <key>sourceSize</key>
                <string>{107,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>redbag.png</string>
            <key>size</key>
            <string>{481,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc8754138bd27946fadb2f5bfd3e4870$</string>
            <key>textureFileName</key>
            <string>redbag.png</string>
        </dict>
    </dict>
</plist>
