<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>actionyearmonster_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{338,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,73}}</string>
                <key>sourceSize</key>
                <string>{338,73}</string>
            </dict>
            <key>actionyearmonster_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,141},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>actionyearmonster_02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,177},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>actionyearmonster_02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,95},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>actionyearmonster_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{452,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,32}}</string>
                <key>sourceSize</key>
                <string>{452,32}</string>
            </dict>
            <key>actionyearmonster_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,125},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>actionyearmonster_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,75},{280,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,64}}</string>
                <key>sourceSize</key>
                <string>{280,64}</string>
            </dict>
            <key>actionyearmonster_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,170},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>actionyearmonster_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,125},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>actionyearmonster_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,0},{105,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,107}}</string>
                <key>sourceSize</key>
                <string>{105,107}</string>
            </dict>
            <key>actionyearmonster_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,125},{105,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,107}}</string>
                <key>sourceSize</key>
                <string>{105,107}</string>
            </dict>
            <key>actionyearmonster_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,0},{93,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,15},{93,77}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>actionyearmonster_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,141},{93,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{93,77}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>actionyearmonster_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,125},{62,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,79}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>actionyearmonster_16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,189},{62,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,77}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>actionyearmonster_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,195},{58,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,67}}</string>
                <key>sourceSize</key>
                <string>{58,67}</string>
            </dict>
            <key>actionyearmonster_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,196},{14,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,35}}</string>
                <key>sourceSize</key>
                <string>{14,35}</string>
            </dict>
            <key>actionyearmonster_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,125},{32,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,43}}</string>
                <key>sourceSize</key>
                <string>{32,43}</string>
            </dict>
            <key>actionyearmonster_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,196},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>actionyearmonster_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,0},{194,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,126}}</string>
                <key>sourceSize</key>
                <string>{194,126}</string>
            </dict>
            <key>actionyearmonster_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,109},{75,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,77}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>txt_cn_actionyearmonster_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,0},{118,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{118,123}}</string>
                <key>sourceSize</key>
                <string>{128,129}</string>
            </dict>
            <key>txt_cn_actionyearmonster_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,0},{118,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{118,123}}</string>
                <key>sourceSize</key>
                <string>{128,129}</string>
            </dict>
            <key>txt_cn_actionyearmonster_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,0},{118,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{118,123}}</string>
                <key>sourceSize</key>
                <string>{128,129}</string>
            </dict>
            <key>txt_cn_actionyearmonster_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,75},{143,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,42}}</string>
                <key>sourceSize</key>
                <string>{143,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>actionyearmonster.png</string>
            <key>size</key>
            <string>{1020,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eef12f92e178801208fc9aca44e9d773$</string>
            <key>textureFileName</key>
            <string>actionyearmonster.png</string>
        </dict>
    </dict>
</plist>
