<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>firstcharge_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,82},{237,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,72}}</string>
                <key>sourceSize</key>
                <string>{237,72}</string>
            </dict>
            <key>firstcharge_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,0},{24,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,33}}</string>
                <key>sourceSize</key>
                <string>{24,33}</string>
            </dict>
            <key>firstcharge_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,321},{66,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,63}}</string>
                <key>sourceSize</key>
                <string>{66,63}</string>
            </dict>
            <key>firstcharge_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,82},{238,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,91}}</string>
                <key>sourceSize</key>
                <string>{238,91}</string>
            </dict>
            <key>txt_cn_firstcharge_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,322},{83,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,73}}</string>
                <key>sourceSize</key>
                <string>{83,73}</string>
            </dict>
            <key>txt_cn_firstcharge_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,0},{126,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,39}}</string>
                <key>sourceSize</key>
                <string>{126,39}</string>
            </dict>
            <key>txt_cn_firstcharge_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,41},{124,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,39}}</string>
                <key>sourceSize</key>
                <string>{124,39}</string>
            </dict>
            <key>txt_cn_firstcharge_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{647,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{647,211}}</string>
                <key>sourceSize</key>
                <string>{647,211}</string>
            </dict>
            <key>txt_cn_firstcharge_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{652,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{652,208}}</string>
                <key>sourceSize</key>
                <string>{652,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>firstcharge.png</string>
            <key>size</key>
            <string>{819,421}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfe26d298bcf77dd90429190f9a99a4e$</string>
            <key>textureFileName</key>
            <string>firstcharge.png</string>
        </dict>
    </dict>
</plist>
