<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hl_exploration_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,531},{87,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,107}}</string>
                <key>sourceSize</key>
                <string>{87,107}</string>
            </dict>
            <key>hl_exploration_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,749},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>hl_exploration_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,903},{64,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,75}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
            <key>hl_exploration_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,531},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>hl_exploration_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,640},{87,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,107}}</string>
                <key>sourceSize</key>
                <string>{87,107}</string>
            </dict>
            <key>hl_exploration_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,826},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>hl_exploration_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,932},{64,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,75}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
            <key>hl_exploration_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,580},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>hl_exploration_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1},{528,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,123}}</string>
                <key>sourceSize</key>
                <string>{528,123}</string>
            </dict>
            <key>hl_exploration_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,542},{478,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,73}}</string>
                <key>sourceSize</key>
                <string>{478,73}</string>
            </dict>
            <key>hl_exploration_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,993},{42,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,25}}</string>
                <key>sourceSize</key>
                <string>{42,25}</string>
            </dict>
            <key>hl_exploration_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,542},{449,654}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,654}}</string>
                <key>sourceSize</key>
                <string>{449,654}</string>
            </dict>
            <key>hl_exploration_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{716,539}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{716,539}}</string>
                <key>sourceSize</key>
                <string>{716,539}</string>
            </dict>
            <key>hl_exploration_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,874},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>hl_exploration_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,812},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hl_exploration_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,749},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>hl_exploration_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,980},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>exploration.png</string>
            <key>size</key>
            <string>{867,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63d1b488ee468a5e18b73da8d8ae516b:e25e4f19c11534786d4fadd16063d6b0:7b6f6cfc4ece982421782a19d9c7d8c6$</string>
            <key>textureFileName</key>
            <string>exploration.png</string>
        </dict>
    </dict>
</plist>
