<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adventure_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,539},{90,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{90,44}}</string>
                <key>sourceSize</key>
                <string>{102,56}</string>
            </dict>
            <key>adventure_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,585},{102,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,56}}</string>
                <key>sourceSize</key>
                <string>{102,56}</string>
            </dict>
            <key>adventure_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,645},{108,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{108,58}}</string>
                <key>sourceSize</key>
                <string>{118,68}</string>
            </dict>
            <key>adventure_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,254},{118,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,68}}</string>
                <key>sourceSize</key>
                <string>{118,68}</string>
            </dict>
            <key>adventure_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,862},{78,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{78,62}}</string>
                <key>sourceSize</key>
                <string>{88,72}</string>
            </dict>
            <key>adventure_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,788},{88,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,72}}</string>
                <key>sourceSize</key>
                <string>{88,72}</string>
            </dict>
            <key>adventure_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,643},{100,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{100,71}}</string>
                <key>sourceSize</key>
                <string>{110,83}</string>
            </dict>
            <key>adventure_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,560},{110,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,83}}</string>
                <key>sourceSize</key>
                <string>{110,83}</string>
            </dict>
            <key>adventure_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,705},{89,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,81}}</string>
                <key>sourceSize</key>
                <string>{89,81}</string>
            </dict>
            <key>adventure_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,942},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>adventure_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,794},{63,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,53}}</string>
                <key>sourceSize</key>
                <string>{63,53}</string>
            </dict>
            <key>adventure_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,794},{63,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,58}}</string>
                <key>sourceSize</key>
                <string>{63,58}</string>
            </dict>
            <key>adventure_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,716},{88,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,76}}</string>
                <key>sourceSize</key>
                <string>{88,76}</string>
            </dict>
            <key>adventure_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,849},{62,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,59}}</string>
                <key>sourceSize</key>
                <string>{62,59}</string>
            </dict>
            <key>adventure_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,442},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>adventure_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,324},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>adventure_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,353},{93,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,96}}</string>
                <key>sourceSize</key>
                <string>{93,96}</string>
            </dict>
            <key>adventure_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,448},{94,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,89}}</string>
                <key>sourceSize</key>
                <string>{94,89}</string>
            </dict>
            <key>adventure_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,254},{97,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,94}}</string>
                <key>sourceSize</key>
                <string>{97,94}</string>
            </dict>
            <key>adventure_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,862},{74,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,60}}</string>
                <key>sourceSize</key>
                <string>{74,60}</string>
            </dict>
            <key>adventure_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{191,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,32}}</string>
                <key>sourceSize</key>
                <string>{191,32}</string>
            </dict>
            <key>adventure_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,938},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>adventure_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,910},{70,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,49}}</string>
                <key>sourceSize</key>
                <string>{70,49}</string>
            </dict>
            <key>adventure_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,716},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>adventure_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{214,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,218}}</string>
                <key>sourceSize</key>
                <string>{214,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>adventure.png</string>
            <key>size</key>
            <string>{214,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1461c5aed5622a829a3eac6c92b2e81c$</string>
            <key>textureFileName</key>
            <string>adventure.png</string>
        </dict>
    </dict>
</plist>
