<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adventuremine_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,59},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>adventuremine_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,183},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>adventuremine_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,192},{51,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{51,62}</string>
            </dict>
            <key>adventuremine_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,200},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>adventuremine_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,83},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>adventuremine_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,0},{139,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,81}}</string>
                <key>sourceSize</key>
                <string>{139,81}</string>
            </dict>
            <key>adventuremine_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{292,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,190}}</string>
                <key>sourceSize</key>
                <string>{292,190}</string>
            </dict>
            <key>adventuremine_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,200},{35,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>adventuremine_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,187},{96,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,56}}</string>
                <key>sourceSize</key>
                <string>{96,56}</string>
            </dict>
            <key>adventuremine_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,83},{102,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,114}}</string>
                <key>sourceSize</key>
                <string>{102,114}</string>
            </dict>
            <key>adventuremine_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,160},{26,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,21}}</string>
                <key>sourceSize</key>
                <string>{26,21}</string>
            </dict>
            <key>adventuremine_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,160},{38,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,49}}</string>
                <key>sourceSize</key>
                <string>{38,49}</string>
            </dict>
            <key>adventuremine_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,192},{249,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,49}}</string>
                <key>sourceSize</key>
                <string>{249,49}</string>
            </dict>
            <key>adventuremine_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,0},{57,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,30}}</string>
                <key>sourceSize</key>
                <string>{57,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>adventuremine.png</string>
            <key>size</key>
            <string>{489,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eca3b3f478d7f4dc13eadc6e5e21d85a$</string>
            <key>textureFileName</key>
            <string>adventuremine.png</string>
        </dict>
    </dict>
</plist>
