<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adventurewindow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{142,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,153}}</string>
                <key>sourceSize</key>
                <string>{142,153}</string>
            </dict>
            <key>adventurewindow_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,188},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>adventurewindow_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,242},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>adventurewindow_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,0},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>adventurewindow_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,260},{83,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,59}}</string>
                <key>sourceSize</key>
                <string>{83,59}</string>
            </dict>
            <key>adventurewindow_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,104},{114,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,34}}</string>
                <key>sourceSize</key>
                <string>{114,34}</string>
            </dict>
            <key>adventurewindow_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,242},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>adventurewindow_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,140},{105,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,118}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>adventurewindow_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,140},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>adventurewindow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,155},{142,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,126}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>adventurewindow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,188},{75,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,52}}</string>
                <key>sourceSize</key>
                <string>{75,52}</string>
            </dict>
            <key>adventurewindow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>adventurewindow_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,0},{114,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,30}}</string>
                <key>sourceSize</key>
                <string>{114,30}</string>
            </dict>
            <key>adventurewindow_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,102},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>adventurewindow_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,260},{63,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,82}}</string>
                <key>sourceSize</key>
                <string>{63,82}</string>
            </dict>
            <key>adventurewindow_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,265},{68,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,75}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>adventurewindow_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{124,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,138}}</string>
                <key>sourceSize</key>
                <string>{124,138}</string>
            </dict>
            <key>txt_cn_adventurewindow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,283},{41,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,131}}</string>
                <key>sourceSize</key>
                <string>{41,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>adventurewindow.png</string>
            <key>size</key>
            <string>{509,343}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b1afe0a2d86c5ea0dce1383696c93c6$</string>
            <key>textureFileName</key>
            <string>adventurewindow.png</string>
        </dict>
    </dict>
</plist>
