<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>subscribe_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,153},{210,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,86}}</string>
                <key>sourceSize</key>
                <string>{210,86}</string>
            </dict>
            <key>subscribe_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,0},{32,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,16}}</string>
                <key>sourceSize</key>
                <string>{32,16}</string>
            </dict>
            <key>subscribe_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{352,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,13}}</string>
                <key>sourceSize</key>
                <string>{352,13}</string>
            </dict>
            <key>subscribe_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,0},{86,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,13}}</string>
                <key>sourceSize</key>
                <string>{86,13}</string>
            </dict>
            <key>subscribe_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{421,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,47}}</string>
                <key>sourceSize</key>
                <string>{421,47}</string>
            </dict>
            <key>subscribe_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,95},{475,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,41}}</string>
                <key>sourceSize</key>
                <string>{475,41}</string>
            </dict>
            <key>subscribe_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,49},{421,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,44}}</string>
                <key>sourceSize</key>
                <string>{421,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>subscribe.png</string>
            <key>size</key>
            <string>{475,239}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b154357d69058c9946241224fd488b00$</string>
            <key>textureFileName</key>
            <string>subscribe.png</string>
        </dict>
    </dict>
</plist>
