<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>get_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,1843},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>txt_cn_sign_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1663},{109,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,74}}</string>
                <key>sourceSize</key>
                <string>{109,74}</string>
            </dict>
            <key>txt_cn_sign_get2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1560},{109,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,74}}</string>
                <key>sourceSize</key>
                <string>{109,74}</string>
            </dict>
            <key>txt_cn_welfare_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,884},{198,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,79}}</string>
                <key>sourceSize</key>
                <string>{198,79}</string>
            </dict>
            <key>txt_cn_welfare_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1319},{95,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,47}}</string>
                <key>sourceSize</key>
                <string>{95,47}</string>
            </dict>
            <key>txt_cn_welfare_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1139},{92,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,47}}</string>
                <key>sourceSize</key>
                <string>{92,47}</string>
            </dict>
            <key>txt_cn_welfare_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1650},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>txt_cn_welfare_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{493,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,116}}</string>
                <key>sourceSize</key>
                <string>{493,116}</string>
            </dict>
            <key>txt_cn_welfare_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1784},{65,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,23}}</string>
                <key>sourceSize</key>
                <string>{65,23}</string>
            </dict>
            <key>txt_cn_welfare_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1650},{75,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,22}}</string>
                <key>sourceSize</key>
                <string>{75,22}</string>
            </dict>
            <key>txt_cn_welfare_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1163},{176,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,31}}</string>
                <key>sourceSize</key>
                <string>{176,31}</string>
            </dict>
            <key>txt_cn_welfare_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,1705},{109,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,34}}</string>
                <key>sourceSize</key>
                <string>{109,34}</string>
            </dict>
            <key>txt_cn_welfare_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,118},{485,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,82}}</string>
                <key>sourceSize</key>
                <string>{485,82}</string>
            </dict>
            <key>txt_cn_welfare_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,955},{90,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,46}}</string>
                <key>sourceSize</key>
                <string>{90,46}</string>
            </dict>
            <key>txt_cn_welfare_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,204},{179,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,63}}</string>
                <key>sourceSize</key>
                <string>{179,63}</string>
            </dict>
            <key>txt_cn_welfare_charge_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1196},{170,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,69}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>txt_cn_welfare_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1428},{107,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,27}}</string>
                <key>sourceSize</key>
                <string>{107,27}</string>
            </dict>
            <key>txt_cn_welfare_title_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1813},{85,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,23}}</string>
                <key>sourceSize</key>
                <string>{85,23}</string>
            </dict>
            <key>txt_cn_welfare_title_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1906},{85,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,23}}</string>
                <key>sourceSize</key>
                <string>{85,23}</string>
            </dict>
            <key>txt_cn_welfare_title_bg8.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,810},{85,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,23}}</string>
                <key>sourceSize</key>
                <string>{85,23}</string>
            </dict>
            <key>txt_cn_welfare_wish_double.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,643},{220,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,43}}</string>
                <key>sourceSize</key>
                <string>{220,43}</string>
            </dict>
            <key>vip_extra.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1820},{97,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,98}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>welfare_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1426},{169,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,59}}</string>
                <key>sourceSize</key>
                <string>{169,59}</string>
            </dict>
            <key>welfare_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1457},{101,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,103}}</string>
                <key>sourceSize</key>
                <string>{101,103}</string>
            </dict>
            <key>welfare_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1113},{49,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,43}}</string>
                <key>sourceSize</key>
                <string>{49,43}</string>
            </dict>
            <key>welfare_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1055},{56,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,38}}</string>
                <key>sourceSize</key>
                <string>{56,38}</string>
            </dict>
            <key>welfare_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1187},{142,176}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{142,176}}</string>
                <key>sourceSize</key>
                <string>{146,176}</string>
            </dict>
            <key>welfare_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1758},{103,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,37}}</string>
                <key>sourceSize</key>
                <string>{103,37}</string>
            </dict>
            <key>welfare_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,118},{84,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,15}}</string>
                <key>sourceSize</key>
                <string>{84,15}</string>
            </dict>
            <key>welfare_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1106},{182,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,79}}</string>
                <key>sourceSize</key>
                <string>{182,79}</string>
            </dict>
            <key>welfare_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1331},{169,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,55}}</string>
                <key>sourceSize</key>
                <string>{169,55}</string>
            </dict>
            <key>welfare_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1620},{146,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,41}}</string>
                <key>sourceSize</key>
                <string>{146,41}</string>
            </dict>
            <key>welfare_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1727},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>welfare_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,1416},{44,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,61}}</string>
                <key>sourceSize</key>
                <string>{44,61}</string>
            </dict>
            <key>welfare_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,1494},{30,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,61}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>welfare_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,892},{44,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,61}}</string>
                <key>sourceSize</key>
                <string>{44,61}</string>
            </dict>
            <key>welfare_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,1462},{30,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,61}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>welfare_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1008},{43,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>welfare_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,1663},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>welfare_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1814},{80,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,39}}</string>
                <key>sourceSize</key>
                <string>{80,39}</string>
            </dict>
            <key>welfare_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1816},{71,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,88}}</string>
                <key>sourceSize</key>
                <string>{71,88}</string>
            </dict>
            <key>welfare_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,269},{171,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,182}}</string>
                <key>sourceSize</key>
                <string>{171,182}</string>
            </dict>
            <key>welfare_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1487},{131,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,158}}</string>
                <key>sourceSize</key>
                <string>{131,158}</string>
            </dict>
            <key>welfare_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1388},{146,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,163}}</string>
                <key>sourceSize</key>
                <string>{146,163}</string>
            </dict>
            <key>welfare_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,710},{180,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,39}}</string>
                <key>sourceSize</key>
                <string>{180,39}</string>
            </dict>
            <key>welfare_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,42},{70,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,5}}</string>
                <key>sourceSize</key>
                <string>{70,5}</string>
            </dict>
            <key>welfare_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,1814},{44,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,27}}</string>
                <key>sourceSize</key>
                <string>{44,27}</string>
            </dict>
            <key>welfare_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1211},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>welfare_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,688},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>welfare_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,0},{234,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,2}}</string>
                <key>sourceSize</key>
                <string>{234,2}</string>
            </dict>
            <key>welfare_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1814},{80,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,39}}</string>
                <key>sourceSize</key>
                <string>{80,39}</string>
            </dict>
            <key>welfare_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,567},{141,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,19}}</string>
                <key>sourceSize</key>
                <string>{141,19}</string>
            </dict>
            <key>welfare_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1021},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>welfare_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1267},{169,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,157}}</string>
                <key>sourceSize</key>
                <string>{169,157}</string>
            </dict>
            <key>welfare_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,965},{197,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,78}}</string>
                <key>sourceSize</key>
                <string>{197,78}</string>
            </dict>
            <key>welfare_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,810},{72,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,201}}</string>
                <key>sourceSize</key>
                <string>{72,201}</string>
            </dict>
            <key>welfare_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,897},{27,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,122}}</string>
                <key>sourceSize</key>
                <string>{27,122}</string>
            </dict>
            <key>welfare_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1735},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>welfare_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,1526},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,44}}</string>
                <key>sourceSize</key>
                <string>{60,44}</string>
            </dict>
            <key>welfare_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1674},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>welfare_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,383},{45,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,20}}</string>
                <key>sourceSize</key>
                <string>{45,20}</string>
            </dict>
            <key>welfare_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1851},{43,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,23}}</string>
                <key>sourceSize</key>
                <string>{43,23}</string>
            </dict>
            <key>welfare_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1164},{43,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,23}}</string>
                <key>sourceSize</key>
                <string>{43,23}</string>
            </dict>
            <key>welfare_bar_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1674},{59,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,33}}</string>
                <key>sourceSize</key>
                <string>{59,33}</string>
            </dict>
            <key>welfare_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1784},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>welfare_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,0},{40,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,8}}</string>
                <key>sourceSize</key>
                <string>{40,8}</string>
            </dict>
            <key>welfare_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1896},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>welfare_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1820},{89,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,40}}</string>
                <key>sourceSize</key>
                <string>{89,40}</string>
            </dict>
            <key>welfare_bg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,383},{114,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,299}}</string>
                <key>sourceSize</key>
                <string>{114,299}</string>
            </dict>
            <key>welfare_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,759},{237,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,72}}</string>
                <key>sourceSize</key>
                <string>{237,72}</string>
            </dict>
            <key>welfare_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,685},{237,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,72}}</string>
                <key>sourceSize</key>
                <string>{237,72}</string>
            </dict>
            <key>welfare_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1045},{187,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,59}}</string>
                <key>sourceSize</key>
                <string>{187,59}</string>
            </dict>
            <key>welfare_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1736},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>welfare_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1736},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>welfare_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1741},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>welfare_close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1609},{66,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,63}}</string>
                <key>sourceSize</key>
                <string>{66,63}</string>
            </dict>
            <key>welfare_crown.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1674},{58,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,50}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>welfare_discount_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1008},{184,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,153}}</string>
                <key>sourceSize</key>
                <string>{184,153}</string>
            </dict>
            <key>welfare_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,501},{226,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,140}}</string>
                <key>sourceSize</key>
                <string>{226,140}</string>
            </dict>
            <key>welfare_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,688},{120,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,211}}</string>
                <key>sourceSize</key>
                <string>{120,211}</string>
            </dict>
            <key>welfare_shenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1813},{81,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,86}}</string>
                <key>sourceSize</key>
                <string>{81,86}</string>
            </dict>
            <key>welfare_sit_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,202},{179,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,322}}</string>
                <key>sourceSize</key>
                <string>{179,322}</string>
            </dict>
            <key>welfare_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,442},{206,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,57}}</string>
                <key>sourceSize</key>
                <string>{206,57}</string>
            </dict>
            <key>welfare_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,499},{279,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,66}}</string>
                <key>sourceSize</key>
                <string>{279,66}</string>
            </dict>
            <key>welfare_title3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,949},{230,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,57}}</string>
                <key>sourceSize</key>
                <string>{230,57}</string>
            </dict>
            <key>welfare_title4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,626},{243,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,57}}</string>
                <key>sourceSize</key>
                <string>{243,57}</string>
            </dict>
            <key>welfare_title5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,891},{232,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,56}}</string>
                <key>sourceSize</key>
                <string>{232,56}</string>
            </dict>
            <key>welfare_title6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,833},{232,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,56}}</string>
                <key>sourceSize</key>
                <string>{232,56}</string>
            </dict>
            <key>welfare_title7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,567},{257,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,57}}</string>
                <key>sourceSize</key>
                <string>{257,57}</string>
            </dict>
            <key>welfare_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1911},{17,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,72}}</string>
                <key>sourceSize</key>
                <string>{17,72}</string>
            </dict>
            <key>welfare_title_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1739},{17,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,109}}</string>
                <key>sourceSize</key>
                <string>{17,109}</string>
            </dict>
            <key>welfare_title_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1797},{99,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,21}}</string>
                <key>sourceSize</key>
                <string>{99,21}</string>
            </dict>
            <key>welfare_title_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1188},{99,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,21}}</string>
                <key>sourceSize</key>
                <string>{99,21}</string>
            </dict>
            <key>welfare_title_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1896},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>welfare_title_bg42.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1189},{128,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,47}}</string>
                <key>sourceSize</key>
                <string>{128,47}</string>
            </dict>
            <key>welfare_title_bg43.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1901},{86,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,31}}</string>
                <key>sourceSize</key>
                <string>{86,31}</string>
            </dict>
            <key>welfare_title_bg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1047},{90,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>welfare_title_bg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1814},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>welfare_title_bg7.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1572},{69,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,35}}</string>
                <key>sourceSize</key>
                <string>{69,35}</string>
            </dict>
            <key>welfare_title_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1636},{124,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,98}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>welfare_title_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1319},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>welfare_unselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1536},{112,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,159}}</string>
                <key>sourceSize</key>
                <string>{112,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>welfare.png</string>
            <key>size</key>
            <string>{507,1932}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3edddb8e6b536aba2cccea5f399576fe$</string>
            <key>textureFileName</key>
            <string>welfare.png</string>
        </dict>
    </dict>
</plist>
