<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elitesummon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,0},{241,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,82}}</string>
                <key>sourceSize</key>
                <string>{241,82}</string>
            </dict>
            <key>elitesummon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,0},{241,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,82}}</string>
                <key>sourceSize</key>
                <string>{241,82}</string>
            </dict>
            <key>elitesummon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,0},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>elitesummon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,84},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>elitesummon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,0},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>elitesummon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>txt_cn_elitesummon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,0},{138,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,75}}</string>
                <key>sourceSize</key>
                <string>{138,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elitesummon.png</string>
            <key>size</key>
            <string>{886,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f6c716b86b85e2945702d7aa3d69143$</string>
            <key>textureFileName</key>
            <string>elitesummon.png</string>
        </dict>
    </dict>
</plist>
