<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hl_shop_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,150},{163,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,37}}</string>
                <key>sourceSize</key>
                <string>{163,37}</string>
            </dict>
            <key>hl_shop_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{130,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,107}}</string>
                <key>sourceSize</key>
                <string>{130,107}</string>
            </dict>
            <key>hl_shop_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,291},{124,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,107}}</string>
                <key>sourceSize</key>
                <string>{124,107}</string>
            </dict>
            <key>hl_shop_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,182},{130,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,107}}</string>
                <key>sourceSize</key>
                <string>{130,107}</string>
            </dict>
            <key>hl_shop_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{722,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{722,78}}</string>
                <key>sourceSize</key>
                <string>{722,78}</string>
            </dict>
            <key>hl_shop_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,150},{643,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{643,25}}</string>
                <key>sourceSize</key>
                <string>{643,25}</string>
            </dict>
            <key>hl_shop_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,182},{637,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{637,78}}</string>
                <key>sourceSize</key>
                <string>{637,78}</string>
            </dict>
            <key>hl_shop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,315},{122,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,35}}</string>
                <key>sourceSize</key>
                <string>{122,35}</string>
            </dict>
            <key>hl_shop_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,150},{618,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,46}}</string>
                <key>sourceSize</key>
                <string>{618,46}</string>
            </dict>
            <key>hl_shop_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,150},{616,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,79}}</string>
                <key>sourceSize</key>
                <string>{616,79}</string>
            </dict>
            <key>hl_shop_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,400},{615,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,78}}</string>
                <key>sourceSize</key>
                <string>{615,78}</string>
            </dict>
            <key>hl_shop_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,839},{211,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,30}}</string>
                <key>sourceSize</key>
                <string>{211,30}</string>
            </dict>
            <key>hl_shop_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>hl_shop_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,770},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>hl_shop_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,770},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>hl_shop_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,795},{160,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,42}}</string>
                <key>sourceSize</key>
                <string>{160,42}</string>
            </dict>
            <key>hl_shop_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,150},{211,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,30}}</string>
                <key>sourceSize</key>
                <string>{211,30}</string>
            </dict>
            <key>hl_shop_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,961},{28,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,168}}</string>
                <key>sourceSize</key>
                <string>{28,168}</string>
            </dict>
            <key>hl_shop_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,821},{107,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,194}}</string>
                <key>sourceSize</key>
                <string>{107,194}</string>
            </dict>
            <key>hl_shop_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,871},{171,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,88}}</string>
                <key>sourceSize</key>
                <string>{171,88}</string>
            </dict>
            <key>hl_shop_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{495,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,146}}</string>
                <key>sourceSize</key>
                <string>{495,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5e318ef1fcd9c09eaf1b8c4ac8ad797:1920feca28ac973b45d85ca124596418:0c3382addd4ddbdf7ff3d469abaa2ba6$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
