<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>newfirstcharge_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,0},{237,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,72}}</string>
                <key>sourceSize</key>
                <string>{237,72}</string>
            </dict>
            <key>newfirstcharge_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,85},{30,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,38}</string>
            </dict>
            <key>newfirstcharge_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,61},{155,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,55}}</string>
                <key>sourceSize</key>
                <string>{155,55}</string>
            </dict>
            <key>newfirstcharge_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,0},{155,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,59}}</string>
                <key>sourceSize</key>
                <string>{155,59}</string>
            </dict>
            <key>txt_cn_newfirstcharge_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{555,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{555,127}}</string>
                <key>sourceSize</key>
                <string>{555,127}</string>
            </dict>
            <key>txt_cn_newfirstcharge_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,0},{585,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{585,122}}</string>
                <key>sourceSize</key>
                <string>{585,122}</string>
            </dict>
            <key>txt_cn_newfirstcharge_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,0},{83,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,73}}</string>
                <key>sourceSize</key>
                <string>{83,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newfirstcharge.png</string>
            <key>size</key>
            <string>{1613,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fa6fd00967c5680c179abd6ced689be$</string>
            <key>textureFileName</key>
            <string>newfirstcharge.png</string>
        </dict>
    </dict>
</plist>
