<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>limitaction_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,4},{41,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,46}}</string>
                <key>sourceSize</key>
                <string>{41,46}</string>
            </dict>
            <key>limitaction_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,0},{49,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,43}}</string>
                <key>sourceSize</key>
                <string>{49,43}</string>
            </dict>
            <key>limitaction_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,0},{50,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,2}}</string>
                <key>sourceSize</key>
                <string>{50,2}</string>
            </dict>
            <key>limitaction_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,0},{89,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,49}}</string>
                <key>sourceSize</key>
                <string>{89,49}</string>
            </dict>
            <key>limitaction_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,0},{89,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,49}}</string>
                <key>sourceSize</key>
                <string>{89,49}</string>
            </dict>
            <key>limitaction_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{89,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,49}}</string>
                <key>sourceSize</key>
                <string>{89,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>limitactiontips.png</string>
            <key>size</key>
            <string>{368,49}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec520e781520d811e1f5dbf020b622bd$</string>
            <key>textureFileName</key>
            <string>limitactiontips.png</string>
        </dict>
    </dict>
</plist>
