<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arenachampion_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,783},{1,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,45}}</string>
                <key>sourceSize</key>
                <string>{1,45}</string>
            </dict>
            <key>arenachampion_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,505},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>arenachampion_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,734},{14,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,49}}</string>
                <key>sourceSize</key>
                <string>{14,49}</string>
            </dict>
            <key>arenachampion_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,553},{14,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,45}}</string>
                <key>sourceSize</key>
                <string>{14,45}</string>
            </dict>
            <key>arenachampion_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,553},{235,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,209}}</string>
                <key>sourceSize</key>
                <string>{235,209}</string>
            </dict>
            <key>arenachampion_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,783},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>arenachampion_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,831},{92,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,110}}</string>
                <key>sourceSize</key>
                <string>{92,110}</string>
            </dict>
            <key>arenachampion_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,505},{193,652}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,652}}</string>
                <key>sourceSize</key>
                <string>{193,652}</string>
            </dict>
            <key>arenachampion_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,824},{23,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,50}}</string>
                <key>sourceSize</key>
                <string>{23,50}</string>
            </dict>
            <key>arenachampion_1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,831},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>arenachampion_1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{416,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,502}}</string>
                <key>sourceSize</key>
                <string>{416,502}</string>
            </dict>
            <key>arenachampion_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1},{416,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,502}}</string>
                <key>sourceSize</key>
                <string>{416,502}</string>
            </dict>
            <key>arenachampion_1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,866},{28,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,52}}</string>
                <key>sourceSize</key>
                <string>{28,52}</string>
            </dict>
            <key>arenachampion_1013.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,782},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>arenachampion_1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,820},{2,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,8}}</string>
                <key>sourceSize</key>
                <string>{2,8}</string>
            </dict>
            <key>arenachampion_1015.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,939},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>arenachampion_1016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,850},{6,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,2}}</string>
                <key>sourceSize</key>
                <string>{6,2}</string>
            </dict>
            <key>arenachampion_1017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,820},{28,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,48}}</string>
                <key>sourceSize</key>
                <string>{28,48}</string>
            </dict>
            <key>arenachampion_1018.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,904},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>arenachampion_1019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,888},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>arenachampion_1020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,764},{58,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,40}}</string>
                <key>sourceSize</key>
                <string>{58,40}</string>
            </dict>
            <key>arenachampion_1021.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,505},{153,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,165}}</string>
                <key>sourceSize</key>
                <string>{153,165}</string>
            </dict>
            <key>arenachampion_1022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,896},{57,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,37}}</string>
                <key>sourceSize</key>
                <string>{57,37}</string>
            </dict>
            <key>arenachampion_1023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,849},{57,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,37}}</string>
                <key>sourceSize</key>
                <string>{57,37}</string>
            </dict>
            <key>arenachampion_1024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,429},{84,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,79}}</string>
                <key>sourceSize</key>
                <string>{84,79}</string>
            </dict>
            <key>arenachampion_1025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,515},{84,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,79}}</string>
                <key>sourceSize</key>
                <string>{84,79}</string>
            </dict>
            <key>arenachampion_1026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,853},{62,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,67}}</string>
                <key>sourceSize</key>
                <string>{62,67}</string>
            </dict>
            <key>arenachampion_1027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,394},{13,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,26}}</string>
                <key>sourceSize</key>
                <string>{13,26}</string>
            </dict>
            <key>arenachampion_1028.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,734},{13,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,26}}</string>
                <key>sourceSize</key>
                <string>{13,26}</string>
            </dict>
            <key>arenachampion_1029.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,843},{87,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,95}}</string>
                <key>sourceSize</key>
                <string>{87,95}</string>
            </dict>
            <key>arenachampion_1030.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,866},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>arenachampion_1031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,764},{87,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,94}}</string>
                <key>sourceSize</key>
                <string>{87,94}</string>
            </dict>
            <key>arenachampion_1032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,853},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>arenachampion_1033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,750},{250,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,196}}</string>
                <key>sourceSize</key>
                <string>{250,196}</string>
            </dict>
            <key>arenachampion_1034.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,700},{131,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,141}}</string>
                <key>sourceSize</key>
                <string>{131,141}</string>
            </dict>
            <key>arenachampion_1035.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,750},{258,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,114}}</string>
                <key>sourceSize</key>
                <string>{258,114}</string>
            </dict>
            <key>arenachampion_1036.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,866},{77,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,73}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>arenachampion_1037.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,553},{314,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,82}}</string>
                <key>sourceSize</key>
                <string>{314,82}</string>
            </dict>
            <key>arenachampion_1038.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,892},{60,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,35}}</string>
                <key>sourceSize</key>
                <string>{60,35}</string>
            </dict>
            <key>arenachampion_1039.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,637},{314,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,82}}</string>
                <key>sourceSize</key>
                <string>{314,82}</string>
            </dict>
            <key>arenachampion_1040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,850},{57,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,34}}</string>
                <key>sourceSize</key>
                <string>{57,34}</string>
            </dict>
            <key>hl_arenachampion_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,764},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>hl_arenachampion_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,1},{274,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,540}}</string>
                <key>sourceSize</key>
                <string>{274,540}</string>
            </dict>
            <key>hl_arenachampion_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,700},{426,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,48}}</string>
                <key>sourceSize</key>
                <string>{426,48}</string>
            </dict>
            <key>hl_arenachampion_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,700},{82,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,32}}</string>
                <key>sourceSize</key>
                <string>{82,32}</string>
            </dict>
            <key>hl_arenachampion_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,892},{60,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,36}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>hl_arenachampion_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,601},{95,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,89}}</string>
                <key>sourceSize</key>
                <string>{95,89}</string>
            </dict>
            <key>hl_arenachampion_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,692},{95,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,89}}</string>
                <key>sourceSize</key>
                <string>{95,89}</string>
            </dict>
            <key>hl_arenachampion_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,277},{274,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,540}}</string>
                <key>sourceSize</key>
                <string>{274,540}</string>
            </dict>
            <key>hl_arenachampion_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,1},{426,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,48}}</string>
                <key>sourceSize</key>
                <string>{426,48}</string>
            </dict>
            <key>hl_arenachampion_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,721},{82,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,32}}</string>
                <key>sourceSize</key>
                <string>{82,32}</string>
            </dict>
            <key>hl_arenachampion_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,843},{59,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,34}}</string>
                <key>sourceSize</key>
                <string>{59,34}</string>
            </dict>
            <key>hl_arenachampion_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,866},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>hl_arenachampion_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,783},{60,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,35}}</string>
                <key>sourceSize</key>
                <string>{60,35}</string>
            </dict>
            <key>hl_arenachampion_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,831},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>hl_arenachampion_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,848},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>hl_arenachampion_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,672},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>hl_arenachampion_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,721},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>hl_arenachampion_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,721},{108,142}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{108,142}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>hl_arenachampion_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,782},{108,142}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{108,142}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>txt_cn_arenachampion_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,210},{182,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,29}}</string>
                <key>sourceSize</key>
                <string>{182,29}</string>
            </dict>
            <key>txt_cn_arenachampion_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,831},{96,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,105}}</string>
                <key>sourceSize</key>
                <string>{96,105}</string>
            </dict>
            <key>txt_cn_arenachampion_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,1},{207,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,29}}</string>
                <key>sourceSize</key>
                <string>{207,29}</string>
            </dict>
            <key>txt_cn_arenachampion_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,886},{58,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,32}}</string>
                <key>sourceSize</key>
                <string>{58,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>arenachampion.png</string>
            <key>size</key>
            <string>{1459,948}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12e30da1be3613ee293db3de19b0b63d:3ab0fd9e006236d15c49cf3738abe69b:3c64f9220225c6fcc5c5d2fb7e5a224b$</string>
            <key>textureFileName</key>
            <string>arenachampion.png</string>
        </dict>
    </dict>
</plist>
