<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arenaloop_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,885},{59,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,33}}</string>
                <key>sourceSize</key>
                <string>{59,33}</string>
            </dict>
            <key>arenaloop_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,882},{43,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,23}}</string>
                <key>sourceSize</key>
                <string>{43,23}</string>
            </dict>
            <key>arenaloop_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,927},{43,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,23}}</string>
                <key>sourceSize</key>
                <string>{43,23}</string>
            </dict>
            <key>arenaloop_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,749},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>arenaloop_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,42},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>arenaloop_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,920},{141,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,54}}</string>
                <key>sourceSize</key>
                <string>{141,54}</string>
            </dict>
            <key>arenaloop_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,495},{89,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,45}}</string>
                <key>sourceSize</key>
                <string>{89,45}</string>
            </dict>
            <key>arenaloop_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1016},{151,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,143}}</string>
                <key>sourceSize</key>
                <string>{151,143}</string>
            </dict>
            <key>arenaloop_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1207},{150,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,39}}</string>
                <key>sourceSize</key>
                <string>{150,39}</string>
            </dict>
            <key>arenaloop_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,952},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>arenaloop_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,779},{101,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,23}}</string>
                <key>sourceSize</key>
                <string>{101,23}</string>
            </dict>
            <key>arenaloop_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,137},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>arenaloop_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,232},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>hl_arenaloop_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1169},{130,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,142}}</string>
                <key>sourceSize</key>
                <string>{130,142}</string>
            </dict>
            <key>hl_arenaloop_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,884},{130,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,144}}</string>
                <key>sourceSize</key>
                <string>{130,144}</string>
            </dict>
            <key>hl_arenaloop_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{170,797}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,797}}</string>
                <key>sourceSize</key>
                <string>{170,797}</string>
            </dict>
            <key>hl_arenaloop_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,1359},{619,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,35}}</string>
                <key>sourceSize</key>
                <string>{619,35}</string>
            </dict>
            <key>hl_arenaloop_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1359},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>hl_arenaloop_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1359},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>hl_arenaloop_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,711},{16,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,32}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>hl_arenaloop_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1333},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>hl_arenaloop_1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,2},{98,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,38}}</string>
                <key>sourceSize</key>
                <string>{98,38}</string>
            </dict>
            <key>hl_arenaloop_1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1301},{343,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,138}}</string>
                <key>sourceSize</key>
                <string>{343,138}</string>
            </dict>
            <key>hl_arenaloop_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1646},{343,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,131}}</string>
                <key>sourceSize</key>
                <string>{343,131}</string>
            </dict>
            <key>hl_arenaloop_1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1396},{343,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,131}}</string>
                <key>sourceSize</key>
                <string>{343,131}</string>
            </dict>
            <key>hl_arenaloop_1013.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,542},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>hl_arenaloop_1015.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1063},{142,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,52}}</string>
                <key>sourceSize</key>
                <string>{142,52}</string>
            </dict>
            <key>hl_arenaloop_1016.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,630},{79,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,85}}</string>
                <key>sourceSize</key>
                <string>{79,85}</string>
            </dict>
            <key>hl_arenaloop_1017.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,406},{89,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,87}}</string>
                <key>sourceSize</key>
                <string>{89,87}</string>
            </dict>
            <key>hl_arenaloop_1018.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,327},{93,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,77}}</string>
                <key>sourceSize</key>
                <string>{93,77}</string>
            </dict>
            <key>hl_arenaloop_1021.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1185},{107,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,41}}</string>
                <key>sourceSize</key>
                <string>{107,41}</string>
            </dict>
            <key>hl_arenaloop_1022.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1405},{108,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,32}}</string>
                <key>sourceSize</key>
                <string>{108,32}</string>
            </dict>
            <key>hl_arenaloop_1023.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1451},{106,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,32}}</string>
                <key>sourceSize</key>
                <string>{106,32}</string>
            </dict>
            <key>hl_arenaloop_1024.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1439},{108,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,32}}</string>
                <key>sourceSize</key>
                <string>{108,32}</string>
            </dict>
            <key>hl_arenaloop_1025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{708,919}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{708,919}}</string>
                <key>sourceSize</key>
                <string>{708,919}</string>
            </dict>
            <key>hl_arenaloop_1026.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,749},{74,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,134}}</string>
                <key>sourceSize</key>
                <string>{74,134}</string>
            </dict>
            <key>hl_arenaloop_1027.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,996},{187,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,41}}</string>
                <key>sourceSize</key>
                <string>{187,41}</string>
            </dict>
            <key>hl_arenaloop_1032.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,1294},{109,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,38}}</string>
                <key>sourceSize</key>
                <string>{109,38}</string>
            </dict>
            <key>hl_arenaloop_1033.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,711},{78,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,36}}</string>
                <key>sourceSize</key>
                <string>{78,36}</string>
            </dict>
            <key>hl_arenaloop_1034.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,712},{619,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,119}}</string>
                <key>sourceSize</key>
                <string>{619,119}</string>
            </dict>
            <key>hl_arenaloop_1035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1405},{620,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,148}}</string>
                <key>sourceSize</key>
                <string>{620,148}</string>
            </dict>
            <key>hl_arenaloop_1036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,542},{18,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,9}}</string>
                <key>sourceSize</key>
                <string>{18,9}</string>
            </dict>
            <key>hl_arenaloop_1037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,42},{2,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,90}}</string>
                <key>sourceSize</key>
                <string>{2,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>arenaloop.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:521fa6721575b27e74794b6826b6afa8:4b422c9dae828b963386e0e82c2bea77:2c76bee901334f949a429b495f24d1c5$</string>
            <key>textureFileName</key>
            <string>arenaloop.png</string>
        </dict>
    </dict>
</plist>
