<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>resource/arena/segment/arenaenter_1000.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,0},{222,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,340}</string>
			</dict>
			<key>resource/arena/segment/arenaenter_1000_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{222,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{222,340}</string>
			</dict>
			<key>resource/arena/segment/arenaenter_1000_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,300},{40,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,172}</string>
			</dict>
			<key>resource/arena/segment/arenaenter_1001.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,300},{222,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{222,340}</string>
			</dict>
			<key>resource/arena/segment/arenaenter_1001_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,340},{222,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,340}</string>
			</dict>
			<key>resource/arena/segment/arenaenter_1001_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,472},{40,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,172}</string>
			</dict>
			<key>resource/arena/segment/arenaenter_1002.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,644},{222,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{222,340}</string>
			</dict>
			<key>resource/arena/segment/arenaenter_1002_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,680},{222,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,340}</string>
			</dict>
			<key>resource/arena/segment/arenaenter_1002_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,843},{40,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,172}</string>
			</dict>
			<key>resource/arena/segment/arenaenter_1003.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,984},{35,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,54}</string>
			</dict>
			<key>resource/arena/segment/arenaenter_1004.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,866},{208,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,118}</string>
			</dict>
			<key>resource/arena/segment/arenaenter_1005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,843},{359,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{359,164}</string>
			</dict>
			<key>resource/arena/segment/arenaenter_1006.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,654},{189,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,54}</string>
			</dict>
			<key>resource/arena/segment/arenaenter_1007.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,0},{286,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,54}</string>
			</dict>
			<key>resource/arena/segment/arenaenter_1008.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,286},{184,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,61}</string>
			</dict>
			<key>resource/arena/segment/arenaenter_1009.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,470},{184,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,61}</string>
			</dict>
			<key>resource/arena/segment/arenaenter_1010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,522},{64,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,73}</string>
			</dict>
			<key>resource/arena/segment/arenaenter_1011.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,984},{54,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,39}</string>
			</dict>
			<key>resource/arena/segment/arenaenter_1012.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,984},{65,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,38}</string>
			</dict>
			<key>resource/arena/segment/arenaenter_1013.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,984},{62,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,39}</string>
			</dict>
			<key>resource/arena/segment/arenaenter_huajuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{720,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{720,300}</string>
			</dict>
			<key>resource/arena/segment/arenaenter_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,948},{71,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,76}</string>
			</dict>
			<key>resource/arena/segment/arenaenter_role_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,522},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>resource/arena/segment/arenaenter_zhuli.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,866},{80,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,82}</string>
			</dict>
			<key>resource/arena/segment/txt_cn_arenaenter_1014.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,928},{85,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,32}</string>
			</dict>
			<key>resource/arena/segment/txt_cn_arenaenter_1015.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,843},{85,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,33}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>arenaenter.png</string>
			<key>realTextureFileName</key>
			<string>arenaenter.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>