<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huanling-zhongjiandikuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{55,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,187}}</string>
                <key>sourceSize</key>
                <string>{55,187}</string>
            </dict>
            <key>scene_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,425},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>scene_icon_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,444},{75,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{75,80}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>scene_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,771},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>txt_cn_scene_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,771},{51,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{51,56}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>txt_cn_scene_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,359},{83,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{83,60}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>txt_cn_scene_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{83,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{83,60}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>txt_cn_scene_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,189},{83,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{83,60}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>txt_cn_scene_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,0},{83,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{83,62}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>txt_cn_scene_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,650},{53,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{53,58}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>txt_cn_scene_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,526},{75,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{75,60}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>txt_cn_scene_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,85},{83,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{83,60}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>txt_cn_scene_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,650},{59,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{59,56}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>txt_cn_scene_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,710},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{57,58}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>txt_cn_scene_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,711},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{57,58}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>txt_cn_scene_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,588},{51,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{51,60}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>txt_cn_scene_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,340},{83,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{83,58}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>txt_cn_scene_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,255},{83,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{83,58}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>txt_cn_scene_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,170},{83,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{83,58}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>txt_cn_scene_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,588},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{57,60}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>centerscene.png</string>
            <key>size</key>
            <string>{120,827}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06a575eaa01cb1fa409cf4fa83705fa1$</string>
            <key>textureFileName</key>
            <string>centerscene.png</string>
        </dict>
    </dict>
</plist>
