<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>actiondial_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,63},{18,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,40}}</string>
                <key>sourceSize</key>
                <string>{18,40}</string>
            </dict>
            <key>actiondial_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,31},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>txt_cn_actiondial_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,147},{99,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,56}}</string>
                <key>sourceSize</key>
                <string>{99,56}</string>
            </dict>
            <key>txt_cn_actiondial_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,89},{99,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,56}}</string>
                <key>sourceSize</key>
                <string>{99,56}</string>
            </dict>
            <key>txt_cn_actiondial_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,31},{99,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,56}}</string>
                <key>sourceSize</key>
                <string>{99,56}</string>
            </dict>
            <key>txt_cn_actiondial_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{118,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,29}}</string>
                <key>sourceSize</key>
                <string>{118,29}</string>
            </dict>
            <key>txt_cn_actiondial_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,147},{97,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,55}}</string>
                <key>sourceSize</key>
                <string>{97,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>actiondial.png</string>
            <key>size</key>
            <string>{128,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c6e4818c1307e8a78a549ef47953404$</string>
            <key>textureFileName</key>
            <string>actiondial.png</string>
        </dict>
    </dict>
</plist>
