<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>actionfund_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,0},{105,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,25}}</string>
                <key>sourceSize</key>
                <string>{105,25}</string>
            </dict>
            <key>actionfund_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{108,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,32}}</string>
                <key>sourceSize</key>
                <string>{108,32}</string>
            </dict>
            <key>actionfund_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,0},{76,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,29}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
            <key>actionfund_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{86,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,28}}</string>
                <key>sourceSize</key>
                <string>{86,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>actionfund.png</string>
            <key>size</key>
            <string>{381,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee0236dbf6bd6e26199716bfb299f10a$</string>
            <key>textureFileName</key>
            <string>actionfund.png</string>
        </dict>
    </dict>
</plist>
