<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_limit_group_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,0},{136,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,170}}</string>
                <key>sourceSize</key>
                <string>{136,170}</string>
            </dict>
            <key>action_limit_group_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,147},{53,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,33}}</string>
                <key>sourceSize</key>
                <string>{53,33}</string>
            </dict>
            <key>action_limit_group_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,70},{136,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,112}}</string>
                <key>sourceSize</key>
                <string>{136,112}</string>
            </dict>
            <key>action_limit_group_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,70},{192,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,75}}</string>
                <key>sourceSize</key>
                <string>{192,75}</string>
            </dict>
            <key>action_limit_group_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,147},{53,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,46}}</string>
                <key>sourceSize</key>
                <string>{53,46}</string>
            </dict>
            <key>action_limit_group_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,147},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>action_limit_group_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,172},{148,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,11}}</string>
                <key>sourceSize</key>
                <string>{148,11}</string>
            </dict>
            <key>txt_cn_action_limit_group_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{346,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,68}}</string>
                <key>sourceSize</key>
                <string>{346,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>actionlimitgroup.png</string>
            <key>size</key>
            <string>{484,193}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e07b8c226ca17a3f332793eb69a458a1$</string>
            <key>textureFileName</key>
            <string>actionlimitgroup.png</string>
        </dict>
    </dict>
</plist>
