<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mall_skin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,65},{123,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,325}}</string>
                <key>sourceSize</key>
                <string>{123,325}</string>
            </dict>
            <key>mall_skin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,190},{12,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,32}}</string>
                <key>sourceSize</key>
                <string>{12,32}</string>
            </dict>
            <key>mall_skin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,0},{198,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,50}}</string>
                <key>sourceSize</key>
                <string>{198,50}</string>
            </dict>
            <key>mall_skin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,65},{86,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,82}}</string>
                <key>sourceSize</key>
                <string>{86,82}</string>
            </dict>
            <key>mall_skin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,0},{10,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,36}}</string>
                <key>sourceSize</key>
                <string>{10,36}</string>
            </dict>
            <key>mall_skin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,66},{42,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,88}}</string>
                <key>sourceSize</key>
                <string>{42,88}</string>
            </dict>
            <key>mall_skin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,153},{75,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,46}}</string>
                <key>sourceSize</key>
                <string>{75,46}</string>
            </dict>
            <key>mall_skin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,0},{72,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,64}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>mall_skin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,156},{26,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,93}}</string>
                <key>sourceSize</key>
                <string>{26,93}</string>
            </dict>
            <key>mall_skin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,0},{399,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,63}}</string>
                <key>sourceSize</key>
                <string>{399,63}</string>
            </dict>
            <key>txt_cn_mall_skin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,66},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>txt_cn_mall_skin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{301,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,205}}</string>
                <key>sourceSize</key>
                <string>{301,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mall_skin.png</string>
            <key>size</key>
            <string>{874,205}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e715fcffcd4f07c565964e8d3afcc863$</string>
            <key>textureFileName</key>
            <string>mall_skin.png</string>
        </dict>
    </dict>
</plist>
