<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,0},{88,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,81}}</string>
                <key>sourceSize</key>
                <string>{88,81}</string>
            </dict>
            <key>face_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,66},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>face_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,0},{228,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,64}}</string>
                <key>sourceSize</key>
                <string>{228,64}</string>
            </dict>
            <key>face_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>face_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>set_name_btn_random.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,66},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>txt_cn_face_use.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,90},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,34}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>txt_cn_face_using.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,66},{69,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,33}}</string>
                <key>sourceSize</key>
                <string>{69,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>face.png</string>
            <key>size</key>
            <string>{555,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60b05dc9dd4a7cc68e4896a87d75e1dc$</string>
            <key>textureFileName</key>
            <string>face.png</string>
        </dict>
    </dict>
</plist>
