<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>actiontimecollect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{401,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,146}}</string>
                <key>sourceSize</key>
                <string>{401,146}</string>
            </dict>
            <key>actiontimecollect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,148},{130,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,48}}</string>
                <key>sourceSize</key>
                <string>{130,48}</string>
            </dict>
            <key>actiontimecollect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,148},{95,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,74}}</string>
                <key>sourceSize</key>
                <string>{95,74}</string>
            </dict>
            <key>actiontimecollect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,148},{119,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,37}}</string>
                <key>sourceSize</key>
                <string>{119,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>actiontimecollect.png</string>
            <key>size</key>
            <string>{401,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a9a22322714a8530c83d589ab2e60e5$</string>
            <key>textureFileName</key>
            <string>actiontimecollect.png</string>
        </dict>
    </dict>
</plist>
