<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hl_ladder_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,256},{82,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,116}}</string>
                <key>sourceSize</key>
                <string>{82,116}</string>
            </dict>
            <key>hl_ladder_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,186}}</string>
                <key>sourceSize</key>
                <string>{720,186}</string>
            </dict>
            <key>hl_ladder_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,99},{56,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,102}}</string>
                <key>sourceSize</key>
                <string>{56,102}</string>
            </dict>
            <key>hl_ladder_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,386},{50,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,104}}</string>
                <key>sourceSize</key>
                <string>{50,104}</string>
            </dict>
            <key>hl_ladder_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,340},{44,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,106}}</string>
                <key>sourceSize</key>
                <string>{44,106}</string>
            </dict>
            <key>hl_ladder_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,359},{36,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,106}}</string>
                <key>sourceSize</key>
                <string>{36,106}</string>
            </dict>
            <key>hl_ladder_1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,438},{38,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,104}}</string>
                <key>sourceSize</key>
                <string>{38,104}</string>
            </dict>
            <key>hl_ladder_1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,838},{178,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,208}}</string>
                <key>sourceSize</key>
                <string>{178,208}</string>
            </dict>
            <key>hl_ladder_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,618},{166,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,206}}</string>
                <key>sourceSize</key>
                <string>{166,206}</string>
            </dict>
            <key>hl_ladder_1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,359},{152,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,198}}</string>
                <key>sourceSize</key>
                <string>{152,198}</string>
            </dict>
            <key>hl_ladder_1013.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,467},{136,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,192}}</string>
                <key>sourceSize</key>
                <string>{136,192}</string>
            </dict>
            <key>hl_ladder_1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,470},{146,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,188}}</string>
                <key>sourceSize</key>
                <string>{146,188}</string>
            </dict>
            <key>hl_ladder_1015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{138,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,90}}</string>
                <key>sourceSize</key>
                <string>{138,90}</string>
            </dict>
            <key>hl_ladder_1016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{136,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,82}}</string>
                <key>sourceSize</key>
                <string>{136,82}</string>
            </dict>
            <key>hl_ladder_1017.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,671},{134,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,74}}</string>
                <key>sourceSize</key>
                <string>{134,74}</string>
            </dict>
            <key>hl_ladder_1018.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,190},{128,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,64}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>hl_ladder_1019.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,661},{132,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,62}}</string>
                <key>sourceSize</key>
                <string>{132,62}</string>
            </dict>
            <key>hl_ladder_1020.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,54},{210,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,238}}</string>
                <key>sourceSize</key>
                <string>{210,238}</string>
            </dict>
            <key>hl_ladder_1030.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,661},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>hl_ladder_1031.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,429},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>hl_ladder_1032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{590,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,167}}</string>
                <key>sourceSize</key>
                <string>{590,167}</string>
            </dict>
            <key>ladder_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{243,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,50}}</string>
                <key>sourceSize</key>
                <string>{243,50}</string>
            </dict>
            <key>ladder_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{181,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,54}}</string>
                <key>sourceSize</key>
                <string>{181,54}</string>
            </dict>
            <key>ladder_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,429},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>ladder_1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,67},{57,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,30}}</string>
                <key>sourceSize</key>
                <string>{57,30}</string>
            </dict>
            <key>ladder_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,618},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>ladder_1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{218,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,62}}</string>
                <key>sourceSize</key>
                <string>{218,62}</string>
            </dict>
            <key>ladder_1013.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,618},{167,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,37}}</string>
                <key>sourceSize</key>
                <string>{167,37}</string>
            </dict>
            <key>ladder_1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,266},{223,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,209}}</string>
                <key>sourceSize</key>
                <string>{223,209}</string>
            </dict>
            <key>ladder_1015.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,203},{55,413}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,413}}</string>
                <key>sourceSize</key>
                <string>{55,413}</string>
            </dict>
            <key>ladder_1016.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,359},{190,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,20}}</string>
                <key>sourceSize</key>
                <string>{190,20}</string>
            </dict>
            <key>ladder_1017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{192,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,20}}</string>
                <key>sourceSize</key>
                <string>{192,20}</string>
            </dict>
            <key>ladder_1018.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,266},{192,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,24}}</string>
                <key>sourceSize</key>
                <string>{192,24}</string>
            </dict>
            <key>ladder_1019.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,807},{192,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,26}}</string>
                <key>sourceSize</key>
                <string>{192,26}</string>
            </dict>
            <key>ladder_1023.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,381},{31,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,18}}</string>
                <key>sourceSize</key>
                <string>{31,18}</string>
            </dict>
            <key>txt_cn_ladder_award.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,835},{69,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,75}}</string>
                <key>sourceSize</key>
                <string>{69,75}</string>
            </dict>
            <key>txt_cn_ladder_challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,912},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>txt_cn_ladder_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,381},{46,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,54}}</string>
                <key>sourceSize</key>
                <string>{46,54}</string>
            </dict>
            <key>txt_cn_ladder_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,381},{71,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,76}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>txt_cn_ladder_highest.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,460},{86,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,22}}</string>
                <key>sourceSize</key>
                <string>{86,22}</string>
            </dict>
            <key>txt_cn_ladder_log.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,835},{71,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,76}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>txt_cn_ladder_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,913},{71,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,76}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>txt_cn_ladder_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,2},{52,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,63}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>txt_cn_ladder_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,386},{91,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,79}}</string>
                <key>sourceSize</key>
                <string>{91,79}</string>
            </dict>
            <key>txt_cn_ladder_speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,559},{51,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,59}}</string>
                <key>sourceSize</key>
                <string>{51,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ladder.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:960e14230c9940b4df535f87a25d4dd6:2307785a2f38cfe24a0f10f435d5f483:51776a6ca1c49e62318f35594e9a9d14$</string>
            <key>textureFileName</key>
            <string>ladder.png</string>
        </dict>
    </dict>
</plist>
