<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animateaction_yaunzhen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,838},{145,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,200}}</string>
                <key>sourceSize</key>
                <string>{145,200}</string>
            </dict>
            <key>animateaction_yaunzhen_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,897},{83,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,85}}</string>
                <key>sourceSize</key>
                <string>{83,85}</string>
            </dict>
            <key>animateaction_yaunzhen_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,262},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>animateaction_yaunzhen_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,471},{55,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,50}}</string>
                <key>sourceSize</key>
                <string>{55,50}</string>
            </dict>
            <key>animateaction_yaunzhen_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,310},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>animateaction_yaunzhen_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,800},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>animateaction_yaunzhen_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,800},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>animateaction_yaunzhen_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,910},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>animateaction_yaunzhen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,662},{174,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,200}}</string>
                <key>sourceSize</key>
                <string>{174,200}</string>
            </dict>
            <key>animateaction_yaunzhen_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,525},{135,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,202}}</string>
                <key>sourceSize</key>
                <string>{135,202}</string>
            </dict>
            <key>animateaction_yaunzhen_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,654},{144,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,201}}</string>
                <key>sourceSize</key>
                <string>{144,201}</string>
            </dict>
            <key>animateaction_yaunzhen_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{313,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,387}}</string>
                <key>sourceSize</key>
                <string>{313,387}</string>
            </dict>
            <key>animateaction_yaunzhen_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,315},{371,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,208}}</string>
                <key>sourceSize</key>
                <string>{371,208}</string>
            </dict>
            <key>animateaction_yaunzhen_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,356},{56,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,113}}</string>
                <key>sourceSize</key>
                <string>{56,113}</string>
            </dict>
            <key>animateaction_yaunzhen_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,525},{127,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,166}}</string>
                <key>sourceSize</key>
                <string>{127,166}</string>
            </dict>
            <key>animateaction_yaunzhen_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,523},{31,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,43}}</string>
                <key>sourceSize</key>
                <string>{31,43}</string>
            </dict>
            <key>txt_cn_animateaction_yaunzhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,0},{260,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,46}}</string>
                <key>sourceSize</key>
                <string>{260,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animateaction_yaunzhen.png</string>
            <key>size</key>
            <string>{435,983}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f189d606e4a39b4ae33ae1b564967fa9$</string>
            <key>textureFileName</key>
            <string>animateaction_yaunzhen.png</string>
        </dict>
    </dict>
</plist>
