<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroexpedit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,204},{31,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,50}}</string>
                <key>sourceSize</key>
                <string>{31,50}</string>
            </dict>
            <key>heroexpedit_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,157},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>heroexpedit_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,186},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>heroexpedit_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{368,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,155}}</string>
                <key>sourceSize</key>
                <string>{368,155}</string>
            </dict>
            <key>heroexpedit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,157},{27,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,50}}</string>
                <key>sourceSize</key>
                <string>{27,50}</string>
            </dict>
            <key>heroexpedit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,212},{35,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,54}}</string>
                <key>sourceSize</key>
                <string>{35,54}</string>
            </dict>
            <key>heroexpedit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,157},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>heroexpedit_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,157},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>heroexpedit_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,219},{38,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,31}}</string>
                <key>sourceSize</key>
                <string>{38,31}</string>
            </dict>
            <key>heroexpedit_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,157},{48,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,56}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>heroexpedit_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,207},{44,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,57}}</string>
                <key>sourceSize</key>
                <string>{44,57}</string>
            </dict>
            <key>txt_cn_heroexpedit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,157},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroexpedit.png</string>
            <key>size</key>
            <string>{368,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3d1d289a4e53e743b27f47f12de90c3$</string>
            <key>textureFileName</key>
            <string>heroexpedit.png</string>
        </dict>
    </dict>
</plist>
