<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_personal_space_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,692},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>role_personal_space_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,506},{28,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,19}}</string>
                <key>sourceSize</key>
                <string>{28,19}</string>
            </dict>
            <key>role_personal_space_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,767},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>role_personal_space_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,767},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>role_personal_space_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,308},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>role_personal_space_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,448},{131,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,62}}</string>
                <key>sourceSize</key>
                <string>{131,62}</string>
            </dict>
            <key>role_personal_space_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,692},{64,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,29}}</string>
                <key>sourceSize</key>
                <string>{64,29}</string>
            </dict>
            <key>role_personal_space_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,723},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>role_personal_space_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{48,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,153}}</string>
                <key>sourceSize</key>
                <string>{48,153}</string>
            </dict>
            <key>role_personal_space_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,791},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>role_personal_space_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,536},{18,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,35}}</string>
                <key>sourceSize</key>
                <string>{18,35}</string>
            </dict>
            <key>role_personal_space_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,797},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>role_personal_space_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,512},{45,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,38}}</string>
                <key>sourceSize</key>
                <string>{45,38}</string>
            </dict>
            <key>role_personal_space_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,168},{146,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,71}}</string>
                <key>sourceSize</key>
                <string>{146,71}</string>
            </dict>
            <key>role_personal_space_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,241},{146,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,65}}</string>
                <key>sourceSize</key>
                <string>{146,65}</string>
            </dict>
            <key>role_personal_space_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,734},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>role_personal_space_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,698},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>role_personal_space_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,605},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>role_personal_space_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,599},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>role_personal_space_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,512},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>role_personal_space_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,506},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>role_personal_space_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,279},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>role_personal_space_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,186},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>role_personal_space_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,93},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>role_personal_space_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,0},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>role_personal_space_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,559},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{38,42}</string>
            </dict>
            <key>role_personal_space_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,643},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>role_personal_space_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,791},{43,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,33}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>role_personal_space_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,603},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>role_personal_space_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,50},{116,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,148}}</string>
                <key>sourceSize</key>
                <string>{116,148}</string>
            </dict>
            <key>role_personal_space_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,372},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>txt_cn_role_personal_space_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,479},{99,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{99,25}}</string>
                <key>sourceSize</key>
                <string>{103,25}</string>
            </dict>
            <key>txt_cn_role_personal_space_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,682},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rolepersonalspace.png</string>
            <key>size</key>
            <string>{246,825}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:511f94450397b0275d347013dff3bd90$</string>
            <key>textureFileName</key>
            <string>rolepersonalspace.png</string>
        </dict>
    </dict>
</plist>
