<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battlaT1.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1},{200,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,67}}</string>
                <key>sourceSize</key>
                <string>{200,67}</string>
            </dict>
            <key>battleDrama_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,435},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>battleDrama_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,435},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>battleT2.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,1},{200,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,69}}</string>
                <key>sourceSize</key>
                <string>{200,69}</string>
            </dict>
            <key>battledrama_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,177},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>battledrama_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,319},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>battledrama_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,333},{5,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,8}}</string>
                <key>sourceSize</key>
                <string>{5,8}</string>
            </dict>
            <key>battledrama_1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,302},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,131}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>battledrama_1013.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,256},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>battledrama_1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,164},{121,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,103}}</string>
                <key>sourceSize</key>
                <string>{121,103}</string>
            </dict>
            <key>battledrama_1015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,477},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>battledrama_1016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,474},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>battledrama_1017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,215},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>battledrama_1018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,474},{37,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>battledrama_1019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,462},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>battledrama_1020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,256},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>battledrama_1021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,364},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>battledrama_1022.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>battledrama_1024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,261},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>battledrama_1025.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,500},{103,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,9}}</string>
                <key>sourceSize</key>
                <string>{103,9}</string>
            </dict>
            <key>battledrama_1026.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,203},{127,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,15}}</string>
                <key>sourceSize</key>
                <string>{127,15}</string>
            </dict>
            <key>battledrama_1027.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,319},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>battledrama_1028.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,478},{53,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,33}}</string>
                <key>sourceSize</key>
                <string>{53,33}</string>
            </dict>
            <key>battledrama_1029.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,256},{88,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,24}}</string>
                <key>sourceSize</key>
                <string>{88,24}</string>
            </dict>
            <key>battledrama_1032.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,220},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>battledrama_1033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,400},{33,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,36}}</string>
                <key>sourceSize</key>
                <string>{33,36}</string>
            </dict>
            <key>battledrama_1034.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,177},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>battledrama_1035.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,282},{150,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,35}}</string>
                <key>sourceSize</key>
                <string>{150,35}</string>
            </dict>
            <key>battledrama_1036.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,504},{5,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,19}}</string>
                <key>sourceSize</key>
                <string>{5,19}</string>
            </dict>
            <key>battledrama_1037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,164},{136,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,27}}</string>
                <key>sourceSize</key>
                <string>{136,27}</string>
            </dict>
            <key>battledrama_1038.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,220},{205,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,96}}</string>
                <key>sourceSize</key>
                <string>{205,96}</string>
            </dict>
            <key>battledrama_10388.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,203},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>battledrama_1039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,457},{18,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,42}}</string>
                <key>sourceSize</key>
                <string>{18,42}</string>
            </dict>
            <key>battledrama_1040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,424},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>battledrama_1042.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,318},{158,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,146}}</string>
                <key>sourceSize</key>
                <string>{158,146}</string>
            </dict>
            <key>battledrama_1043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,379},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>battledrama_1044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,299},{67,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,63}</string>
            </dict>
            <key>battledrama_1045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,462},{30,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,39}}</string>
                <key>sourceSize</key>
                <string>{30,39}</string>
            </dict>
            <key>battledrama_resoure_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,364},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>battledrama_resoure_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,164},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>battledrama_resoure_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,82},{78,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,82}}</string>
                <key>sourceSize</key>
                <string>{78,82}</string>
            </dict>
            <key>battledrama_resoure_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,164},{90,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,48}}</string>
                <key>sourceSize</key>
                <string>{90,48}</string>
            </dict>
            <key>hl_battledrama_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,287},{111,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,55}}</string>
                <key>sourceSize</key>
                <string>{111,55}</string>
            </dict>
            <key>hl_battledrama_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,456},{75,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,55}}</string>
                <key>sourceSize</key>
                <string>{75,55}</string>
            </dict>
            <key>hl_battledrama_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1},{253,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,114}}</string>
                <key>sourceSize</key>
                <string>{253,114}</string>
            </dict>
            <key>hl_battledrama_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1},{217,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,75}}</string>
                <key>sourceSize</key>
                <string>{217,75}</string>
            </dict>
            <key>hl_battledrama_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,504},{141,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,5}}</string>
                <key>sourceSize</key>
                <string>{141,5}</string>
            </dict>
            <key>hl_battledrama_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,333},{44,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,69}}</string>
                <key>sourceSize</key>
                <string>{44,69}</string>
            </dict>
            <key>hl_battledrama_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,457},{51,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,107}}</string>
                <key>sourceSize</key>
                <string>{51,107}</string>
            </dict>
            <key>hl_battledrama_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,319},{146,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,190}}</string>
                <key>sourceSize</key>
                <string>{146,190}</string>
            </dict>
            <key>hl_battledrama_1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,347},{119,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,162}}</string>
                <key>sourceSize</key>
                <string>{119,162}</string>
            </dict>
            <key>hl_battledrama_1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,251},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>hl_battledrama_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,272},{102,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,103}}</string>
                <key>sourceSize</key>
                <string>{102,103}</string>
            </dict>
            <key>hl_battledrama_1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,318},{197,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,180}}</string>
                <key>sourceSize</key>
                <string>{197,180}</string>
            </dict>
            <key>hl_battledrama_1013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,164},{106,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,105}}</string>
                <key>sourceSize</key>
                <string>{106,105}</string>
            </dict>
            <key>hl_battledrama_1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,456},{50,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,55}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>hl_battledrama_1015.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,220},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{34,28}</string>
            </dict>
            <key>hl_battledrama_1016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,311},{137,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,144}}</string>
                <key>sourceSize</key>
                <string>{137,144}</string>
            </dict>
            <key>hl_battledrama_1017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,400},{109,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,83}}</string>
                <key>sourceSize</key>
                <string>{109,83}</string>
            </dict>
            <key>hl_battledrama_1019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,164},{102,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,98}}</string>
                <key>sourceSize</key>
                <string>{102,98}</string>
            </dict>
            <key>hl_battledrama_1020.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,318},{8,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,183}}</string>
                <key>sourceSize</key>
                <string>{8,183}</string>
            </dict>
            <key>hl_battledrama_1021.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,256},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>hl_battledrama_1022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,164},{121,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,38}}</string>
                <key>sourceSize</key>
                <string>{121,38}</string>
            </dict>
            <key>hl_battledrama_1023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{344,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,75}}</string>
                <key>sourceSize</key>
                <string>{344,75}</string>
            </dict>
            <key>hl_battledrama_1025.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1},{174,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,113}}</string>
                <key>sourceSize</key>
                <string>{174,113}</string>
            </dict>
            <key>hl_battledrama_1026.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,319},{187,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,199}}</string>
                <key>sourceSize</key>
                <string>{187,199}</string>
            </dict>
            <key>hl_battledrama_1027.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1},{305,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,316}}</string>
                <key>sourceSize</key>
                <string>{305,316}</string>
            </dict>
            <key>hl_battledrama_1028.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1},{281,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,79}}</string>
                <key>sourceSize</key>
                <string>{281,79}</string>
            </dict>
            <key>hl_battledrama_1029.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1},{720,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,161}}</string>
                <key>sourceSize</key>
                <string>{720,161}</string>
            </dict>
            <key>hl_battledrama_1030.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,164},{137,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,145}}</string>
                <key>sourceSize</key>
                <string>{137,145}</string>
            </dict>
            <key>hl_battledrama_1031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,268},{57,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,94}}</string>
                <key>sourceSize</key>
                <string>{57,94}</string>
            </dict>
            <key>hl_battledrama_1032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,377},{70,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,95}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>hl_battledrame_1024.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,319},{175,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,183}}</string>
                <key>sourceSize</key>
                <string>{175,183}</string>
            </dict>
            <key>quickK1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,256},{50,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,39}}</string>
                <key>sourceSize</key>
                <string>{50,39}</string>
            </dict>
            <key>quickK2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,164},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>txt_cn_award.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,284},{108,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,33}}</string>
                <key>sourceSize</key>
                <string>{108,33}</string>
            </dict>
            <key>txt_cn_detail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,297},{65,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,36}}</string>
                <key>sourceSize</key>
                <string>{65,36}</string>
            </dict>
            <key>txt_cn_drop.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,478},{108,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,33}}</string>
                <key>sourceSize</key>
                <string>{108,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battledrama.png</string>
            <key>size</key>
            <string>{1716,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64811107b29744e0b11adfac1d361a4c:83f0f2e232148dc356a580f0c4e7cdb6:77af87fa227d17b44fcba829cb502c3a$</string>
            <key>textureFileName</key>
            <string>battledrama.png</string>
        </dict>
    </dict>
</plist>
