<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guildsecretarea_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,282},{171,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,135}}</string>
                <key>sourceSize</key>
                <string>{171,135}</string>
            </dict>
            <key>guildsecretarea_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,135},{360,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,144}}</string>
                <key>sourceSize</key>
                <string>{360,144}</string>
            </dict>
            <key>guildsecretarea_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,0},{64,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,311}}</string>
                <key>sourceSize</key>
                <string>{64,311}</string>
            </dict>
            <key>guildsecretarea_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,66},{265,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,67}}</string>
                <key>sourceSize</key>
                <string>{265,67}</string>
            </dict>
            <key>guildsecretarea_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{496,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,22}}</string>
                <key>sourceSize</key>
                <string>{496,22}</string>
            </dict>
            <key>guildsecretarea_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,52},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>guildsecretarea_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,31},{19,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>guildsecretarea_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,135},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>guildsecretarea_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,419},{70,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,159}}</string>
                <key>sourceSize</key>
                <string>{70,159}</string>
            </dict>
            <key>guildsecretarea_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,0},{33,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,29}}</string>
                <key>sourceSize</key>
                <string>{33,29}</string>
            </dict>
            <key>guildsecretarea_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,76},{204,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,79}}</string>
                <key>sourceSize</key>
                <string>{204,79}</string>
            </dict>
            <key>guildsecretarea_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,227},{42,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{42,37}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>guildsecretarea_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,227},{52,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,36}}</string>
                <key>sourceSize</key>
                <string>{52,36}</string>
            </dict>
            <key>guildsecretarea_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,419},{38,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,46}}</string>
                <key>sourceSize</key>
                <string>{38,46}</string>
            </dict>
            <key>txt_cn_guildsecretarea_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,135},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guildsecretarea.png</string>
            <key>size</key>
            <string>{371,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f514dbd478eb6f414870d3fc6fa9d4e$</string>
            <key>textureFileName</key>
            <string>guildsecretarea.png</string>
        </dict>
    </dict>
</plist>
