<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>star_tower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,152},{81,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,69}}</string>
                <key>sourceSize</key>
                <string>{81,69}</string>
            </dict>
            <key>star_tower_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,0},{243,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,50}}</string>
                <key>sourceSize</key>
                <string>{243,50}</string>
            </dict>
            <key>star_tower_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,182},{181,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,54}}</string>
                <key>sourceSize</key>
                <string>{181,54}</string>
            </dict>
            <key>star_tower_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,179},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>star_tower_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,67},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>star_tower_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,425}}</string>
                <key>sourceSize</key>
                <string>{58,425}</string>
            </dict>
            <key>star_tower_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,178},{174,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,35}}</string>
                <key>sourceSize</key>
                <string>{174,35}</string>
            </dict>
            <key>star_tower_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,60},{222,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,116}}</string>
                <key>sourceSize</key>
                <string>{222,116}</string>
            </dict>
            <key>star_tower_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,152},{120,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,98}}</string>
                <key>sourceSize</key>
                <string>{120,98}</string>
            </dict>
            <key>star_tower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,67},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>star_tower_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,212},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>star_tower_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,0},{115,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,65}}</string>
                <key>sourceSize</key>
                <string>{115,65}</string>
            </dict>
            <key>star_tower_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,52},{210,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,98}}</string>
                <key>sourceSize</key>
                <string>{210,98}</string>
            </dict>
            <key>star_tower_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,179},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>star_tower_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,144},{106,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,33}}</string>
                <key>sourceSize</key>
                <string>{106,33}</string>
            </dict>
            <key>star_tower_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,50},{128,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,122}}</string>
                <key>sourceSize</key>
                <string>{128,122}</string>
            </dict>
            <key>star_tower_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,60},{265,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,120}}</string>
                <key>sourceSize</key>
                <string>{265,120}</string>
            </dict>
            <key>txt_cn_star_tower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,205},{106,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,45}}</string>
                <key>sourceSize</key>
                <string>{106,45}</string>
            </dict>
            <key>txt_cn_star_tower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,0},{173,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,48}}</string>
                <key>sourceSize</key>
                <string>{173,48}</string>
            </dict>
            <key>txt_cn_star_tower_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,215},{102,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{102,32}}</string>
                <key>sourceSize</key>
                <string>{110,32}</string>
            </dict>
            <key>txt_cn_star_tower_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,174},{128,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,29}}</string>
                <key>sourceSize</key>
                <string>{128,29}</string>
            </dict>
            <key>txt_cn_star_tower_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,182},{55,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,28}}</string>
                <key>sourceSize</key>
                <string>{55,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>startower.png</string>
            <key>size</key>
            <string>{998,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e1add232b807835beabd521bf66b2e7$</string>
            <key>textureFileName</key>
            <string>startower.png</string>
        </dict>
    </dict>
</plist>
