<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_resonate_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,0},{195,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,56}}</string>
                <key>sourceSize</key>
                <string>{195,56}</string>
            </dict>
            <key>hero_resonate_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,0},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>hero_resonate_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,58},{66,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,63}}</string>
                <key>sourceSize</key>
                <string>{66,63}</string>
            </dict>
            <key>hero_resonate_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{98,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,214}}</string>
                <key>sourceSize</key>
                <string>{98,214}</string>
            </dict>
            <key>hero_resonate_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>hero_resonate_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,76},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>hero_resonate_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,76},{34,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,49}}</string>
                <key>sourceSize</key>
                <string>{34,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroresonate.png</string>
            <key>size</key>
            <string>{487,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1fe52af13c9b2ff5c6e050703419df9$</string>
            <key>textureFileName</key>
            <string>heroresonate.png</string>
        </dict>
    </dict>
</plist>
