<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battleharm_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,0},{70,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{70,75}</string>
            </dict>
            <key>battleharm_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,77},{22,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,54}}</string>
                <key>sourceSize</key>
                <string>{22,54}</string>
            </dict>
            <key>battleharm_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{18,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,50}}</string>
                <key>sourceSize</key>
                <string>{18,50}</string>
            </dict>
            <key>battleharm_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,101},{18,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,50}}</string>
                <key>sourceSize</key>
                <string>{18,50}</string>
            </dict>
            <key>battleharm_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,84},{65,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,32}}</string>
                <key>sourceSize</key>
                <string>{65,32}</string>
            </dict>
            <key>battleharm_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{82,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,66}}</string>
                <key>sourceSize</key>
                <string>{82,66}</string>
            </dict>
            <key>battleharm_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,84},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>battleharm_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,52},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battleharm.png</string>
            <key>size</key>
            <string>{168,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b52c4c0c53f02774efcf61f4b1ccaee6$</string>
            <key>textureFileName</key>
            <string>battleharm.png</string>
        </dict>
    </dict>
</plist>
