<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arenateam_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,45},{466,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,118}}</string>
                <key>sourceSize</key>
                <string>{466,118}</string>
            </dict>
            <key>arenateam_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,513},{93,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,103}}</string>
                <key>sourceSize</key>
                <string>{93,103}</string>
            </dict>
            <key>arenateam_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1025},{33,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,29}}</string>
                <key>sourceSize</key>
                <string>{33,29}</string>
            </dict>
            <key>arenateam_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,717},{33,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,133}}</string>
                <key>sourceSize</key>
                <string>{33,133}</string>
            </dict>
            <key>arenateam_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,608},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>arenateam_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,0},{2,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,24}}</string>
                <key>sourceSize</key>
                <string>{2,24}</string>
            </dict>
            <key>arenateam_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,513},{16,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,36}}</string>
                <key>sourceSize</key>
                <string>{16,36}</string>
            </dict>
            <key>arenateam_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,45},{5,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,9}}</string>
                <key>sourceSize</key>
                <string>{5,9}</string>
            </dict>
            <key>arenateam_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,852},{171,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,49}}</string>
                <key>sourceSize</key>
                <string>{171,49}</string>
            </dict>
            <key>arenateam_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{121,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,43}}</string>
                <key>sourceSize</key>
                <string>{121,43}</string>
            </dict>
            <key>arenateam_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1122},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>arenateam_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1045},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>arenateam_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,968},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>arenateam_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,608},{204,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,79}}</string>
                <key>sourceSize</key>
                <string>{204,79}</string>
            </dict>
            <key>arenateam_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,891},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>arenateam_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,814},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>arenateam_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,646},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>txt_cn_arenateam_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,686},{36,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,29}}</string>
                <key>sourceSize</key>
                <string>{36,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>arenateam.png</string>
            <key>size</key>
            <string>{126,1197}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d9ca966a937b35f271ced0dc9f6dd15$</string>
            <key>textureFileName</key>
            <string>arenateam.png</string>
        </dict>
    </dict>
</plist>
