<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,938},{57,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,22}}</string>
                <key>sourceSize</key>
                <string>{57,22}</string>
            </dict>
            <key>battle_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,401},{376,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,11}}</string>
                <key>sourceSize</key>
                <string>{376,11}</string>
            </dict>
            <key>battle_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,938},{58,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,44}}</string>
                <key>sourceSize</key>
                <string>{58,44}</string>
            </dict>
            <key>battle_10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,813},{32,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{32,51}</string>
            </dict>
            <key>battle_10025.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1},{330,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,84}}</string>
                <key>sourceSize</key>
                <string>{330,84}</string>
            </dict>
            <key>battle_10027.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,87},{329,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,84}}</string>
                <key>sourceSize</key>
                <string>{329,84}</string>
            </dict>
            <key>battle_10028.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,952},{28,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,49}}</string>
                <key>sourceSize</key>
                <string>{28,49}</string>
            </dict>
            <key>battle_10029.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,636},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,37}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>battle_10031.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,593},{150,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,35}}</string>
                <key>sourceSize</key>
                <string>{150,35}</string>
            </dict>
            <key>battle_10032.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,414},{5,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,19}}</string>
                <key>sourceSize</key>
                <string>{5,19}</string>
            </dict>
            <key>battle_10033.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,985},{136,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,27}}</string>
                <key>sourceSize</key>
                <string>{136,27}</string>
            </dict>
            <key>battle_10034.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,511},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>battle_10035.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,965},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>battle_10036.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,771},{63,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,87}}</string>
                <key>sourceSize</key>
                <string>{63,87}</string>
            </dict>
            <key>battle_10037.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,604},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>battle_10038.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,836},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>battle_10039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,894},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>battle_10040.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,665},{63,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,87}}</string>
                <key>sourceSize</key>
                <string>{63,87}</string>
            </dict>
            <key>battle_10041.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,427},{129,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,165}}</string>
                <key>sourceSize</key>
                <string>{129,165}</string>
            </dict>
            <key>battle_10042.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,103},{12,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,56}}</string>
                <key>sourceSize</key>
                <string>{12,56}</string>
            </dict>
            <key>battle_10043.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,754},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>battle_10044.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,808},{70,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,93}}</string>
                <key>sourceSize</key>
                <string>{70,93}</string>
            </dict>
            <key>battle_btn_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,857},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>battle_buff_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,604},{176,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,30}}</string>
                <key>sourceSize</key>
                <string>{176,30}</string>
            </dict>
            <key>battle_change_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,684},{122,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,103}}</string>
                <key>sourceSize</key>
                <string>{122,103}</string>
            </dict>
            <key>battle_drama_has_ack.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,557},{43,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,32}}</string>
                <key>sourceSize</key>
                <string>{43,32}</string>
            </dict>
            <key>battle_drama_no_ack.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,301},{40,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,27}</string>
            </dict>
            <key>battle_duizhen_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,898},{58,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,52}}</string>
                <key>sourceSize</key>
                <string>{58,52}</string>
            </dict>
            <key>battle_enemy_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,866},{5,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,6}}</string>
                <key>sourceSize</key>
                <string>{5,6}</string>
            </dict>
            <key>battle_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,857},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>battle_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,873},{5,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,6}}</string>
                <key>sourceSize</key>
                <string>{5,6}</string>
            </dict>
            <key>battle_hp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,636},{6,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,8}}</string>
                <key>sourceSize</key>
                <string>{6,8}</string>
            </dict>
            <key>battle_injury_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,957},{59,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,6}}</string>
                <key>sourceSize</key>
                <string>{59,6}</string>
            </dict>
            <key>battle_lev_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,938},{57,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,22}}</string>
                <key>sourceSize</key>
                <string>{57,22}</string>
            </dict>
            <key>battle_normal_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,866},{24,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,12}}</string>
                <key>sourceSize</key>
                <string>{24,12}</string>
            </dict>
            <key>battle_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,343},{300,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,27}}</string>
                <key>sourceSize</key>
                <string>{300,27}</string>
            </dict>
            <key>battle_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,301},{303,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,40}}</string>
                <key>sourceSize</key>
                <string>{303,40}</string>
            </dict>
            <key>battle_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,675},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>battle_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,414},{349,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,11}}</string>
                <key>sourceSize</key>
                <string>{349,11}</string>
            </dict>
            <key>battle_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1},{395,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,39}}</string>
                <key>sourceSize</key>
                <string>{395,39}</string>
            </dict>
            <key>battle_r6.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,372},{300,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,27}}</string>
                <key>sourceSize</key>
                <string>{300,27}</string>
            </dict>
            <key>battle_r7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{717,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{717,56}}</string>
                <key>sourceSize</key>
                <string>{717,56}</string>
            </dict>
            <key>battle_r8.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,427},{165,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,164}}</string>
                <key>sourceSize</key>
                <string>{165,164}</string>
            </dict>
            <key>battle_r9.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,630},{134,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,52}}</string>
                <key>sourceSize</key>
                <string>{134,52}</string>
            </dict>
            <key>battle_record_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,343},{45,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,55}}</string>
                <key>sourceSize</key>
                <string>{45,55}</string>
            </dict>
            <key>battle_star_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1},{100,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,14}}</string>
                <key>sourceSize</key>
                <string>{100,14}</string>
            </dict>
            <key>battle_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,630},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{41,39}</string>
            </dict>
            <key>battle_total_harm_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,880},{102,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,103}}</string>
                <key>sourceSize</key>
                <string>{102,103}</string>
            </dict>
            <key>battle_zhenfa_quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,965},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>hl_battle_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,558},{44,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,176}}</string>
                <key>sourceSize</key>
                <string>{44,176}</string>
            </dict>
            <key>hl_battle_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,886},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>hl_battle_1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,173},{346,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,62}}</string>
                <key>sourceSize</key>
                <string>{346,62}</string>
            </dict>
            <key>hl_battle_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,237},{342,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,62}}</string>
                <key>sourceSize</key>
                <string>{342,62}</string>
            </dict>
            <key>hl_battle_1013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,720},{172,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,81}}</string>
                <key>sourceSize</key>
                <string>{172,81}</string>
            </dict>
            <key>hl_battle_1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1002},{134,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,10}}</string>
                <key>sourceSize</key>
                <string>{134,10}</string>
            </dict>
            <key>hl_battle_1015.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,1},{597,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{597,39}}</string>
                <key>sourceSize</key>
                <string>{597,39}</string>
            </dict>
            <key>hl_battle_1016.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,943},{73,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,5}}</string>
                <key>sourceSize</key>
                <string>{73,5}</string>
            </dict>
            <key>hl_battle_1017.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,950},{73,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,5}}</string>
                <key>sourceSize</key>
                <string>{73,5}</string>
            </dict>
            <key>hl_battle_1018.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,600},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>hl_battle_1019.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,934},{75,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,7}}</string>
                <key>sourceSize</key>
                <string>{75,7}</string>
            </dict>
            <key>txt_cn_battle_buff_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,684},{127,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,37}}</string>
                <key>sourceSize</key>
                <string>{127,37}</string>
            </dict>
            <key>txt_cn_battle_dogfall.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,943},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>txt_cn_battle_heaven_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,636},{127,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,37}}</string>
                <key>sourceSize</key>
                <string>{127,37}</string>
            </dict>
            <key>txt_cn_battle_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,636},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>txt_cn_battle_skill_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,772},{122,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,53}}</string>
                <key>sourceSize</key>
                <string>{122,53}</string>
            </dict>
            <key>txt_cn_battle_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,836},{48,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,55}}</string>
                <key>sourceSize</key>
                <string>{48,55}</string>
            </dict>
            <key>txt_cn_battle_total_hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,827},{112,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,28}}</string>
                <key>sourceSize</key>
                <string>{112,28}</string>
            </dict>
            <key>txt_cn_battle_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,427},{82,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,54}}</string>
                <key>sourceSize</key>
                <string>{82,54}</string>
            </dict>
            <key>txt_cn_battle_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,684},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>txt_cn_exit_battle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,675},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battle.png</string>
            <key>size</key>
            <string>{489,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70b8fdfe70fceffcf45d185580c9a061:9a7ea0ac2fc11fa0b917938602843636:aefc46271a528250973e047b84db9856$</string>
            <key>textureFileName</key>
            <string>battle.png</string>
        </dict>
    </dict>
</plist>
