<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>partner_summon_asset_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,472},{143,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,35}}</string>
                <key>sourceSize</key>
                <string>{143,35}</string>
            </dict>
            <key>partnersummon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,286},{185,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,47}}</string>
                <key>sourceSize</key>
                <string>{185,47}</string>
            </dict>
            <key>partnersummon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,477},{56,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,12}}</string>
                <key>sourceSize</key>
                <string>{56,12}</string>
            </dict>
            <key>partnersummon_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,84},{120,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,105}}</string>
                <key>sourceSize</key>
                <string>{120,105}</string>
            </dict>
            <key>partnersummon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,462},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>partnersummon_book_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,378},{60,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,69}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>partnersummon_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,0},{241,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,82}}</string>
                <key>sourceSize</key>
                <string>{241,82}</string>
            </dict>
            <key>partnersummon_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,0},{241,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,82}}</string>
                <key>sourceSize</key>
                <string>{241,82}</string>
            </dict>
            <key>partnersummon_erweima.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,84},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>partnersummon_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,365},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>partnersummon_god.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,397},{111,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,108}}</string>
                <key>sourceSize</key>
                <string>{111,108}</string>
            </dict>
            <key>partnersummon_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,391},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>partnersummon_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,283},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>partnersummon_image_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,295},{47,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,81}}</string>
                <key>sourceSize</key>
                <string>{47,81}</string>
            </dict>
            <key>partnersummon_image_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1649,430},{54,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,41}}</string>
                <key>sourceSize</key>
                <string>{54,41}</string>
            </dict>
            <key>partnersummon_image_10_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,469},{52,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,39}}</string>
                <key>sourceSize</key>
                <string>{54,41}</string>
            </dict>
            <key>partnersummon_image_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,255},{136,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,141}}</string>
                <key>sourceSize</key>
                <string>{136,141}</string>
            </dict>
            <key>partnersummon_image_11_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,254},{136,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,141}}</string>
                <key>sourceSize</key>
                <string>{136,141}</string>
            </dict>
            <key>partnersummon_image_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,440},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>partnersummon_image_12_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,440},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>partnersummon_image_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,459},{63,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,16}}</string>
                <key>sourceSize</key>
                <string>{63,16}</string>
            </dict>
            <key>partnersummon_image_13_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,196},{63,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,16}}</string>
                <key>sourceSize</key>
                <string>{63,16}</string>
            </dict>
            <key>partnersummon_image_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,440},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>partnersummon_image_14_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,440},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>partnersummon_image_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{614,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,140}}</string>
                <key>sourceSize</key>
                <string>{614,140}</string>
            </dict>
            <key>partnersummon_image_15_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{616,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,142}}</string>
                <key>sourceSize</key>
                <string>{616,142}</string>
            </dict>
            <key>partnersummon_image_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,196},{75,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,21}}</string>
                <key>sourceSize</key>
                <string>{75,21}</string>
            </dict>
            <key>partnersummon_image_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,469},{54,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,32}}</string>
                <key>sourceSize</key>
                <string>{54,32}</string>
            </dict>
            <key>partnersummon_image_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,394},{81,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,20}}</string>
                <key>sourceSize</key>
                <string>{81,20}</string>
            </dict>
            <key>partnersummon_image_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,366},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>partnersummon_image_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,192},{138,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,41}}</string>
                <key>sourceSize</key>
                <string>{138,41}</string>
            </dict>
            <key>partnersummon_image_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,252},{137,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,41}}</string>
                <key>sourceSize</key>
                <string>{137,41}</string>
            </dict>
            <key>partnersummon_image_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,209},{137,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,41}}</string>
                <key>sourceSize</key>
                <string>{137,41}</string>
            </dict>
            <key>partnersummon_image_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,87},{103,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,107}}</string>
                <key>sourceSize</key>
                <string>{103,107}</string>
            </dict>
            <key>partnersummon_image_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,191},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>partnersummon_image_9_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,0},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>partnersummon_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,286},{147,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,181}}</string>
                <key>sourceSize</key>
                <string>{147,181}</string>
            </dict>
            <key>partnersummon_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,479},{187,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,20}}</string>
                <key>sourceSize</key>
                <string>{187,20}</string>
            </dict>
            <key>partnersummon_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,469},{38,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,46}}</string>
                <key>sourceSize</key>
                <string>{38,46}</string>
            </dict>
            <key>partnersummon_look.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,430},{41,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,46}}</string>
                <key>sourceSize</key>
                <string>{41,46}</string>
            </dict>
            <key>partnersummon_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,199},{286,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,54}}</string>
                <key>sourceSize</key>
                <string>{286,54}</string>
            </dict>
            <key>partnersummon_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,494},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>partnersummon_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,366},{83,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,61}}</string>
                <key>sourceSize</key>
                <string>{83,61}</string>
            </dict>
            <key>partnersummon_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,283},{82,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{82,105}}</string>
                <key>sourceSize</key>
                <string>{120,105}</string>
            </dict>
            <key>partnersummon_six_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,0},{252,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,252}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>partnersummon_six_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,255},{140,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,134}}</string>
                <key>sourceSize</key>
                <string>{140,134}</string>
            </dict>
            <key>partnersummon_six_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,196},{83,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,80}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>partnersummon_six_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,286},{190,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,184}}</string>
                <key>sourceSize</key>
                <string>{190,184}</string>
            </dict>
            <key>partnersummon_skill_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,286},{187,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,191}}</string>
                <key>sourceSize</key>
                <string>{187,191}</string>
            </dict>
            <key>partnersummon_skill_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,84},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>partnersummon_skill_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,394},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>partnersummon_ss.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,84},{141,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,106}}</string>
                <key>sourceSize</key>
                <string>{141,106}</string>
            </dict>
            <key>partnersummon_tag_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,211},{18,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,13}}</string>
                <key>sourceSize</key>
                <string>{18,13}</string>
            </dict>
            <key>partnersummon_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,434},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>partnersummon_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,390},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>partnersummon_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,365},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>partnersummon_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,371},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>partnersummon_type_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,393},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>partnersummon_weibo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,365},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>partnersummon_welfar.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,254},{110,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,103}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
            <key>partnersummon_zuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,473},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>txt_cn_partnersummon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,283},{92,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,72}}</string>
                <key>sourceSize</key>
                <string>{92,72}</string>
            </dict>
            <key>txt_cn_partnersummon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,295},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>txt_cn_partnersummon_300.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,0},{338,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,40}}</string>
                <key>sourceSize</key>
                <string>{338,40}</string>
            </dict>
            <key>txt_cn_partnersummon_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,235},{177,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,46}}</string>
                <key>sourceSize</key>
                <string>{177,46}</string>
            </dict>
            <key>txt_cn_partnersummon_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,121},{296,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,76}}</string>
                <key>sourceSize</key>
                <string>{296,76}</string>
            </dict>
            <key>txt_cn_partnersummon_share_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,42},{296,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,77}}</string>
                <key>sourceSize</key>
                <string>{296,77}</string>
            </dict>
            <key>txt_cn_partnersummon_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,286},{199,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,48}}</string>
                <key>sourceSize</key>
                <string>{199,48}</string>
            </dict>
            <key>txt_cn_partnersummon_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,278},{71,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,85}}</string>
                <key>sourceSize</key>
                <string>{71,85}</string>
            </dict>
            <key>txt_cn_partnersummon_type_2_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,429},{63,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,74}}</string>
                <key>sourceSize</key>
                <string>{63,74}</string>
            </dict>
            <key>txt_cn_partnersummon_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,211},{70,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,84}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>txt_cn_partnersummon_type_3_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,377},{61,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,72}}</string>
                <key>sourceSize</key>
                <string>{61,72}</string>
            </dict>
            <key>txt_cn_partnersummon_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,278},{72,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,84}}</string>
                <key>sourceSize</key>
                <string>{72,84}</string>
            </dict>
            <key>txt_cn_partnersummon_type_4_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,393},{64,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,74}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>txt_cn_partnersummon_type_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,278},{71,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,85}}</string>
                <key>sourceSize</key>
                <string>{71,85}</string>
            </dict>
            <key>txt_cn_partnersummon_type_5_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,429},{64,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,74}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>partnersummon.png</string>
            <key>size</key>
            <string>{1795,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75bba6b31be7b44d9aa212f73737dee3$</string>
            <key>textureFileName</key>
            <string>partnersummon.png</string>
        </dict>
    </dict>
</plist>
