<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elitematch_form_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,461},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>elitematch_form_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,417},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>elitematch_form_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,358},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>elitematch_form_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,431},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>elitematch_form_icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,468},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>elitematch_form_icon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,424},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>elitematch_form_icon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,380},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>elitematch_matching_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,402},{13,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,28}}</string>
                <key>sourceSize</key>
                <string>{13,28}</string>
            </dict>
            <key>elitematch_matching_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,475},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>elitematch_matching_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,349},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>elitematch_matching_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,323},{16,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,56}}</string>
                <key>sourceSize</key>
                <string>{16,56}</string>
            </dict>
            <key>elitematch_matching_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,265},{16,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,56}}</string>
                <key>sourceSize</key>
                <string>{16,56}</string>
            </dict>
            <key>elitematch_matching_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,492},{18,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,48}}</string>
                <key>sourceSize</key>
                <string>{18,48}</string>
            </dict>
            <key>elitematch_matching_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,381},{17,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,48}}</string>
                <key>sourceSize</key>
                <string>{17,48}</string>
            </dict>
            <key>elitematch_matching_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{10,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,347}}</string>
                <key>sourceSize</key>
                <string>{10,347}</string>
            </dict>
            <key>elitematch_matching_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,0},{9,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,347}}</string>
                <key>sourceSize</key>
                <string>{9,347}</string>
            </dict>
            <key>elitematch_matching_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,436},{71,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>elitematch_matching_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,0},{263,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,84}}</string>
                <key>sourceSize</key>
                <string>{263,84}</string>
            </dict>
            <key>elitematch_matching_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{71,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>elitematch_matching_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,0},{266,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,84}}</string>
                <key>sourceSize</key>
                <string>{266,84}</string>
            </dict>
            <key>elitematch_matching_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,179},{177,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,61}}</string>
                <key>sourceSize</key>
                <string>{177,61}</string>
            </dict>
            <key>elitematch_matching_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,0},{177,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,61}}</string>
                <key>sourceSize</key>
                <string>{177,61}</string>
            </dict>
            <key>elitematch_matching_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,265},{245,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,49}}</string>
                <key>sourceSize</key>
                <string>{245,49}</string>
            </dict>
            <key>elitematch_matching_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,268},{92,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,110}}</string>
                <key>sourceSize</key>
                <string>{92,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elitematch_matching.png</string>
            <key>size</key>
            <string>{256,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aedab2b0aa8d74c6c4af5a5996d49807$</string>
            <key>textureFileName</key>
            <string>elitematch_matching.png</string>
        </dict>
    </dict>
</plist>
