<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>resource/form/segment/form_icon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,754},{104,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>resource/form/segment/form_icon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,864},{105,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>resource/form/segment/form_icon_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,870},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>resource/form/segment/form_icon_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,754},{105,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>resource/form/segment/form_icon_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,831},{103,104}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,105}</string>
			</dict>
			<key>resource/form/segment/form_icon_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,715},{105,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>resource/form/segment/form_icon_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,715},{105,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>resource/form/segment/hl_form_1003.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,563},{275,52}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,52}</string>
			</dict>
			<key>resource/form/segment/hl_form_1004.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,869},{115,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,107}</string>
			</dict>
			<key>resource/form/segment/hl_form_1004_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,474},{146,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,135}</string>
			</dict>
			<key>resource/form/segment/hl_form_1005.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,526},{26,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,85}</string>
			</dict>
			<key>resource/form/segment/hl_form_1006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{143,620}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,620}</string>
			</dict>
			<key>resource/form/segment/hl_form_1007.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,612},{75,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,61}</string>
			</dict>
			<key>resource/form/segment/hl_form_1008.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,526},{84,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,58}</string>
			</dict>
			<key>resource/form/segment/hl_form_1009.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,474},{161,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,138}</string>
			</dict>
			<key>resource/form/segment/hl_form_1010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,623},{720,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{720,90}</string>
			</dict>
			<key>resource/form/segment/hl_form_1011.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,715},{34,31}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,33}</string>
			</dict>
			<key>resource/form/segment/hl_form_1013.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,822},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>resource/form/segment/hl_form_1014.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,1},{135,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,35}</string>
			</dict>
			<key>resource/form/segment/hl_form_1015.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,138},{135,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,35}</string>
			</dict>
			<key>resource/form/segment/hl_form_1016.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,474},{205,50}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,50}</string>
			</dict>
			<key>resource/form/segment/hl_form_1017.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,275},{80,46}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,49}</string>
			</dict>
			<key>resource/form/segment/hl_form_1019.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,1},{471,42}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{472,46}</string>
			</dict>
			<key>resource/form/segment/hl_form_1020.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,474},{87,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,170}</string>
			</dict>
			<key>resource/form/segment/hl_form_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,689},{63,63}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,68}</string>
			</dict>
			<key>resource/form/segment/selectBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,357},{119,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,30}</string>
			</dict>
			<key>resource/form/segment/team_circle_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,478},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>resource/form/segment/team_num_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,528},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>resource/form/segment/team_num_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,578},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>resource/form/segment/team_num_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,628},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>resource/form/segment/team_num_1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,678},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>resource/form/segment/team_num_1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,971},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>resource/form/segment/team_num_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,728},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>resource/form/segment/team_num_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,799},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>resource/form/segment/team_num_2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,754},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>resource/form/segment/team_num_2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,754},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>resource/form/segment/team_num_2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,822},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>resource/form/segment/zhen_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,831},{40,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,39}</string>
			</dict>
			<key>resource/form/segment/zhen_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,831},{40,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,37}</string>
			</dict>
			<key>resource/form/segment/zhen_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,831},{40,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,39}</string>
			</dict>
			<key>resource/form/segment/zhen_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,715},{40,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,37}</string>
			</dict>
			<key>resource/form/segment/zhen_empty.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,992},{34,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,39}</string>
			</dict>
			<key>resource/form/segment/race_name_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,525},{49,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,25}</string>
			</dict>
			<key>resource/form/segment/race_name_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,626},{49,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,24}</string>
			</dict>
			<key>resource/form/segment/race_name_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,992},{48,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,24}</string>
			</dict>
			<key>resource/form/segment/race_name_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,677},{49,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,24}</string>
			</dict>
			<key>resource/form/segment/race_name_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,576},{48,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,25}</string>
			</dict>
			<key>resource/form/segment/race_name_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,474},{49,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,26}</string>
			</dict>
			<key>resource/form/segment/race_name_select_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,561},{55,32}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,35}</string>
			</dict>
			<key>resource/form/segment/race_name_select_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,674},{55,31}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,34}</string>
			</dict>
			<key>resource/form/segment/race_name_select_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,992},{54,31}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,34}</string>
			</dict>
			<key>resource/form/segment/race_name_select_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,992},{55,31}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,34}</string>
			</dict>
			<key>resource/form/segment/race_name_select_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,618},{54,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,35}</string>
			</dict>
			<key>resource/form/segment/race_name_select_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,526},{54,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,36}</string>
			</dict>
			<key>resource/form/segment/zhen_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,715},{40,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,39}</string>
			</dict>
			<key>resource/form/segment/zhen_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,715},{40,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,39}</string>
			</dict>
			<key>resource/form/segment/hl_form_icon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,870},{120,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,116}</string>
			</dict>
			<key>resource/form/segment/hl_form_icon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,870},{120,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,116}</string>
			</dict>
			<key>resource/form/segment/hl_form_icon_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,751},{120,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,116}</string>
			</dict>
			<key>resource/form/segment/hl_form_icon_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,474},{120,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,117}</string>
			</dict>
			<key>resource/form/segment/hl_form_icon_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,593},{120,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,117}</string>
			</dict>
			<key>resource/form/segment/hl_form_icon_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,712},{120,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,117}</string>
			</dict>
			<key>resource/form/segment/hl_form_icon_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1},{178,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,208}</string>
			</dict>
			<key>resource/form/segment/hl_form_1021.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,754},{103,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,108}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>form.png</string>
			<key>realTextureFileName</key>
			<string>form.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>