<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>planesafkaction_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,0},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>planesafkaction_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,145},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>planesafkaction_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,56},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>planesafkaction_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,98},{8,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,60}}</string>
                <key>sourceSize</key>
                <string>{8,60}</string>
            </dict>
            <key>planesafkaction_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,151},{135,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,96}}</string>
                <key>sourceSize</key>
                <string>{135,96}</string>
            </dict>
            <key>planesafkaction_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{192,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,149}}</string>
                <key>sourceSize</key>
                <string>{192,149}</string>
            </dict>
            <key>planesafkaction_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,192},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>planesafkaction_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,192},{77,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,63}}</string>
                <key>sourceSize</key>
                <string>{77,63}</string>
            </dict>
            <key>planesafkaction_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,76},{67,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,27}}</string>
                <key>sourceSize</key>
                <string>{67,27}</string>
            </dict>
            <key>planesafkaction_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,192},{92,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,62}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>planesafkaction_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,76},{91,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,84}}</string>
                <key>sourceSize</key>
                <string>{91,84}</string>
            </dict>
            <key>planesafkaction_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,0},{3,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,15}}</string>
                <key>sourceSize</key>
                <string>{3,15}</string>
            </dict>
            <key>planesafkaction_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,162},{17,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,173}}</string>
                <key>sourceSize</key>
                <string>{17,173}</string>
            </dict>
            <key>planesafkaction_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,181},{9,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,175}}</string>
                <key>sourceSize</key>
                <string>{9,175}</string>
            </dict>
            <key>txt_cn_planesafkaction_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,0},{109,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,74}}</string>
                <key>sourceSize</key>
                <string>{109,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>planesafkorderaction.png</string>
            <key>size</key>
            <string>{358,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fdcd217841e9e4981fd08afa16c0e0a$</string>
            <key>textureFileName</key>
            <string>planesafkorderaction.png</string>
        </dict>
    </dict>
</plist>
