<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elitematch_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,546},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>elitematch_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{193,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,407}}</string>
                <key>sourceSize</key>
                <string>{193,407}</string>
            </dict>
            <key>elitematch_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,428},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>elitematch_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,505},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>elitematch_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,505},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>elitematch_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,428},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>elitematch_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,351},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>elitematch_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,334},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>elitematch_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,347},{55,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,42}}</string>
                <key>sourceSize</key>
                <string>{55,42}</string>
            </dict>
            <key>elitematch_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,571},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>elitematch_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,274},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>elitematch_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,351},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>elitematch_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,534},{35,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,54}}</string>
                <key>sourceSize</key>
                <string>{35,54}</string>
            </dict>
            <key>elitematch_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,308},{29,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,24}}</string>
                <key>sourceSize</key>
                <string>{29,24}</string>
            </dict>
            <key>elitematch_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,0},{345,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,22}}</string>
                <key>sourceSize</key>
                <string>{345,22}</string>
            </dict>
            <key>elitematch_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,428},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>elitematch_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,0},{345,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,22}}</string>
                <key>sourceSize</key>
                <string>{345,22}</string>
            </dict>
            <key>elitematch_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,351},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>elitematch_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,274},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>elitematch_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,111},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>elitematch_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,582},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>elitematch_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,351},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>elitematch_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,582},{77,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,63}}</string>
                <key>sourceSize</key>
                <string>{77,63}</string>
            </dict>
            <key>elitematch_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,505},{67,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,27}}</string>
                <key>sourceSize</key>
                <string>{67,27}</string>
            </dict>
            <key>elitematch_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,578},{92,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,62}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>elitematch_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,188},{91,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,84}}</string>
                <key>sourceSize</key>
                <string>{91,84}</string>
            </dict>
            <key>elitematch_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,165},{17,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,173}}</string>
                <key>sourceSize</key>
                <string>{17,173}</string>
            </dict>
            <key>elitematch_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,183},{3,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,15}}</string>
                <key>sourceSize</key>
                <string>{3,15}</string>
            </dict>
            <key>elitematch_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,165},{9,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,175}}</string>
                <key>sourceSize</key>
                <string>{9,175}</string>
            </dict>
            <key>elitematch_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,165},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>elitematch_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,582},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>elitematch_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,505},{8,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,60}}</string>
                <key>sourceSize</key>
                <string>{8,60}</string>
            </dict>
            <key>elitematch_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,409},{135,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,96}}</string>
                <key>sourceSize</key>
                <string>{135,96}</string>
            </dict>
            <key>elitematch_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,409},{171,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,167}}</string>
                <key>sourceSize</key>
                <string>{171,167}</string>
            </dict>
            <key>elitematch_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,0},{171,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{171,163}}</string>
                <key>sourceSize</key>
                <string>{171,167}</string>
            </dict>
            <key>elitematch_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,578},{86,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,69}}</string>
                <key>sourceSize</key>
                <string>{86,69}</string>
            </dict>
            <key>elitematch_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,0},{13,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,28}}</string>
                <key>sourceSize</key>
                <string>{13,28}</string>
            </dict>
            <key>txt_cn_elitematch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,165},{184,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,61}}</string>
                <key>sourceSize</key>
                <string>{184,61}</string>
            </dict>
            <key>txt_cn_elitematch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,165},{184,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,61}}</string>
                <key>sourceSize</key>
                <string>{184,61}</string>
            </dict>
            <key>txt_cn_elitematch_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,401},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>txt_cn_elitematch_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,397},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>txt_cn_elitematch_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,0},{109,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,74}}</string>
                <key>sourceSize</key>
                <string>{109,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elitematch.png</string>
            <key>size</key>
            <string>{505,647}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b21b2df8da33ea51c0e8bf9ac699c60$</string>
            <key>textureFileName</key>
            <string>elitematch.png</string>
        </dict>
    </dict>
</plist>
