<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>apt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{204,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,79}}</string>
                <key>sourceSize</key>
                <string>{204,79}</string>
            </dict>
            <key>txt_cn_apt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,81},{128,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,29}}</string>
                <key>sourceSize</key>
                <string>{128,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>actionpractisetower.png</string>
            <key>size</key>
            <string>{204,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc571c8be73d6b46b0264aacae05ccc5$</string>
            <key>textureFileName</key>
            <string>actionpractisetower.png</string>
        </dict>
    </dict>
</plist>
