<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hl_vedio_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,0},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>hl_vedio_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,100},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>hl_vedio_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,88},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>hl_vedio_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,88},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>hl_vedio_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,0},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>hl_vedio_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,64},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>hl_vedio_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,64},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>hl_vedio_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,64},{62,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,54}</string>
            </dict>
            <key>hl_vedio_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,0},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>hl_vedio_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,0},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>hl_vedio_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,0},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>hl_vedio_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,0},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>hl_vedio_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,88},{20,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,35}}</string>
                <key>sourceSize</key>
                <string>{20,35}</string>
            </dict>
            <key>hl_vedio_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,0},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>hl_vedio_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,88},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>hl_vedio_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,88},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>txt_cn_vedio_collect.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,0},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>txt_cn_vedio_data.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,50},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,51}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>txt_cn_vedio_detial.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,77},{48,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,53}}</string>
                <key>sourceSize</key>
                <string>{48,53}</string>
            </dict>
            <key>txt_cn_vedio_like.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,53},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>txt_cn_vedio_like_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,69},{56,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,51}}</string>
                <key>sourceSize</key>
                <string>{56,51}</string>
            </dict>
            <key>txt_cn_vedio_loss.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,79},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>txt_cn_vedio_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,0},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>txt_cn_vedio_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,56},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,51}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>txt_cn_vedio_un_collect.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,0},{75,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,51}}</string>
                <key>sourceSize</key>
                <string>{75,51}</string>
            </dict>
            <key>txt_cn_vedio_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,79},{40,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,43}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>vedio_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,0},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>vedio_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,0},{218,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,62}}</string>
                <key>sourceSize</key>
                <string>{218,62}</string>
            </dict>
            <key>vedio_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,88},{31,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,18}}</string>
                <key>sourceSize</key>
                <string>{31,18}</string>
            </dict>
            <key>vedio_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,53},{19,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,27}}</string>
                <key>sourceSize</key>
                <string>{19,27}</string>
            </dict>
            <key>vedio_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,109},{169,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,16}}</string>
                <key>sourceSize</key>
                <string>{169,16}</string>
            </dict>
            <key>vedio_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>vedio_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,88},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>vedio_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,56},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>vedio_1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,74},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>vedio_1013.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,74},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>vedio_1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,88},{44,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,37}}</string>
                <key>sourceSize</key>
                <string>{44,37}</string>
            </dict>
            <key>vedio_1015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{28,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,13}}</string>
                <key>sourceSize</key>
                <string>{28,13}</string>
            </dict>
            <key>vedio_1016.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,88},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>vedio_1018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{92,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,110}}</string>
                <key>sourceSize</key>
                <string>{92,110}</string>
            </dict>
            <key>vedio_1021.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,30},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>vedio_1022.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,100},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vedio.png</string>
            <key>size</key>
            <string>{1024,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:284ed5e90e2b65704b47965ac8bc3c59$</string>
            <key>textureFileName</key>
            <string>vedio.png</string>
        </dict>
    </dict>
</plist>
