<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>seven_gold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,338},{77,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,57}}</string>
                <key>sourceSize</key>
                <string>{77,57}</string>
            </dict>
            <key>seven_gold_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,353},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>seven_gold_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,131},{95,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{95,97}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>seven_gold_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,395},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>seven_gold_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,383},{122,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,28}}</string>
                <key>sourceSize</key>
                <string>{122,28}</string>
            </dict>
            <key>seven_gold_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,338},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>seven_gold_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,228},{115,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,123}}</string>
                <key>sourceSize</key>
                <string>{115,123}</string>
            </dict>
            <key>seven_gold_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,228},{212,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,183}}</string>
                <key>sourceSize</key>
                <string>{212,183}</string>
            </dict>
            <key>seven_gold_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,276},{153,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,125}}</string>
                <key>sourceSize</key>
                <string>{153,125}</string>
            </dict>
            <key>seven_gold_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{679,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{679,274}}</string>
                <key>sourceSize</key>
                <string>{679,274}</string>
            </dict>
            <key>seven_gold_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,338},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>seven_gold_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,0},{86,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,129}}</string>
                <key>sourceSize</key>
                <string>{86,129}</string>
            </dict>
            <key>seven_gold_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,276},{105,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,96}}</string>
                <key>sourceSize</key>
                <string>{105,96}</string>
            </dict>
            <key>seven_gold_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,0},{229,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,226}}</string>
                <key>sourceSize</key>
                <string>{229,226}</string>
            </dict>
            <key>seven_gold_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,276},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>seven_gold_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,413},{13,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,600}}</string>
                <key>sourceSize</key>
                <string>{13,600}</string>
            </dict>
            <key>seven_gold_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,413},{15,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,166}}</string>
                <key>sourceSize</key>
                <string>{15,166}</string>
            </dict>
            <key>seven_gold_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,338},{68,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,58}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>seven_gold_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,413},{16,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,2}}</string>
                <key>sourceSize</key>
                <string>{16,2}</string>
            </dict>
            <key>txt_cn_seven_gold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,276},{120,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{120,33}}</string>
                <key>sourceSize</key>
                <string>{124,33}</string>
            </dict>
            <key>txt_cn_seven_gold_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,276},{273,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,60}}</string>
                <key>sourceSize</key>
                <string>{273,60}</string>
            </dict>
            <key>txt_cn_seven_gold_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,353},{84,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,57}}</string>
                <key>sourceSize</key>
                <string>{84,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>seven_gold.png</string>
            <key>size</key>
            <string>{1016,428}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e0f171edb35c2bfb74c91b58c53056b$</string>
            <key>textureFileName</key>
            <string>seven_gold.png</string>
        </dict>
    </dict>
</plist>
