<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guildmarketplace_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{246,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,291}}</string>
                <key>sourceSize</key>
                <string>{246,291}</string>
            </dict>
            <key>guildmarketplace_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,362},{44,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,16}}</string>
                <key>sourceSize</key>
                <string>{44,16}</string>
            </dict>
            <key>guildmarketplace_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,669},{41,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,138}}</string>
                <key>sourceSize</key>
                <string>{41,138}</string>
            </dict>
            <key>guildmarketplace_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,380},{19,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,44}}</string>
                <key>sourceSize</key>
                <string>{19,44}</string>
            </dict>
            <key>guildmarketplace_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,622},{10,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,36}}</string>
                <key>sourceSize</key>
                <string>{10,36}</string>
            </dict>
            <key>guildmarketplace_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,669},{99,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,44}}</string>
                <key>sourceSize</key>
                <string>{99,44}</string>
            </dict>
            <key>guildmarketplace_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,293},{85,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,67}}</string>
                <key>sourceSize</key>
                <string>{85,67}</string>
            </dict>
            <key>guildmarketplace_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,408},{150,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,82}}</string>
                <key>sourceSize</key>
                <string>{150,82}</string>
            </dict>
            <key>guildmarketplace_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,592},{75,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,146}}</string>
                <key>sourceSize</key>
                <string>{75,146}</string>
            </dict>
            <key>guildmarketplace_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,515},{75,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,146}}</string>
                <key>sourceSize</key>
                <string>{75,146}</string>
            </dict>
            <key>guildmarketplace_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,362},{156,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,151}}</string>
                <key>sourceSize</key>
                <string>{156,151}</string>
            </dict>
            <key>guildmarketplace_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,293},{176,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,67}}</string>
                <key>sourceSize</key>
                <string>{176,67}</string>
            </dict>
            <key>guildmarketplace_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,380},{3,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,15}}</string>
                <key>sourceSize</key>
                <string>{3,15}</string>
            </dict>
            <key>txt_cn_guildmarketplace_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,560},{96,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,60}}</string>
                <key>sourceSize</key>
                <string>{96,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guildmarketplace.png</string>
            <key>size</key>
            <string>{246,716}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab083b2d92767a106f56f92b81256816$</string>
            <key>textureFileName</key>
            <string>guildmarketplace.png</string>
        </dict>
    </dict>
</plist>
