<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>planes_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,726},{720,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,79}}</string>
                <key>sourceSize</key>
                <string>{720,79}</string>
            </dict>
            <key>planes_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,867},{101,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,60}}</string>
                <key>sourceSize</key>
                <string>{101,60}</string>
            </dict>
            <key>planes_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,770},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>planes_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,726},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>planes_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,970},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>planes_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,808},{20,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{20,36}</string>
            </dict>
            <key>planes_1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1296},{39,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,31}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
            <key>planes_1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1026},{102,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{102,48}}</string>
                <key>sourceSize</key>
                <string>{126,48}</string>
            </dict>
            <key>planes_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{252,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,266}}</string>
                <key>sourceSize</key>
                <string>{252,266}</string>
            </dict>
            <key>planes_1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,268},{167,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,63}}</string>
                <key>sourceSize</key>
                <string>{167,63}</string>
            </dict>
            <key>planes_1013.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,437},{74,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,86}}</string>
                <key>sourceSize</key>
                <string>{74,86}</string>
            </dict>
            <key>planes_1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,726},{5,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,61}}</string>
                <key>sourceSize</key>
                <string>{5,61}</string>
            </dict>
            <key>planes_1015.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1226},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>planes_1016.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1178},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>planes_1017.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1130},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>planes_1018.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1320},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,131}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>planes_1019.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1372},{32,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,43}}</string>
                <key>sourceSize</key>
                <string>{32,43}</string>
            </dict>
            <key>planes_1020.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,608},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>planesafk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,808},{57,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,61}}</string>
                <key>sourceSize</key>
                <string>{57,61}</string>
            </dict>
            <key>planesafk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,563},{174,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,161}}</string>
                <key>sourceSize</key>
                <string>{174,161}</string>
            </dict>
            <key>planesafk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,525},{81,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,71}}</string>
                <key>sourceSize</key>
                <string>{81,71}</string>
            </dict>
            <key>planesafk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,426},{175,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,135}}</string>
                <key>sourceSize</key>
                <string>{175,135}</string>
            </dict>
            <key>planesafk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,268},{186,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,156}}</string>
                <key>sourceSize</key>
                <string>{186,156}</string>
            </dict>
            <key>planesafk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1329},{41,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,36}}</string>
                <key>sourceSize</key>
                <string>{41,36}</string>
            </dict>
            <key>planesafk_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1274},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>planesafk_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,690},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>txt_cn_planes_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,968},{110,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{110,106}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>txt_cn_planes_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1076},{114,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{114,120}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>txt_cn_planes_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,852},{110,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{110,114}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>txt_cn_planes_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1192},{104,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{104,102}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>planes_map.png</string>
            <key>size</key>
            <string>{254,1452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60561250b6de2b9473c61ab7e21c1ddb$</string>
            <key>textureFileName</key>
            <string>planes_map.png</string>
        </dict>
    </dict>
</plist>
