<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>planes_hard_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,89},{248,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,210}}</string>
                <key>sourceSize</key>
                <string>{248,210}</string>
            </dict>
            <key>planes_hard_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{293,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,303}}</string>
                <key>sourceSize</key>
                <string>{293,303}</string>
            </dict>
            <key>planes_hard_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,0},{270,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,292}}</string>
                <key>sourceSize</key>
                <string>{270,292}</string>
            </dict>
            <key>txt_cn_planes_hard_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,89},{152,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,42}}</string>
                <key>sourceSize</key>
                <string>{152,42}</string>
            </dict>
            <key>txt_cn_planes_hard_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,89},{152,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,42}}</string>
                <key>sourceSize</key>
                <string>{152,42}</string>
            </dict>
            <key>txt_cn_planes_hard_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,0},{339,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,87}}</string>
                <key>sourceSize</key>
                <string>{339,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>planes_hard.png</string>
            <key>size</key>
            <string>{916,299}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd64b6d03d7aa160069585448eaf95ed$</string>
            <key>textureFileName</key>
            <string>planes_hard.png</string>
        </dict>
    </dict>
</plist>
