<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>planes_info_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,87},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>planes_info_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,87},{387,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,28}}</string>
                <key>sourceSize</key>
                <string>{387,28}</string>
            </dict>
            <key>planes_info_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,347},{12,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,32}}</string>
                <key>sourceSize</key>
                <string>{12,32}</string>
            </dict>
            <key>planes_info_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,347},{19,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,34}}</string>
                <key>sourceSize</key>
                <string>{19,34}</string>
            </dict>
            <key>planes_info_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{85,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,80}}</string>
                <key>sourceSize</key>
                <string>{85,80}</string>
            </dict>
            <key>planes_info_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,128},{148,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,40}}</string>
                <key>sourceSize</key>
                <string>{148,40}</string>
            </dict>
            <key>planes_info_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,278},{67,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,40}}</string>
                <key>sourceSize</key>
                <string>{67,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>planes_info.png</string>
            <key>size</key>
            <string>{80,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a514d8527105a7a3be1c1d60268b872$</string>
            <key>textureFileName</key>
            <string>planes_info.png</string>
        </dict>
    </dict>
</plist>
