<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mall_score_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{195,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,236}}</string>
                <key>sourceSize</key>
                <string>{195,236}</string>
            </dict>
            <key>mall_score_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,86},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>mall_score_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,65},{54,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{54,80}</string>
            </dict>
            <key>mall_score_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,65},{26,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,93}}</string>
                <key>sourceSize</key>
                <string>{26,93}</string>
            </dict>
            <key>mall_score_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,0},{399,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,63}}</string>
                <key>sourceSize</key>
                <string>{399,63}</string>
            </dict>
            <key>mall_score_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,160},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>mall_score_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,65},{122,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,143}}</string>
                <key>sourceSize</key>
                <string>{122,143}</string>
            </dict>
            <key>mall_score_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,65},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
            <key>mall_score_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,154},{36,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,72}}</string>
                <key>sourceSize</key>
                <string>{36,72}</string>
            </dict>
            <key>mall_score_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,154},{39,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,75}}</string>
                <key>sourceSize</key>
                <string>{39,75}</string>
            </dict>
            <key>txt_cn_sell_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,65},{133,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,87}}</string>
                <key>sourceSize</key>
                <string>{133,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mall_score.png</string>
            <key>size</key>
            <string>{637,195}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d82f4bd150f8782790e240851f100c5$</string>
            <key>textureFileName</key>
            <string>mall_score.png</string>
        </dict>
    </dict>
</plist>
