<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>limitexercise_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,0},{133,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,121}}</string>
                <key>sourceSize</key>
                <string>{133,121}</string>
            </dict>
            <key>limitexercise_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,64},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>limitexercise_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,50},{45,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,53}}</string>
                <key>sourceSize</key>
                <string>{45,53}</string>
            </dict>
            <key>limitexercise_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,113},{8,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,17}}</string>
                <key>sourceSize</key>
                <string>{8,17}</string>
            </dict>
            <key>limitexercise_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,50},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>limitexercise_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,81},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>limitexercise_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,50},{54,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,49}}</string>
                <key>sourceSize</key>
                <string>{54,49}</string>
            </dict>
            <key>limitexercise_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,109},{106,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,12}}</string>
                <key>sourceSize</key>
                <string>{106,12}</string>
            </dict>
            <key>limitexercise_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,50},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>limitexercise_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{8,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,532}}</string>
                <key>sourceSize</key>
                <string>{8,532}</string>
            </dict>
            <key>limitexercise_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,87},{35,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>limitexercise_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,38},{138,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,10}}</string>
                <key>sourceSize</key>
                <string>{138,10}</string>
            </dict>
            <key>limitexercise_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,101},{12,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,20}}</string>
                <key>sourceSize</key>
                <string>{12,20}</string>
            </dict>
            <key>limitexercise_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,10},{94,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,97}}</string>
                <key>sourceSize</key>
                <string>{94,97}</string>
            </dict>
            <key>limitexercise_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,87},{12,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,21}}</string>
                <key>sourceSize</key>
                <string>{12,21}</string>
            </dict>
            <key>limitexercise_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,81},{51,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,40}}</string>
                <key>sourceSize</key>
                <string>{51,40}</string>
            </dict>
            <key>limitexercise_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,87},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>limitexercise_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,54},{47,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,65}}</string>
                <key>sourceSize</key>
                <string>{47,65}</string>
            </dict>
            <key>limitexercise_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,10},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>limitexercise_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,10},{26,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,38}}</string>
                <key>sourceSize</key>
                <string>{26,38}</string>
            </dict>
            <key>limitexercise_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,10},{154,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,26}}</string>
                <key>sourceSize</key>
                <string>{154,26}</string>
            </dict>
            <key>limitexercise_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,54},{7,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,5}}</string>
                <key>sourceSize</key>
                <string>{7,5}</string>
            </dict>
            <key>limitexercise_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,0},{87,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{87,77}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>limitexercise_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,0},{87,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{87,79}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>limitexercise_box3.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,0},{89,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{89,85}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>txt_cn_limitexercise_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,54},{91,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,67}}</string>
                <key>sourceSize</key>
                <string>{91,67}</string>
            </dict>
            <key>txt_cn_limitexercise_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,10},{147,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,42}}</string>
                <key>sourceSize</key>
                <string>{147,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>limitexercise.png</string>
            <key>size</key>
            <string>{926,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:521c040e75b4e2f27330c3bcbd906cbe$</string>
            <key>textureFileName</key>
            <string>limitexercise.png</string>
        </dict>
    </dict>
</plist>
