<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crossarena_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,746},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>crossarena_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,838},{63,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,136}}</string>
                <key>sourceSize</key>
                <string>{63,136}</string>
            </dict>
            <key>crossarena_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,823},{161,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,30}}</string>
                <key>sourceSize</key>
                <string>{161,30}</string>
            </dict>
            <key>crossarena_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,0},{222,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,343}}</string>
                <key>sourceSize</key>
                <string>{222,343}</string>
            </dict>
            <key>crossarena_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,0},{218,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,339}}</string>
                <key>sourceSize</key>
                <string>{218,339}</string>
            </dict>
            <key>crossarena_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,345},{219,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,339}}</string>
                <key>sourceSize</key>
                <string>{219,339}</string>
            </dict>
            <key>crossarena_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,802},{35,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,54}}</string>
                <key>sourceSize</key>
                <string>{35,54}</string>
            </dict>
            <key>crossarena_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,823},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>crossarena_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,878},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>crossarena_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,801},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>crossarena_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,734},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>crossarena_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,825},{198,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,188}}</string>
                <key>sourceSize</key>
                <string>{198,188}</string>
            </dict>
            <key>crossarena_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,701},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>crossarena_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,898},{220,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,115}}</string>
                <key>sourceSize</key>
                <string>{220,115}</string>
            </dict>
            <key>hl_crossarena_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,616},{580,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,166}}</string>
                <key>sourceSize</key>
                <string>{580,166}</string>
            </dict>
            <key>hl_crossarena_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,0},{699,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{699,83}}</string>
                <key>sourceSize</key>
                <string>{699,83}</string>
            </dict>
            <key>hl_crossarena_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,0},{173,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,2}}</string>
                <key>sourceSize</key>
                <string>{173,2}</string>
            </dict>
            <key>hl_crossarena_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,341},{294,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,58}}</string>
                <key>sourceSize</key>
                <string>{294,58}</string>
            </dict>
            <key>hl_crossarena_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,838},{45,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,126}}</string>
                <key>sourceSize</key>
                <string>{45,126}</string>
            </dict>
            <key>hl_crossarena_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,0},{53,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,290}}</string>
                <key>sourceSize</key>
                <string>{53,290}</string>
            </dict>
            <key>hl_crossarena_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,780},{104,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,19}}</string>
                <key>sourceSize</key>
                <string>{104,19}</string>
            </dict>
            <key>hl_crossarena_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,784},{544,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,112}}</string>
                <key>sourceSize</key>
                <string>{544,112}</string>
            </dict>
            <key>hl_crossarena_1007_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,341},{1,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,94}}</string>
                <key>sourceSize</key>
                <string>{1,94}</string>
            </dict>
            <key>hl_crossarena_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,345},{97,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,399}}</string>
                <key>sourceSize</key>
                <string>{97,399}</string>
            </dict>
            <key>hl_crossarena_1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,734},{89,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,240}}</string>
                <key>sourceSize</key>
                <string>{89,240}</string>
            </dict>
            <key>hl_crossarena_1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,701},{64,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,102}}</string>
                <key>sourceSize</key>
                <string>{64,102}</string>
            </dict>
            <key>hl_crossarena_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,0},{720,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,80}}</string>
                <key>sourceSize</key>
                <string>{720,80}</string>
            </dict>
            <key>hl_crossarena_1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{649,614}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{649,614}}</string>
                <key>sourceSize</key>
                <string>{649,614}</string>
            </dict>
            <key>hl_crossarena_1013.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,898},{104,437}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,437}}</string>
                <key>sourceSize</key>
                <string>{104,437}</string>
            </dict>
            <key>hl_crossarena_1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,724},{16,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,8}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>hl_crossarena_1015.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1004},{321,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,7}}</string>
                <key>sourceSize</key>
                <string>{321,7}</string>
            </dict>
            <key>hl_crossarena_1016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,900},{63,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,73}}</string>
                <key>sourceSize</key>
                <string>{63,73}</string>
            </dict>
            <key>hl_crossarena_1017.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,986},{11,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,14}}</string>
                <key>sourceSize</key>
                <string>{11,14}</string>
            </dict>
            <key>hl_crossarena_1018.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,686},{215,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,46}}</string>
                <key>sourceSize</key>
                <string>{215,46}</string>
            </dict>
            <key>hl_crossarena_1019.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,886},{12,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,10}}</string>
                <key>sourceSize</key>
                <string>{12,10}</string>
            </dict>
            <key>hl_crossarena_1023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,341},{437,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,91}}</string>
                <key>sourceSize</key>
                <string>{437,91}</string>
            </dict>
            <key>hl_crossarena_1024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,292},{22,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,44}}</string>
                <key>sourceSize</key>
                <string>{22,44}</string>
            </dict>
            <key>hl_crossarena_1025.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,825},{179,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,129}}</string>
                <key>sourceSize</key>
                <string>{179,129}</string>
            </dict>
            <key>txt_cn_crossarena_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,784},{100,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,34}}</string>
                <key>sourceSize</key>
                <string>{100,34}</string>
            </dict>
            <key>txt_cn_crossarena_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,637},{184,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,61}}</string>
                <key>sourceSize</key>
                <string>{184,61}</string>
            </dict>
            <key>txt_cn_crossarena_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,616},{184,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,61}}</string>
                <key>sourceSize</key>
                <string>{184,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crossarena.png</string>
            <key>size</key>
            <string>{1319,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbeeb758ceeb9d7b2d22c1b78eb44455$</string>
            <key>textureFileName</key>
            <string>crossarena.png</string>
        </dict>
    </dict>
</plist>
