<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_eight_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,552},{158,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,40}}</string>
                <key>sourceSize</key>
                <string>{158,40}</string>
            </dict>
            <key>action_eight_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,650},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>action_eight_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{126,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,156}}</string>
                <key>sourceSize</key>
                <string>{126,156}</string>
            </dict>
            <key>action_eight_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,376},{108,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,83}}</string>
                <key>sourceSize</key>
                <string>{108,83}</string>
            </dict>
            <key>action_eight_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,650},{29,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,23}}</string>
                <key>sourceSize</key>
                <string>{29,23}</string>
            </dict>
            <key>action_eight_item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,158},{110,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,107}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>action_eight_item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,461},{103,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{103,89}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>action_eight_item_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,267},{109,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,107}}</string>
                <key>sourceSize</key>
                <string>{109,107}</string>
            </dict>
            <key>txt_cn_eight_login_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,552},{96,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,69}}</string>
                <key>sourceSize</key>
                <string>{96,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>actioneightlogin.png</string>
            <key>size</key>
            <string>{126,710}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e64829d3901416dbdc43a7e164754aa$</string>
            <key>textureFileName</key>
            <string>actioneightlogin.png</string>
        </dict>
    </dict>
</plist>
