<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>actionpetard_chose_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,25},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>actionpetard_chose_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,25},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>actionpetard_chose_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,0},{81,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,23}}</string>
                <key>sourceSize</key>
                <string>{81,23}</string>
            </dict>
            <key>actionpetard_chose_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{43,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,49}}</string>
                <key>sourceSize</key>
                <string>{43,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>actionpetard_chose.png</string>
            <key>size</key>
            <string>{126,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13f7bab7a69e50e5fe7a1b3738bcd26b$</string>
            <key>textureFileName</key>
            <string>actionpetard_chose.png</string>
        </dict>
    </dict>
</plist>
