<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>actionwhitedaymonster_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{408,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,27}}</string>
                <key>sourceSize</key>
                <string>{408,27}</string>
            </dict>
            <key>actionwhitedaymonster_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,0},{16,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,31}}</string>
                <key>sourceSize</key>
                <string>{16,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>actionwhitedaymonster.png</string>
            <key>size</key>
            <string>{441,27}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6c2b4ec2c378cf69a7be0082c6b42b7$</string>
            <key>textureFileName</key>
            <string>actionwhitedaymonster.png</string>
        </dict>
    </dict>
</plist>
