<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>practisetower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,666},{720,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,331}}</string>
                <key>sourceSize</key>
                <string>{720,331}</string>
            </dict>
            <key>practisetower_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,167},{146,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,159}}</string>
                <key>sourceSize</key>
                <string>{146,159}</string>
            </dict>
            <key>practisetower_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,315},{198,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,158}}</string>
                <key>sourceSize</key>
                <string>{198,158}</string>
            </dict>
            <key>practisetower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,333},{720,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,331}}</string>
                <key>sourceSize</key>
                <string>{720,331}</string>
            </dict>
            <key>practisetower_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{720,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,331}}</string>
                <key>sourceSize</key>
                <string>{720,331}</string>
            </dict>
            <key>practisetower_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,515},{32,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,43}}</string>
                <key>sourceSize</key>
                <string>{32,43}</string>
            </dict>
            <key>practisetower_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,0},{165,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,159}}</string>
                <key>sourceSize</key>
                <string>{165,159}</string>
            </dict>
            <key>practisetower_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,602},{41,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,36}}</string>
                <key>sourceSize</key>
                <string>{41,36}</string>
            </dict>
            <key>practisetower_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,560},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>practisetower_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,515},{123,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,85}}</string>
                <key>sourceSize</key>
                <string>{123,85}</string>
            </dict>
            <key>practisetower_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,602},{169,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,63}}</string>
                <key>sourceSize</key>
                <string>{169,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>practisetower.png</string>
            <key>size</key>
            <string>{881,997}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb5ecff4d1d7619ec7d9d78dd43f486d$</string>
            <key>textureFileName</key>
            <string>practisetower.png</string>
        </dict>
    </dict>
</plist>
