<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>endless_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,314},{242,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,76}}</string>
                <key>sourceSize</key>
                <string>{242,76}</string>
            </dict>
            <key>endless_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,505},{96,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,27}}</string>
                <key>sourceSize</key>
                <string>{96,27}</string>
            </dict>
            <key>endless_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,798},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>endless_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,941},{99,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,113}}</string>
                <key>sourceSize</key>
                <string>{99,113}</string>
            </dict>
            <key>endless_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,94},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>endless_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,962},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>endless_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,1844},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>endless_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,962},{204,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,79}}</string>
                <key>sourceSize</key>
                <string>{204,79}</string>
            </dict>
            <key>endless_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1974},{70,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,159}}</string>
                <key>sourceSize</key>
                <string>{70,159}</string>
            </dict>
            <key>endless_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1},{64,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,311}}</string>
                <key>sourceSize</key>
                <string>{64,311}</string>
            </dict>
            <key>endless_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,628},{311,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,176}}</string>
                <key>sourceSize</key>
                <string>{311,176}</string>
            </dict>
            <key>endless_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1844},{146,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,128}}</string>
                <key>sourceSize</key>
                <string>{146,128}</string>
            </dict>
            <key>endless_fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,558},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>hl_endless_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1465},{140,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,298}}</string>
                <key>sourceSize</key>
                <string>{140,298}</string>
            </dict>
            <key>hl_endless_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1048},{720,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,415}}</string>
                <key>sourceSize</key>
                <string>{720,415}</string>
            </dict>
            <key>hl_endless_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1465},{180,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,14}}</string>
                <key>sourceSize</key>
                <string>{180,14}</string>
            </dict>
            <key>hl_endless_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1},{502,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,53}}</string>
                <key>sourceSize</key>
                <string>{502,53}</string>
            </dict>
            <key>hl_endless_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1465},{278,577}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,577}}</string>
                <key>sourceSize</key>
                <string>{278,577}</string>
            </dict>
            <key>hl_endless_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{320,1045}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,1045}}</string>
                <key>sourceSize</key>
                <string>{320,1045}</string>
            </dict>
            <key>hl_endless_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,498},{462,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,27}}</string>
                <key>sourceSize</key>
                <string>{462,27}</string>
            </dict>
            <key>hl_endless_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1465},{282,577}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,577}}</string>
                <key>sourceSize</key>
                <string>{282,577}</string>
            </dict>
            <key>hl_endless_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,498},{191,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,298}}</string>
                <key>sourceSize</key>
                <string>{191,298}</string>
            </dict>
            <key>hl_endless_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1765},{125,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,70}}</string>
                <key>sourceSize</key>
                <string>{125,70}</string>
            </dict>
            <key>hl_endless_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1647},{103,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,22}}</string>
                <key>sourceSize</key>
                <string>{103,22}</string>
            </dict>
            <key>hl_endless_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1752},{90,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,18}}</string>
                <key>sourceSize</key>
                <string>{90,18}</string>
            </dict>
            <key>hl_endless_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,894},{38,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,134}}</string>
                <key>sourceSize</key>
                <string>{38,134}</string>
            </dict>
            <key>hl_endless_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1},{495,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,258}}</string>
                <key>sourceSize</key>
                <string>{495,258}</string>
            </dict>
            <key>txt_cn_endless_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,498},{128,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,29}}</string>
                <key>sourceSize</key>
                <string>{128,29}</string>
            </dict>
            <key>txt_cn_endless_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,130},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>txt_cn_endless_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1},{91,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,25}}</string>
                <key>sourceSize</key>
                <string>{91,25}</string>
            </dict>
            <key>txt_cn_endless_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,576},{65,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,35}}</string>
                <key>sourceSize</key>
                <string>{65,35}</string>
            </dict>
            <key>txt_cn_endless_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,505},{69,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,29}}</string>
                <key>sourceSize</key>
                <string>{69,29}</string>
            </dict>
            <key>txt_cn_exit_battle.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,798},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>endless.png</string>
            <key>size</key>
            <string>{730,2045}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a56c276ae44aeb29d329b4eada63be21:b97a39c56a8c0a5b2493cace61a6c1c3:0d3e5ac1094b25699ecc2f50d3a9d87b$</string>
            <key>textureFileName</key>
            <string>endless.png</string>
        </dict>
    </dict>
</plist>
