<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crosschampion_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1600},{221,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,389}}</string>
                <key>sourceSize</key>
                <string>{221,389}</string>
            </dict>
            <key>crosschampion_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1600},{223,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,388}}</string>
                <key>sourceSize</key>
                <string>{223,388}</string>
            </dict>
            <key>crosschampion_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,1384},{225,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,392}}</string>
                <key>sourceSize</key>
                <string>{225,392}</string>
            </dict>
            <key>crosschampion_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1},{200,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,131}}</string>
                <key>sourceSize</key>
                <string>{200,131}</string>
            </dict>
            <key>crosschampion_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,883},{359,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,164}}</string>
                <key>sourceSize</key>
                <string>{359,164}</string>
            </dict>
            <key>crosschampion_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,905},{286,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,54}}</string>
                <key>sourceSize</key>
                <string>{286,54}</string>
            </dict>
            <key>crosschampion_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,1193},{189,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,54}}</string>
                <key>sourceSize</key>
                <string>{189,54}</string>
            </dict>
            <key>crosschampion_1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1600},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>crosschampion_1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1677},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>crosschampion_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1600},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>hl_crosschampion_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,905},{194,656}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,656}}</string>
                <key>sourceSize</key>
                <string>{194,656}</string>
            </dict>
            <key>hl_crosschampion_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,523},{178,114}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{178,114}}</string>
                <key>sourceSize</key>
                <string>{182,116}</string>
            </dict>
            <key>hl_crosschampion_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1101},{194,656}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,656}}</string>
                <key>sourceSize</key>
                <string>{194,656}</string>
            </dict>
            <key>hl_crosschampion_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,703},{178,114}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{178,114}}</string>
                <key>sourceSize</key>
                <string>{182,116}</string>
            </dict>
            <key>hl_crosschampion_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1244},{178,114}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{178,114}}</string>
                <key>sourceSize</key>
                <string>{182,116}</string>
            </dict>
            <key>hl_crosschampion_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1297},{194,654}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,654}}</string>
                <key>sourceSize</key>
                <string>{194,656}</string>
            </dict>
            <key>hl_crosschampion_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1778},{210,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,160}}</string>
                <key>sourceSize</key>
                <string>{210,160}</string>
            </dict>
            <key>hl_crosschampion_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{720,758}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{720,758}}</string>
                <key>sourceSize</key>
                <string>{720,800}</string>
            </dict>
            <key>hl_crosschampion_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,523},{112,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,16}}</string>
                <key>sourceSize</key>
                <string>{112,16}</string>
            </dict>
            <key>hl_crosschampion_1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1493},{636,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,105}}</string>
                <key>sourceSize</key>
                <string>{636,105}</string>
            </dict>
            <key>hl_crosschampion_1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,723},{34,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,76}}</string>
                <key>sourceSize</key>
                <string>{34,76}</string>
            </dict>
            <key>hl_crosschampion_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1778},{208,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,42}}</string>
                <key>sourceSize</key>
                <string>{208,42}</string>
            </dict>
            <key>hl_crosschampion_1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,723},{720,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,180}}</string>
                <key>sourceSize</key>
                <string>{720,180}</string>
            </dict>
            <key>txt_cn_crosschampion_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,203},{318,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,119}}</string>
                <key>sourceSize</key>
                <string>{318,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>crosschampion.png</string>
            <key>size</key>
            <string>{894,1990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd80fe4a8137f2d40424b74bfc65bcfe:9b54d77f06156499086282d978113de4:09b15affda2427849caea8367e2b702d$</string>
            <key>textureFileName</key>
            <string>crosschampion.png</string>
        </dict>
    </dict>
</plist>
