<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hl_partnersummon_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1065},{59,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,181}}</string>
                <key>sourceSize</key>
                <string>{59,181}</string>
            </dict>
            <key>hl_partnersummon_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,371},{71,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,189}}</string>
                <key>sourceSize</key>
                <string>{71,189}</string>
            </dict>
            <key>hl_partnersummon_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1045},{34,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,79}}</string>
                <key>sourceSize</key>
                <string>{34,79}</string>
            </dict>
            <key>hl_partnersummon_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1045},{52,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,97}}</string>
                <key>sourceSize</key>
                <string>{52,97}</string>
            </dict>
            <key>hl_partnersummon_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,719},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>hl_partnersummon_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,882},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>hl_partnersummon_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,913},{152,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,31}}</string>
                <key>sourceSize</key>
                <string>{152,31}</string>
            </dict>
            <key>hl_partnersummon_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,549},{646,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{646,131}}</string>
                <key>sourceSize</key>
                <string>{646,131}</string>
            </dict>
            <key>hl_partnersummon_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{720,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,385}}</string>
                <key>sourceSize</key>
                <string>{720,385}</string>
            </dict>
            <key>hl_partnersummon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,895},{315,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,93}}</string>
                <key>sourceSize</key>
                <string>{315,93}</string>
            </dict>
            <key>hl_partnersummon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,549},{109,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,108}}</string>
                <key>sourceSize</key>
                <string>{109,108}</string>
            </dict>
            <key>hl_partnersummon_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1},{522,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,66}}</string>
                <key>sourceSize</key>
                <string>{522,66}</string>
            </dict>
            <key>hl_partnersummon_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,1067},{69,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,55}}</string>
                <key>sourceSize</key>
                <string>{69,55}</string>
            </dict>
            <key>hl_partnersummon_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1},{368,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,77}}</string>
                <key>sourceSize</key>
                <string>{368,77}</string>
            </dict>
            <key>hl_partnersummon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,445},{152,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,156}}</string>
                <key>sourceSize</key>
                <string>{152,156}</string>
            </dict>
            <key>hl_partnersummon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,755},{152,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,156}}</string>
                <key>sourceSize</key>
                <string>{152,156}</string>
            </dict>
            <key>hl_partnersummon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1049},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>hl_partnersummon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1065},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>hl_partnersummon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,913},{152,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,31}}</string>
                <key>sourceSize</key>
                <string>{152,31}</string>
            </dict>
            <key>hl_partnersummon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1},{118,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,220}}</string>
                <key>sourceSize</key>
                <string>{118,220}</string>
            </dict>
            <key>hl_partnersummon_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,719},{150,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,251}}</string>
                <key>sourceSize</key>
                <string>{150,251}</string>
            </dict>
            <key>hl_partnersummon_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,990},{118,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,220}}</string>
                <key>sourceSize</key>
                <string>{118,220}</string>
            </dict>
            <key>hl_partnersummon_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,871},{149,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,251}}</string>
                <key>sourceSize</key>
                <string>{149,251}</string>
            </dict>
            <key>hl_partnersummon_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,603},{150,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,251}}</string>
                <key>sourceSize</key>
                <string>{150,251}</string>
            </dict>
            <key>hl_partnersummon_8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,223},{118,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,220}}</string>
                <key>sourceSize</key>
                <string>{118,220}</string>
            </dict>
            <key>hl_partnersummon_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1022},{256,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,41}}</string>
                <key>sourceSize</key>
                <string>{256,41}</string>
            </dict>
            <key>newpartnersummon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,388},{720,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,159}}</string>
                <key>sourceSize</key>
                <string>{720,159}</string>
            </dict>
            <key>newpartnersummon_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1},{9,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,292}}</string>
                <key>sourceSize</key>
                <string>{9,292}</string>
            </dict>
            <key>newpartnersummon_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,913},{130,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,29}}</string>
                <key>sourceSize</key>
                <string>{130,29}</string>
            </dict>
            <key>newpartnersummon_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,719},{338,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,174}}</string>
                <key>sourceSize</key>
                <string>{338,174}</string>
            </dict>
            <key>newpartnersummon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,755},{208,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,88}}</string>
                <key>sourceSize</key>
                <string>{208,88}</string>
            </dict>
            <key>newpartnersummon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,913},{208,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,88}}</string>
                <key>sourceSize</key>
                <string>{208,88}</string>
            </dict>
            <key>newpartnersummon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,660},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>newpartnersummon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,682},{720,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,35}}</string>
                <key>sourceSize</key>
                <string>{720,35}</string>
            </dict>
            <key>newpartnersummon_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,965},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>newpartnersummon_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,990},{114,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,98}}</string>
                <key>sourceSize</key>
                <string>{114,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>newpartnersummon.png</string>
            <key>size</key>
            <string>{1017,1125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d05c0be79e37641298b8f35d6f6b106a:4a9dea4cf42aefb10ab2672c8d296124:60af887090d009d3cb3597aff85a8076$</string>
            <key>textureFileName</key>
            <string>newpartnersummon.png</string>
        </dict>
    </dict>
</plist>
