<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>set_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,212},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>set_gray_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,212},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>set_gray_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,29},{202,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,11}}</string>
                <key>sourceSize</key>
                <string>{202,11}</string>
            </dict>
            <key>set_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,42},{95,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,79}}</string>
                <key>sourceSize</key>
                <string>{95,79}</string>
            </dict>
            <key>set_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,16},{202,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,11}}</string>
                <key>sourceSize</key>
                <string>{202,11}</string>
            </dict>
            <key>set_line_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{218,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,14}}</string>
                <key>sourceSize</key>
                <string>{218,14}</string>
            </dict>
            <key>set_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,123},{76,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,56}}</string>
                <key>sourceSize</key>
                <string>{76,56}</string>
            </dict>
            <key>set_vip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,180},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>set_vip10.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,170},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>set_vip11.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,120},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>set_vip12.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,120},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>set_vip13.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,60},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>set_vip14.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,60},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>set_vip15.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,0},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>set_vip16.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,0},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>set_vip17.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,162},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>set_vip18.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,102},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>set_vip19.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,42},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>set_vip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,162},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>set_vip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,152},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>set_vip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,102},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>set_vip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,102},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>set_vip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,181},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>set_vip7.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,42},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>set_vip8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,181},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>set_vip9.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,42},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>set.png</string>
            <key>size</key>
            <string>{368,243}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a4e7c11d0dff7f10e028a1993a80d9d$</string>
            <key>textureFileName</key>
            <string>set.png</string>
        </dict>
    </dict>
</plist>
