<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>quest_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,50},{59,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,33}}</string>
                <key>sourceSize</key>
                <string>{59,33}</string>
            </dict>
            <key>quest_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,25},{36,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,23}}</string>
                <key>sourceSize</key>
                <string>{36,23}</string>
            </dict>
            <key>quest_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{36,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,23}}</string>
                <key>sourceSize</key>
                <string>{36,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>quest.png</string>
            <key>size</key>
            <string>{36,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1688f1899f50f66d0365db0a625199d$</string>
            <key>textureFileName</key>
            <string>quest.png</string>
        </dict>
    </dict>
</plist>
