<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hl_vip_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{3125,160},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>hl_vip_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2088,0},{161,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,160}}</string>
                <key>sourceSize</key>
                <string>{161,160}</string>
            </dict>
            <key>hl_vip_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{3542,160},{89,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,103}}</string>
                <key>sourceSize</key>
                <string>{89,103}</string>
            </dict>
            <key>hl_vip_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,0},{131,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,184}}</string>
                <key>sourceSize</key>
                <string>{131,184}</string>
            </dict>
            <key>hl_vip_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,0},{646,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{646,183}}</string>
                <key>sourceSize</key>
                <string>{646,183}</string>
            </dict>
            <key>hl_vip_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,0},{590,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,182}}</string>
                <key>sourceSize</key>
                <string>{590,182}</string>
            </dict>
            <key>hl_vip_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,221},{145,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,14}}</string>
                <key>sourceSize</key>
                <string>{145,14}</string>
            </dict>
            <key>hl_vip_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,263},{35,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,10}}</string>
                <key>sourceSize</key>
                <string>{35,10}</string>
            </dict>
            <key>hl_vip_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{274,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,13}}</string>
                <key>sourceSize</key>
                <string>{274,13}</string>
            </dict>
            <key>hl_vip_1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,244},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>hl_vip_1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{3934,109},{85,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,74}}</string>
                <key>sourceSize</key>
                <string>{85,74}</string>
            </dict>
            <key>hl_vip_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,237},{168,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,3}}</string>
                <key>sourceSize</key>
                <string>{168,3}</string>
            </dict>
            <key>hl_vip_1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2390,162},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>hl_vip_1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{242,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,138}}</string>
                <key>sourceSize</key>
                <string>{242,138}</string>
            </dict>
            <key>hl_vip_1015.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,263},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>hl_vip_1016.png</key>
            <dict>
                <key>frame</key>
                <string>{{3380,160},{131,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,50}}</string>
                <key>sourceSize</key>
                <string>{131,50}</string>
            </dict>
            <key>hl_vip_1017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2252,162},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>hl_vip_1018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2114,163},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>hl_vip_1019.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,186},{55,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,34}}</string>
                <key>sourceSize</key>
                <string>{55,34}</string>
            </dict>
            <key>hl_vip_1020.png</key>
            <dict>
                <key>frame</key>
                <string>{{3562,86},{93,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,72}}</string>
                <key>sourceSize</key>
                <string>{93,72}</string>
            </dict>
            <key>txt_cn_vip_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,0},{169,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,157}}</string>
                <key>sourceSize</key>
                <string>{169,157}</string>
            </dict>
            <key>txt_cn_vip_tab1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3712,264},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,32}</string>
            </dict>
            <key>txt_cn_vip_tab2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,184},{120,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,32}}</string>
                <key>sourceSize</key>
                <string>{120,32}</string>
            </dict>
            <key>txt_cn_vip_tab3.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,185},{85,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,37}}</string>
                <key>sourceSize</key>
                <string>{85,37}</string>
            </dict>
            <key>txt_cn_vip_tab4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,184},{120,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,32}}</string>
                <key>sourceSize</key>
                <string>{120,32}</string>
            </dict>
            <key>txt_cn_vip_tab5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,184},{120,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,32}}</string>
                <key>sourceSize</key>
                <string>{120,32}</string>
            </dict>
            <key>txt_cn_vip_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,186},{123,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,33}}</string>
                <key>sourceSize</key>
                <string>{123,33}</string>
            </dict>
            <key>txt_cn_vip_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3615,265},{95,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,33}}</string>
                <key>sourceSize</key>
                <string>{95,33}</string>
            </dict>
            <key>txt_cn_vip_title3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3542,265},{71,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{71,36}}</string>
                <key>sourceSize</key>
                <string>{75,38}</string>
            </dict>
            <key>vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{3562,86},{93,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,72}}</string>
                <key>sourceSize</key>
                <string>{93,72}</string>
            </dict>
            <key>vip_bar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,0},{219,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,20}}</string>
                <key>sourceSize</key>
                <string>{219,20}</string>
            </dict>
            <key>vip_barbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3633,0},{398,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,32}}</string>
                <key>sourceSize</key>
                <string>{398,32}</string>
            </dict>
            <key>vip_extra.png</key>
            <dict>
                <key>frame</key>
                <string>{{3816,34},{97,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,98}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>vip_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3934,34},{91,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,73}}</string>
                <key>sourceSize</key>
                <string>{91,73}</string>
            </dict>
            <key>vip_icon10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3432,160},{121,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,108}}</string>
                <key>sourceSize</key>
                <string>{121,108}</string>
            </dict>
            <key>vip_icon11.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,185},{115,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,117}}</string>
                <key>sourceSize</key>
                <string>{115,117}</string>
            </dict>
            <key>vip_icon12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1881,184},{109,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,107}}</string>
                <key>sourceSize</key>
                <string>{109,107}</string>
            </dict>
            <key>vip_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3657,34},{157,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,98}}</string>
                <key>sourceSize</key>
                <string>{157,98}</string>
            </dict>
            <key>vip_icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3271,160},{131,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,107}}</string>
                <key>sourceSize</key>
                <string>{131,107}</string>
            </dict>
            <key>vip_icon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,184},{132,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,109}}</string>
                <key>sourceSize</key>
                <string>{132,109}</string>
            </dict>
            <key>vip_icon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2250,0},{160,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,145}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>vip_icon6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2968,161},{155,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,132}}</string>
                <key>sourceSize</key>
                <string>{155,132}</string>
            </dict>
            <key>vip_icon9.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,185},{112,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,123}}</string>
                <key>sourceSize</key>
                <string>{112,123}</string>
            </dict>
            <key>vip_image_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2540,161},{143,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,54}}</string>
                <key>sourceSize</key>
                <string>{143,54}</string>
            </dict>
            <key>vip_image_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3633,160},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>vip_image_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2484,161},{143,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,54}}</string>
                <key>sourceSize</key>
                <string>{143,54}</string>
            </dict>
            <key>vip_image_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,184},{120,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,69}}</string>
                <key>sourceSize</key>
                <string>{120,69}</string>
            </dict>
            <key>vip_image_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,276},{74,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,26}}</string>
                <key>sourceSize</key>
                <string>{74,26}</string>
            </dict>
            <key>vip_image_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{3934,185},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>vip_image_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2428,161},{143,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,54}}</string>
                <key>sourceSize</key>
                <string>{143,54}</string>
            </dict>
            <key>vip_image_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{3562,0},{84,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,65}}</string>
                <key>sourceSize</key>
                <string>{84,65}</string>
            </dict>
            <key>vip_newextra.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,0},{261,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,63}}</string>
                <key>sourceSize</key>
                <string>{261,63}</string>
            </dict>
            <key>vip_newtitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,244},{696,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{696,59}}</string>
                <key>sourceSize</key>
                <string>{696,59}</string>
            </dict>
            <key>vip_tab1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2844,161},{133,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,122}}</string>
                <key>sourceSize</key>
                <string>{133,122}</string>
            </dict>
            <key>vip_tab10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,184},{129,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,110}}</string>
                <key>sourceSize</key>
                <string>{129,110}</string>
            </dict>
            <key>vip_tab3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2720,161},{133,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,122}}</string>
                <key>sourceSize</key>
                <string>{133,122}</string>
            </dict>
            <key>vip_tab30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,185},{129,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,110}}</string>
                <key>sourceSize</key>
                <string>{129,110}</string>
            </dict>
            <key>vip_tab31.png</key>
            <dict>
                <key>frame</key>
                <string>{{3856,134},{150,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,76}}</string>
                <key>sourceSize</key>
                <string>{150,76}</string>
            </dict>
            <key>vip_tab32.png</key>
            <dict>
                <key>frame</key>
                <string>{{3775,134},{153,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,79}}</string>
                <key>sourceSize</key>
                <string>{153,79}</string>
            </dict>
            <key>vip_tab4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2596,161},{133,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,122}}</string>
                <key>sourceSize</key>
                <string>{133,122}</string>
            </dict>
            <key>vip_tab40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,185},{129,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,110}}</string>
                <key>sourceSize</key>
                <string>{129,110}</string>
            </dict>
            <key>vip_tab5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,171},{133,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,122}}</string>
                <key>sourceSize</key>
                <string>{133,122}</string>
            </dict>
            <key>vip_tab50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,185},{129,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,110}}</string>
                <key>sourceSize</key>
                <string>{129,110}</string>
            </dict>
            <key>vip_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,0},{206,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,57}}</string>
                <key>sourceSize</key>
                <string>{206,57}</string>
            </dict>
            <key>vip_title_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,0},{202,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,51}}</string>
                <key>sourceSize</key>
                <string>{202,51}</string>
            </dict>
            <key>vipbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2397,0},{667,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,159}}</string>
                <key>sourceSize</key>
                <string>{667,159}</string>
            </dict>
            <key>vipbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{238,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,200}}</string>
                <key>sourceSize</key>
                <string>{238,200}</string>
            </dict>
            <key>vipbg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,263},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>vipbg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3066,0},{494,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,158}}</string>
                <key>sourceSize</key>
                <string>{494,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vip.png</string>
            <key>size</key>
            <string>{4031,304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ae59f9b6d061b926fd2a580f967d6b4$</string>
            <key>textureFileName</key>
            <string>vip.png</string>
        </dict>
    </dict>
</plist>
