<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>actionsweet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,0},{109,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,111}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
            <key>actionsweet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{109,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,111}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
            <key>actionsweet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,111},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>actionsweet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,113},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>actionsweet_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,141},{4,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,26}}</string>
                <key>sourceSize</key>
                <string>{4,26}</string>
            </dict>
            <key>actionsweet_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,111},{6,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,28}}</string>
                <key>sourceSize</key>
                <string>{6,28}</string>
            </dict>
            <key>actionsweet_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,111},{22,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,34}}</string>
                <key>sourceSize</key>
                <string>{22,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>actionsweet.png</string>
            <key>size</key>
            <string>{222,167}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecf47736d5119a3ba4c33c014c799e34$</string>
            <key>textureFileName</key>
            <string>actionsweet.png</string>
        </dict>
    </dict>
</plist>
