<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_border_war_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{136,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,226}}</string>
                <key>sourceSize</key>
                <string>{136,226}</string>
            </dict>
            <key>battle_border_war_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,229},{136,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,226}}</string>
                <key>sourceSize</key>
                <string>{136,226}</string>
            </dict>
            <key>battle_border_war_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,457},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>battle_border_war_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,457},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battleborderwar.png</string>
            <key>size</key>
            <string>{138,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d21ba28a3139e2e881d724914a73ac71:8a0920c82e2191626f692996c720dbb5:dbac1ce0f2ee0e51211b57683050f0a5$</string>
            <key>textureFileName</key>
            <string>battleborderwar.png</string>
        </dict>
    </dict>
</plist>
