<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arenapeakchampion_guessing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,0},{146,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,71}}</string>
                <key>sourceSize</key>
                <string>{146,71}</string>
            </dict>
            <key>arenapeakchampion_guessing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,646},{146,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,65}}</string>
                <key>sourceSize</key>
                <string>{146,65}</string>
            </dict>
            <key>arenapeakchampion_guessing_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,393},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>arenapeakchampion_guessing_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,492},{96,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,97}}</string>
                <key>sourceSize</key>
                <string>{96,97}</string>
            </dict>
            <key>arenapeakchampion_guessing_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,700},{42,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,21}}</string>
                <key>sourceSize</key>
                <string>{42,21}</string>
            </dict>
            <key>arenapeakchampion_guessing_05_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,834},{9,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,31}}</string>
                <key>sourceSize</key>
                <string>{9,31}</string>
            </dict>
            <key>arenapeakchampion_guessing_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,616},{42,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,21}}</string>
                <key>sourceSize</key>
                <string>{42,21}</string>
            </dict>
            <key>arenapeakchampion_guessing_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,776},{56,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,31}}</string>
                <key>sourceSize</key>
                <string>{56,31}</string>
            </dict>
            <key>arenapeakchampion_guessing_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,0},{7,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,50}}</string>
                <key>sourceSize</key>
                <string>{7,50}</string>
            </dict>
            <key>arenapeakchampion_guessing_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,884},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>arenapeakchampion_guessing_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,920},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>arenapeakchampion_guessing_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,623},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>arenapeakchampion_guessing_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,590},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>arenapeakchampion_guessing_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,546},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>arenapeakchampion_guessing_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,469},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>arenapeakchampion_guessing_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,392},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>arenapeakchampion_guessing_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,295},{96,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,114}}</string>
                <key>sourceSize</key>
                <string>{96,114}</string>
            </dict>
            <key>arenapeakchampion_guessing_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,852},{67,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,66}}</string>
                <key>sourceSize</key>
                <string>{67,66}</string>
            </dict>
            <key>arenapeakchampion_guessing_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,776},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>arenapeakchampion_guessing_19_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,700},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>arenapeakchampion_guessing_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,794},{88,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,37}}</string>
                <key>sourceSize</key>
                <string>{88,37}</string>
            </dict>
            <key>arenapeakchampion_guessing_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,920},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>arenapeakchampion_guessing_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,155},{128,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,50}}</string>
                <key>sourceSize</key>
                <string>{128,50}</string>
            </dict>
            <key>arenapeakchampion_guessing_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,148},{128,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,46}}</string>
                <key>sourceSize</key>
                <string>{128,46}</string>
            </dict>
            <key>arenapeakchampion_guessing_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,975},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,37}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>arenapeakchampion_guessing_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,0},{100,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,13}}</string>
                <key>sourceSize</key>
                <string>{100,13}</string>
            </dict>
            <key>arenapeakchampion_guessing_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,155},{243,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,36}}</string>
                <key>sourceSize</key>
                <string>{243,36}</string>
            </dict>
            <key>arenapeakchampion_guessing_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,400},{244,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,34}}</string>
                <key>sourceSize</key>
                <string>{244,34}</string>
            </dict>
            <key>arenapeakchampion_guessing_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,852},{44,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,53}}</string>
                <key>sourceSize</key>
                <string>{44,53}</string>
            </dict>
            <key>arenapeakchampion_guessing_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,574},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>arenapeakchampion_guessing_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,751},{41,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,56}}</string>
                <key>sourceSize</key>
                <string>{41,56}</string>
            </dict>
            <key>arenapeakchampion_promotion_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{154,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,153}}</string>
                <key>sourceSize</key>
                <string>{154,153}</string>
            </dict>
            <key>arenapeakchampion_promotion_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,102},{16,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,44}}</string>
                <key>sourceSize</key>
                <string>{16,44}</string>
            </dict>
            <key>arenapeakchampion_promotion_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,667},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>arenapeakchampion_promotion_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1014},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>arenapeakchampion_promotion_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,794},{96,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,119}}</string>
                <key>sourceSize</key>
                <string>{96,119}</string>
            </dict>
            <key>arenapeakchampion_promotion_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,915},{129,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,49}}</string>
                <key>sourceSize</key>
                <string>{129,49}</string>
            </dict>
            <key>arenapeakchampion_promotion_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,915},{129,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,49}}</string>
                <key>sourceSize</key>
                <string>{129,49}</string>
            </dict>
            <key>arenapeakchampion_promotion_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1043},{1,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,45}}</string>
                <key>sourceSize</key>
                <string>{1,45}</string>
            </dict>
            <key>arenapeakchampion_promotion_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,400},{123,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,42}}</string>
                <key>sourceSize</key>
                <string>{123,42}</string>
            </dict>
            <key>arenapeakchampion_promotion_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,590},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>arenapeakchampion_promotion_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,982},{58,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,50}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>arenapeakchampion_promotion_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,667},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>arenapeakchampion_promotion_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,619},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>arenapeakchampion_promotion_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,751},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>arenapeakchampion_promotion_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,744},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>arenapeakchampion_promotion_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,525},{42,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,47}}</string>
                <key>sourceSize</key>
                <string>{42,47}</string>
            </dict>
            <key>arenapeakchampion_promotion_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,907},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>arenapeakchampion_promotion_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,155},{138,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,114}}</string>
                <key>sourceSize</key>
                <string>{138,114}</string>
            </dict>
            <key>arenapeakchampion_promotion_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,975},{37,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,47}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>arenapeakchampion_promotion_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1034},{7,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,57}}</string>
                <key>sourceSize</key>
                <string>{7,57}</string>
            </dict>
            <key>txt_cn_arenapeakchampion_guessing_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,285},{96,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,105}}</string>
                <key>sourceSize</key>
                <string>{96,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>arenapeak_guessing.png</string>
            <key>size</key>
            <string>{254,1044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29b4f963a05712c2abf367985f1625a8$</string>
            <key>textureFileName</key>
            <string>arenapeak_guessing.png</string>
        </dict>
    </dict>
</plist>
