<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hallows_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,250},{84,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,94}}</string>
                <key>sourceSize</key>
                <string>{84,94}</string>
            </dict>
            <key>hallows_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,168},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>hallows_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,803},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>hallows_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,128},{44,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,57}}</string>
                <key>sourceSize</key>
                <string>{44,57}</string>
            </dict>
            <key>hallows_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,106},{24,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,60}}</string>
                <key>sourceSize</key>
                <string>{24,60}</string>
            </dict>
            <key>hallows_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,364},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>hallows_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,803},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>hallows_1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,817},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>hallows_1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,817},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>hallows_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,198},{23,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,81}}</string>
                <key>sourceSize</key>
                <string>{23,81}</string>
            </dict>
            <key>hallows_1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,187},{41,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,61}}</string>
                <key>sourceSize</key>
                <string>{41,61}</string>
            </dict>
            <key>hallows_1013.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,106},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>hallows_1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,214},{20,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,41}}</string>
                <key>sourceSize</key>
                <string>{20,41}</string>
            </dict>
            <key>hallows_1015.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,817},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>hallows_1016.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,395},{120,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,15}}</string>
                <key>sourceSize</key>
                <string>{120,15}</string>
            </dict>
            <key>hallows_1017.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,531},{30,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,64}}</string>
                <key>sourceSize</key>
                <string>{30,64}</string>
            </dict>
            <key>hallows_1018.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,400},{60,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,52}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>hallows_1019.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,749},{60,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,52}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>hallows_1020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,102}}</string>
                <key>sourceSize</key>
                <string>{390,102}</string>
            </dict>
            <key>hallows_1021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{335,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,20}}</string>
                <key>sourceSize</key>
                <string>{335,20}</string>
            </dict>
            <key>hallows_1022.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,236},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>hallows_1023.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,382},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>hallows_1024.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,281},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>hallows_1025.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,322},{20,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,40}}</string>
                <key>sourceSize</key>
                <string>{20,40}</string>
            </dict>
            <key>hallows_1027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{286,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,84}}</string>
                <key>sourceSize</key>
                <string>{286,84}</string>
            </dict>
            <key>hallows_1028.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{107,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,102}}</string>
                <key>sourceSize</key>
                <string>{107,102}</string>
            </dict>
            <key>hl_artifact_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,893},{68,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,67}}</string>
                <key>sourceSize</key>
                <string>{68,67}</string>
            </dict>
            <key>hl_artifact_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{199,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,239}}</string>
                <key>sourceSize</key>
                <string>{199,239}</string>
            </dict>
            <key>hl_artifact_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,903},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>hl_artifact_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,462},{67,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,66}}</string>
                <key>sourceSize</key>
                <string>{67,66}</string>
            </dict>
            <key>hl_artifact_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,252},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>hl_artifact_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,689},{61,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,58}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>hl_artifact_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,627},{63,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,60}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>hl_artifact_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,563},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>hl_artifact_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{199,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,239}}</string>
                <key>sourceSize</key>
                <string>{199,239}</string>
            </dict>
            <key>hl_artifact_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,421},{199,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,239}}</string>
                <key>sourceSize</key>
                <string>{199,239}</string>
            </dict>
            <key>hl_artifact_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{199,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,239}}</string>
                <key>sourceSize</key>
                <string>{199,239}</string>
            </dict>
            <key>hl_artifact_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,662},{199,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,239}}</string>
                <key>sourceSize</key>
                <string>{199,239}</string>
            </dict>
            <key>hl_artifact_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,903},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>hl_artifact_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,336},{90,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,83}}</string>
                <key>sourceSize</key>
                <string>{90,83}</string>
            </dict>
            <key>hl_artifact_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,903},{90,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,83}}</string>
                <key>sourceSize</key>
                <string>{90,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>new_hallows.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:081cfd804bd4ea9a76a80c3c3284655c:c7fdb3547670a4dd9620c730b1318203:f2c9940cfcbdc26cc9686b52c7b221a8$</string>
            <key>textureFileName</key>
            <string>new_hallows.png</string>
        </dict>
    </dict>
</plist>
