<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crossarena_video_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,18},{19,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,27}}</string>
                <key>sourceSize</key>
                <string>{19,27}</string>
            </dict>
            <key>crossarena_video_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,0},{78,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,16}}</string>
                <key>sourceSize</key>
                <string>{78,16}</string>
            </dict>
            <key>crossarena_video_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,18},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>txt_cn_crossarena_video_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{48,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,53}}</string>
                <key>sourceSize</key>
                <string>{48,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crossarena_video.png</string>
            <key>size</key>
            <string>{128,53}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05a93ce039daa1a05975bf3abb6ae1d1$</string>
            <key>textureFileName</key>
            <string>crossarena_video.png</string>
        </dict>
    </dict>
</plist>
