<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>festivalaction_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,0},{18,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,118}}</string>
                <key>sourceSize</key>
                <string>{18,118}</string>
            </dict>
            <key>festivalaction_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,20},{18,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,314}}</string>
                <key>sourceSize</key>
                <string>{18,314}</string>
            </dict>
            <key>festivalaction_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,100},{18,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,66}}</string>
                <key>sourceSize</key>
                <string>{18,66}</string>
            </dict>
            <key>festivalaction_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,40},{18,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,262}}</string>
                <key>sourceSize</key>
                <string>{18,262}</string>
            </dict>
            <key>festivalaction_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,80},{18,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,103}}</string>
                <key>sourceSize</key>
                <string>{18,103}</string>
            </dict>
            <key>festivalaction_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{18,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,330}}</string>
                <key>sourceSize</key>
                <string>{18,330}</string>
            </dict>
            <key>festivalaction_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,60},{18,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,183}}</string>
                <key>sourceSize</key>
                <string>{18,183}</string>
            </dict>
            <key>festivalaction_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,40},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>festivalaction_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,20},{177,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,137}}</string>
                <key>sourceSize</key>
                <string>{177,137}</string>
            </dict>
            <key>txt_cn_festivalaction_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,60},{101,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{101,99}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>txt_cn_festivalaction_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,80},{84,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,76}}</string>
                <key>sourceSize</key>
                <string>{84,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>festivalaction.png</string>
            <key>size</key>
            <string>{493,159}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:431b254f585b3838e73e8eb32c266af1$</string>
            <key>textureFileName</key>
            <string>festivalaction.png</string>
        </dict>
    </dict>
</plist>
