<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hl_spirit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,359},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>hl_spirit_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{215,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,215}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>hl_spirit_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,218},{125,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,139}}</string>
                <key>sourceSize</key>
                <string>{125,139}</string>
            </dict>
            <key>hl_spirit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,359},{39,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,118}}</string>
                <key>sourceSize</key>
                <string>{39,118}</string>
            </dict>
            <key>hl_spirit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1},{165,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,112}}</string>
                <key>sourceSize</key>
                <string>{165,112}</string>
            </dict>
            <key>hl_spirit_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,168},{34,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,18}}</string>
                <key>sourceSize</key>
                <string>{34,18}</string>
            </dict>
            <key>hl_spirit_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,168},{35,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,18}}</string>
                <key>sourceSize</key>
                <string>{35,18}</string>
            </dict>
            <key>hl_spirit_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,168},{37,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,21}}</string>
                <key>sourceSize</key>
                <string>{37,21}</string>
            </dict>
            <key>hl_spirit_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,218},{199,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,199}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spirit.png</string>
            <key>size</key>
            <string>{331,418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af41927ceb96ccc25a2cec1846ee2b56:33924df53a340198d7dfaa98f9b3baf8:b750847f5606352cfd1c25dfc52dc2c5$</string>
            <key>textureFileName</key>
            <string>spirit.png</string>
        </dict>
    </dict>
</plist>
