<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>godbattle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,133},{70,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,77}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>godbattle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,92},{239,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,31}}</string>
                <key>sourceSize</key>
                <string>{239,31}</string>
            </dict>
            <key>godbattle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,59},{239,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,31}}</string>
                <key>sourceSize</key>
                <string>{239,31}</string>
            </dict>
            <key>godbattle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,162},{172,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,26}}</string>
                <key>sourceSize</key>
                <string>{172,26}</string>
            </dict>
            <key>godbattle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,0},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>godbattle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{415,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,20}}</string>
                <key>sourceSize</key>
                <string>{415,20}</string>
            </dict>
            <key>godbattle_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,22},{380,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,35}}</string>
                <key>sourceSize</key>
                <string>{380,35}</string>
            </dict>
            <key>godbattle_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,206},{380,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,35}}</string>
                <key>sourceSize</key>
                <string>{380,35}</string>
            </dict>
            <key>godbattle_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,203},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>godbattle_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,162},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>godbattle_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,214},{39,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,35}}</string>
                <key>sourceSize</key>
                <string>{39,35}</string>
            </dict>
            <key>godbattle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,59},{72,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,77}}</string>
                <key>sourceSize</key>
                <string>{72,77}</string>
            </dict>
            <key>godbattle_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,131},{70,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{70,75}</string>
            </dict>
            <key>godbattle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,59},{96,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,74}}</string>
                <key>sourceSize</key>
                <string>{96,74}</string>
            </dict>
            <key>godbattle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,222},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>godbattle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,222},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>godbattle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,125},{231,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,35}}</string>
                <key>sourceSize</key>
                <string>{231,35}</string>
            </dict>
            <key>godbattle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,135},{37,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,105}}</string>
                <key>sourceSize</key>
                <string>{37,105}</string>
            </dict>
            <key>godbattle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,131},{42,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,105}}</string>
                <key>sourceSize</key>
                <string>{42,105}</string>
            </dict>
            <key>godbattle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,190},{73,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,66}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>txt_cn_godbattle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,28},{100,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,49}}</string>
                <key>sourceSize</key>
                <string>{100,49}</string>
            </dict>
            <key>txt_cn_godbattle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,28},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>txt_cn_godbattle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,205},{96,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,46}}</string>
                <key>sourceSize</key>
                <string>{96,46}</string>
            </dict>
            <key>txt_cn_godbattle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,174},{96,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,46}}</string>
                <key>sourceSize</key>
                <string>{96,46}</string>
            </dict>
            <key>txt_cn_godbattle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,190},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>txt_cn_godbattle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,80},{100,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,49}}</string>
                <key>sourceSize</key>
                <string>{100,49}</string>
            </dict>
            <key>txt_cn_godbattle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,130},{88,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,29}}</string>
                <key>sourceSize</key>
                <string>{88,29}</string>
            </dict>
            <key>txt_cn_godbattle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{398,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,102}}</string>
                <key>sourceSize</key>
                <string>{398,102}</string>
            </dict>
            <key>txt_cn_godbattle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,104},{398,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{398,100}}</string>
                <key>sourceSize</key>
                <string>{398,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>godbattle.png</string>
            <key>size</key>
            <string>{971,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec37342b17876868e038a23ccbbf9fdf$</string>
            <key>textureFileName</key>
            <string>godbattle.png</string>
        </dict>
    </dict>
</plist>
