<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>personalgift_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,0},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>personalgift_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,35},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>personalgift_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,0},{73,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,90}}</string>
                <key>sourceSize</key>
                <string>{73,90}</string>
            </dict>
            <key>personalgift_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{421,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,94}}</string>
                <key>sourceSize</key>
                <string>{421,94}</string>
            </dict>
            <key>txt_cn_personalgift_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,0},{123,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{123,74}}</string>
                <key>sourceSize</key>
                <string>{125,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>personalgift.png</string>
            <key>size</key>
            <string>{656,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:885cc6d2d51abb5b59a6fc98dede99e9$</string>
            <key>textureFileName</key>
            <string>personalgift.png</string>
        </dict>
    </dict>
</plist>
