<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>augury_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,0},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>augury_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>augury_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,68},{84,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,37}}</string>
                <key>sourceSize</key>
                <string>{84,37}</string>
            </dict>
            <key>augury_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,31},{169,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,35}}</string>
                <key>sourceSize</key>
                <string>{169,35}</string>
            </dict>
            <key>augury_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,31},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>augury_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,31},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>augury_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{360,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,29}}</string>
                <key>sourceSize</key>
                <string>{360,29}</string>
            </dict>
            <key>augury_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,31},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>augury.png</string>
            <key>size</key>
            <string>{644,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:185929c63058bd73f4fa1b85f57a4875$</string>
            <key>textureFileName</key>
            <string>augury.png</string>
        </dict>
    </dict>
</plist>
