<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txt_cn_equipmake_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,0},{108,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,33}}</string>
                <key>sourceSize</key>
                <string>{108,33}</string>
            </dict>
            <key>txt_cn_equipmake_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{67,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,59}}</string>
                <key>sourceSize</key>
                <string>{67,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equipmake.png</string>
            <key>size</key>
            <string>{177,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6af38b2286a57cfaac625e9440fe65cc$</string>
            <key>textureFileName</key>
            <string>equipmake.png</string>
        </dict>
    </dict>
</plist>
