<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>recruithero_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,72},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>recruithero_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,72},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>recruithero_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,93},{112,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,47}}</string>
                <key>sourceSize</key>
                <string>{112,47}</string>
            </dict>
            <key>recruithero_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,44},{112,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,47}}</string>
                <key>sourceSize</key>
                <string>{112,47}</string>
            </dict>
            <key>recruithero_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{143,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,42}}</string>
                <key>sourceSize</key>
                <string>{143,42}</string>
            </dict>
            <key>recruithero_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,0},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>recruithero.png</string>
            <key>size</key>
            <string>{231,140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a8dffe5ac35d3b26664cb016ebfaf68$</string>
            <key>textureFileName</key>
            <string>recruithero.png</string>
        </dict>
    </dict>
</plist>
