<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elfin_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,49},{296,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,195}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>elfin_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,991},{22,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,17}}</string>
                <key>sourceSize</key>
                <string>{22,17}</string>
            </dict>
            <key>elfin_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,950},{68,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,81}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>elfin_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,822},{88,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,81}}</string>
                <key>sourceSize</key>
                <string>{88,81}</string>
            </dict>
            <key>elfin_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1056},{63,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,13}}</string>
                <key>sourceSize</key>
                <string>{63,13}</string>
            </dict>
            <key>elfin_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,0},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>elfin_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1056},{14,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,32}}</string>
                <key>sourceSize</key>
                <string>{14,32}</string>
            </dict>
            <key>elfin_1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,774},{19,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,34}}</string>
                <key>sourceSize</key>
                <string>{19,34}</string>
            </dict>
            <key>elfin_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,330},{77,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,49}}</string>
                <key>sourceSize</key>
                <string>{77,49}</string>
            </dict>
            <key>elfin_1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,989},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>elfin_1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,905},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>elfin_1015.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,870},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>elfin_1016.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,707},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>elfin_1017.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,455},{64,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,111}}</string>
                <key>sourceSize</key>
                <string>{64,111}</string>
            </dict>
            <key>elfin_1018.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,49},{58,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,42}}</string>
                <key>sourceSize</key>
                <string>{58,42}</string>
            </dict>
            <key>elfin_1019.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,810},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>elfin_1020.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,926},{22,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,39}}</string>
                <key>sourceSize</key>
                <string>{22,39}</string>
            </dict>
            <key>elfin_1021.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1090},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>elfin_1022.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,615},{90,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,25}}</string>
                <key>sourceSize</key>
                <string>{90,25}</string>
            </dict>
            <key>elfin_1023.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,827},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>elfin_1024.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,645},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>elfin_1025.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,732},{24,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,93}}</string>
                <key>sourceSize</key>
                <string>{24,93}</string>
            </dict>
            <key>elfin_1029.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,284},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>elfin_1030.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1063},{59,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,34}}</string>
                <key>sourceSize</key>
                <string>{59,34}</string>
            </dict>
            <key>elfin_1031.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1027},{59,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,34}}</string>
                <key>sourceSize</key>
                <string>{59,34}</string>
            </dict>
            <key>elfin_1032.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,991},{59,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,34}}</string>
                <key>sourceSize</key>
                <string>{59,34}</string>
            </dict>
            <key>elfin_1033.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1020},{59,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,34}}</string>
                <key>sourceSize</key>
                <string>{59,34}</string>
            </dict>
            <key>elfin_1034.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1056},{59,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,34}}</string>
                <key>sourceSize</key>
                <string>{59,34}</string>
            </dict>
            <key>elfin_1035.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,1020},{59,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,34}}</string>
                <key>sourceSize</key>
                <string>{59,34}</string>
            </dict>
            <key>elfin_1036.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1060},{64,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,17}}</string>
                <key>sourceSize</key>
                <string>{64,17}</string>
            </dict>
            <key>elfin_1037.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,822},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>elfin_1039.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,914},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
            <key>elfin_1044.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,1060},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>elfin_1045.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,409},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{44,66}</string>
            </dict>
            <key>elfin_1046.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,463},{178,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,106}}</string>
                <key>sourceSize</key>
                <string>{178,106}</string>
            </dict>
            <key>elfin_1047.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,347},{187,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,114}}</string>
                <key>sourceSize</key>
                <string>{187,114}</string>
            </dict>
            <key>elfin_1048.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,568},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>elfin_1049.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1063},{28,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,39}}</string>
                <key>sourceSize</key>
                <string>{28,39}</string>
            </dict>
            <key>elfin_1050.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,908},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>elfin_1051.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,774},{126,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,46}}</string>
                <key>sourceSize</key>
                <string>{126,46}</string>
            </dict>
            <key>elfin_1052.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,93},{189,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,55}}</string>
                <key>sourceSize</key>
                <string>{189,55}</string>
            </dict>
            <key>elfin_1053.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,738},{141,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,34}}</string>
                <key>sourceSize</key>
                <string>{141,34}</string>
            </dict>
            <key>elfin_1054.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,697},{149,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,39}}</string>
                <key>sourceSize</key>
                <string>{149,39}</string>
            </dict>
            <key>elfin_1055.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,656},{149,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,39}}</string>
                <key>sourceSize</key>
                <string>{149,39}</string>
            </dict>
            <key>elfin_1056.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,615},{149,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,39}}</string>
                <key>sourceSize</key>
                <string>{149,39}</string>
            </dict>
            <key>elfin_1057.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{246,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,47}}</string>
                <key>sourceSize</key>
                <string>{246,47}</string>
            </dict>
            <key>elfin_1058.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,723},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>elfin_1059.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,875},{49,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,42}}</string>
                <key>sourceSize</key>
                <string>{49,42}</string>
            </dict>
            <key>txt_cn_elfin_max_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,571},{165,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,42}}</string>
                <key>sourceSize</key>
                <string>{165,42}</string>
            </dict>
            <key>txt_cn_elfin_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,871},{70,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,35}}</string>
                <key>sourceSize</key>
                <string>{70,35}</string>
            </dict>
            <key>txt_cn_elfin_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,796},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>txt_cn_elfin_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,834},{70,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,35}}</string>
                <key>sourceSize</key>
                <string>{70,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elfin.png</string>
            <key>size</key>
            <string>{255,1126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:902eb7dcd9c9eabcce654345078bcf13$</string>
            <key>textureFileName</key>
            <string>elfin.png</string>
        </dict>
    </dict>
</plist>
