<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hl_rank_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,140},{627,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,139}}</string>
                <key>sourceSize</key>
                <string>{627,139}</string>
            </dict>
            <key>hl_rank_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,337},{140,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,53}}</string>
                <key>sourceSize</key>
                <string>{140,53}</string>
            </dict>
            <key>hl_rank_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{720,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,137}}</string>
                <key>sourceSize</key>
                <string>{720,137}</string>
            </dict>
            <key>hl_rank_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,337},{42,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,156}}</string>
                <key>sourceSize</key>
                <string>{42,156}</string>
            </dict>
            <key>hl_rank_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,337},{41,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,154}}</string>
                <key>sourceSize</key>
                <string>{41,154}</string>
            </dict>
            <key>hl_rank_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,214},{56,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,179}}</string>
                <key>sourceSize</key>
                <string>{56,179}</string>
            </dict>
            <key>hl_rank_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,392},{140,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,53}}</string>
                <key>sourceSize</key>
                <string>{140,53}</string>
            </dict>
            <key>hl_rank_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,272},{260,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,63}}</string>
                <key>sourceSize</key>
                <string>{260,63}</string>
            </dict>
            <key>hl_rank_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,281},{196,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,61}}</string>
                <key>sourceSize</key>
                <string>{196,61}</string>
            </dict>
            <key>hl_rank_148.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1},{253,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,264}}</string>
                <key>sourceSize</key>
                <string>{253,264}</string>
            </dict>
            <key>hl_rank_149.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,256},{241,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,263}}</string>
                <key>sourceSize</key>
                <string>{241,263}</string>
            </dict>
            <key>hl_rank_150.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,281},{191,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,224}}</string>
                <key>sourceSize</key>
                <string>{191,224}</string>
            </dict>
            <key>hl_rank_151.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,281},{191,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,224}}</string>
                <key>sourceSize</key>
                <string>{191,224}</string>
            </dict>
            <key>hl_rank_152.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,281},{191,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,223}}</string>
                <key>sourceSize</key>
                <string>{191,223}</string>
            </dict>
            <key>hl_rank_153.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,1},{166,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,211}}</string>
                <key>sourceSize</key>
                <string>{166,211}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rank.png</string>
            <key>size</key>
            <string>{1169,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3aa53dc411993b1511ad72b167dc143:5c142f29bafe92baf65a4b5a0e83623f:74cc68f98beed4c8a96adb0c26f30229$</string>
            <key>textureFileName</key>
            <string>rank.png</string>
        </dict>
    </dict>
</plist>
