<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>termbegins_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,0},{42,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,30}}</string>
                <key>sourceSize</key>
                <string>{42,30}</string>
            </dict>
            <key>termbegins_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,22},{291,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,20}}</string>
                <key>sourceSize</key>
                <string>{291,20}</string>
            </dict>
            <key>termbegins_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{291,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,20}}</string>
                <key>sourceSize</key>
                <string>{291,20}</string>
            </dict>
            <key>termbegins_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,157},{51,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,40}}</string>
                <key>sourceSize</key>
                <string>{51,40}</string>
            </dict>
            <key>termbegins_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>termbegins_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,44},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>termbegins_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,143},{106,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,12}}</string>
                <key>sourceSize</key>
                <string>{106,12}</string>
            </dict>
            <key>termbegins_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,183},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>termbegins_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,165},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>termbegins_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,77},{56,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,62}}</string>
                <key>sourceSize</key>
                <string>{56,62}</string>
            </dict>
            <key>termbegins_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,44},{30,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,80}}</string>
                <key>sourceSize</key>
                <string>{30,80}</string>
            </dict>
            <key>termbegins_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,165},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>termbegins_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,165},{92,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,38}}</string>
                <key>sourceSize</key>
                <string>{92,38}</string>
            </dict>
            <key>termbegins_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,140},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>termbegins_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,157},{52,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,59}}</string>
                <key>sourceSize</key>
                <string>{52,59}</string>
            </dict>
            <key>termbegins_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,44},{84,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,97}}</string>
                <key>sourceSize</key>
                <string>{84,97}</string>
            </dict>
            <key>termbegins_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,140},{61,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,69}}</string>
                <key>sourceSize</key>
                <string>{61,69}</string>
            </dict>
            <key>termbegins_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,140},{61,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,69}}</string>
                <key>sourceSize</key>
                <string>{61,69}</string>
            </dict>
            <key>termbegins_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,77},{61,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,69}}</string>
                <key>sourceSize</key>
                <string>{61,69}</string>
            </dict>
            <key>termbegins_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,69},{61,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,69}}</string>
                <key>sourceSize</key>
                <string>{61,69}</string>
            </dict>
            <key>txt_cn_termbegins_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,0},{91,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,67}}</string>
                <key>sourceSize</key>
                <string>{91,67}</string>
            </dict>
            <key>txt_cn_termbegins_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,44},{170,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,119}}</string>
                <key>sourceSize</key>
                <string>{170,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>termbegins.png</string>
            <key>size</key>
            <string>{494,209}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93c4412c934b647d28b02a3af786ca32$</string>
            <key>textureFileName</key>
            <string>termbegins.png</string>
        </dict>
    </dict>
</plist>
