<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>element_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,226},{17,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,135}}</string>
                <key>sourceSize</key>
                <string>{17,135}</string>
            </dict>
            <key>element_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,0},{135,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,132}}</string>
                <key>sourceSize</key>
                <string>{135,132}</string>
            </dict>
            <key>element_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,211},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>element_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,89},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>element_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,140},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>element_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,186},{362,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,51}}</string>
                <key>sourceSize</key>
                <string>{362,51}</string>
            </dict>
            <key>element_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,211},{29,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,104}}</string>
                <key>sourceSize</key>
                <string>{29,104}</string>
            </dict>
            <key>element_1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,211},{20,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,72}}</string>
                <key>sourceSize</key>
                <string>{20,72}</string>
            </dict>
            <key>element_1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,175},{73,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,61}}</string>
                <key>sourceSize</key>
                <string>{73,61}</string>
            </dict>
            <key>element_1013.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,186},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>element_1015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,89},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>element_1016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,89},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>element_1017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,89},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>element_1018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,89},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>element_build_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{129,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,200}}</string>
                <key>sourceSize</key>
                <string>{129,200}</string>
            </dict>
            <key>element_build_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,0},{166,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,184}}</string>
                <key>sourceSize</key>
                <string>{166,184}</string>
            </dict>
            <key>element_build_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,0},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>element_build_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{138,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,209}}</string>
                <key>sourceSize</key>
                <string>{138,209}</string>
            </dict>
            <key>element_build_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,0},{156,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,182}}</string>
                <key>sourceSize</key>
                <string>{156,182}</string>
            </dict>
            <key>element_title_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,89},{272,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,87}}</string>
                <key>sourceSize</key>
                <string>{272,87}</string>
            </dict>
            <key>element_title_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,140},{276,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,87}}</string>
                <key>sourceSize</key>
                <string>{276,87}</string>
            </dict>
            <key>element_title_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,0},{272,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,87}}</string>
                <key>sourceSize</key>
                <string>{272,87}</string>
            </dict>
            <key>element_title_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,0},{272,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,87}}</string>
                <key>sourceSize</key>
                <string>{272,87}</string>
            </dict>
            <key>element_title_bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,137},{272,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,87}}</string>
                <key>sourceSize</key>
                <string>{272,87}</string>
            </dict>
            <key>txt_cn_element.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,0},{296,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,138}}</string>
                <key>sourceSize</key>
                <string>{296,138}</string>
            </dict>
            <key>txt_cn_first_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,202},{132,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,34}}</string>
                <key>sourceSize</key>
                <string>{132,34}</string>
            </dict>
            <key>txt_cn_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,167},{75,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,80}}</string>
                <key>sourceSize</key>
                <string>{75,80}</string>
            </dict>
            <key>txt_cn_rules.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,89},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>element.png</string>
            <key>size</key>
            <string>{1751,243}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55db9cfce9c429b4c2285ceb80c6c010$</string>
            <key>textureFileName</key>
            <string>element.png</string>
        </dict>
    </dict>
</plist>
