<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heaven_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,0},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>heaven_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,57},{31,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,47}}</string>
                <key>sourceSize</key>
                <string>{31,47}</string>
            </dict>
            <key>heaven_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,197},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>heaven_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,132},{45,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,34}}</string>
                <key>sourceSize</key>
                <string>{45,34}</string>
            </dict>
            <key>heaven_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,154},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>heaven_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,120},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>heaven_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,77},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>heaven_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,224},{26,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,13}}</string>
                <key>sourceSize</key>
                <string>{26,13}</string>
            </dict>
            <key>heaven_1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{146,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,159}}</string>
                <key>sourceSize</key>
                <string>{146,159}</string>
            </dict>
            <key>heaven_1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,168},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>heaven_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,197},{47,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,55}}</string>
                <key>sourceSize</key>
                <string>{47,55}</string>
            </dict>
            <key>heaven_1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,0},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>heaven_1013.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,231},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>heaven_1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,213},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,36}</string>
            </dict>
            <key>heaven_1015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,248},{58,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,2}}</string>
                <key>sourceSize</key>
                <string>{58,2}</string>
            </dict>
            <key>heaven_1016.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,0},{119,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,118}}</string>
                <key>sourceSize</key>
                <string>{119,118}</string>
            </dict>
            <key>heaven_1017.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,161},{61,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,21}}</string>
                <key>sourceSize</key>
                <string>{61,21}</string>
            </dict>
            <key>heaven_1018.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,213},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>heaven_1019.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,0},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>txt_cn_heaven_award.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,57},{34,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,73}}</string>
                <key>sourceSize</key>
                <string>{34,73}</string>
            </dict>
            <key>txt_cn_heaven_first.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,120},{35,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,73}}</string>
                <key>sourceSize</key>
                <string>{35,73}</string>
            </dict>
            <key>txt_cn_heaven_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,161},{123,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,85}}</string>
                <key>sourceSize</key>
                <string>{123,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heaven.png</string>
            <key>size</key>
            <string>{413,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:885489f783f0da36650e2308297ea926$</string>
            <key>textureFileName</key>
            <string>heaven.png</string>
        </dict>
    </dict>
</plist>
