<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monopolymorra_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,180},{61,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
            </dict>
            <key>monopolymorra_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,0},{120,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,145}}</string>
                <key>sourceSize</key>
                <string>{120,145}</string>
            </dict>
            <key>monopolymorra_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,129},{120,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,176}}</string>
                <key>sourceSize</key>
                <string>{120,176}</string>
            </dict>
            <key>monopolymorra_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,122},{185,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,56}}</string>
                <key>sourceSize</key>
                <string>{185,56}</string>
            </dict>
            <key>monopolymorra_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,0},{207,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,231}}</string>
                <key>sourceSize</key>
                <string>{207,231}</string>
            </dict>
            <key>monopolymorra_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,0},{207,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,231}}</string>
                <key>sourceSize</key>
                <string>{207,231}</string>
            </dict>
            <key>monopolymorra_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,0},{207,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,231}}</string>
                <key>sourceSize</key>
                <string>{207,231}</string>
            </dict>
            <key>monopolymorra_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,0},{140,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,126}}</string>
                <key>sourceSize</key>
                <string>{140,126}</string>
            </dict>
            <key>monopolymorra_1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,129},{412,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,127}}</string>
                <key>sourceSize</key>
                <string>{412,127}</string>
            </dict>
            <key>monopolymorra_1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{416,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,127}}</string>
                <key>sourceSize</key>
                <string>{416,127}</string>
            </dict>
            <key>monopolymorra_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,0},{207,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,231}}</string>
                <key>sourceSize</key>
                <string>{207,231}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monopolymorra.png</string>
            <key>size</key>
            <string>{1613,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41e93ce88283ca4e1b942cff825310b6$</string>
            <key>textureFileName</key>
            <string>monopolymorra.png</string>
        </dict>
    </dict>
</plist>
