<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monopolyboss_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,463},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>monopolyboss_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,466},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>monopolyboss_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,415},{146,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,26}}</string>
                <key>sourceSize</key>
                <string>{146,26}</string>
            </dict>
            <key>monopolyboss_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,312},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>monopolyboss_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,312},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>monopolyboss_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,263},{150,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,40}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>monopolyboss_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,443},{21,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,49}}</string>
                <key>sourceSize</key>
                <string>{21,49}</string>
            </dict>
            <key>monopolyboss_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,201},{179,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,109}}</string>
                <key>sourceSize</key>
                <string>{179,109}</string>
            </dict>
            <key>monopolyboss_1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{241,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,199}}</string>
                <key>sourceSize</key>
                <string>{241,199}</string>
            </dict>
            <key>monopolyboss_1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,443},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>monopolyboss_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,466},{34,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,29}}</string>
                <key>sourceSize</key>
                <string>{34,29}</string>
            </dict>
            <key>monopolyboss_1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,443},{18,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,44}}</string>
                <key>sourceSize</key>
                <string>{18,44}</string>
            </dict>
            <key>monopolyboss_1013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>txt_cn_zhuiji.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,201},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monopolyboss.png</string>
            <key>size</key>
            <string>{242,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:873640d1adcfde88f770776b00bcb8cd$</string>
            <key>textureFileName</key>
            <string>monopolyboss.png</string>
        </dict>
    </dict>
</plist>
