<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hl_tips_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,970},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>hl_tips_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{143,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,32}}</string>
                <key>sourceSize</key>
                <string>{143,32}</string>
            </dict>
            <key>hl_tips_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{173,756}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,756}}</string>
                <key>sourceSize</key>
                <string>{173,756}</string>
            </dict>
            <key>tips_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,286},{435,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,140}}</string>
                <key>sourceSize</key>
                <string>{435,140}</string>
            </dict>
            <key>tips_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{435,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,140}}</string>
                <key>sourceSize</key>
                <string>{435,140}</string>
            </dict>
            <key>tips_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{46,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,16}}</string>
                <key>sourceSize</key>
                <string>{46,16}</string>
            </dict>
            <key>tips_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,946},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>tips_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,995},{27,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>tips_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,995},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>tips_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,995},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>tips_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,286},{413,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,138}}</string>
                <key>sourceSize</key>
                <string>{413,138}</string>
            </dict>
            <key>tips_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,970},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>tips_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,902},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
            <key>tips_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,902},{80,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,91}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>tips_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,905},{99,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,34}}</string>
                <key>sourceSize</key>
                <string>{99,34}</string>
            </dict>
            <key>tips_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,286},{435,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,140}}</string>
                <key>sourceSize</key>
                <string>{435,140}</string>
            </dict>
            <key>tips_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,144},{435,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,140}}</string>
                <key>sourceSize</key>
                <string>{435,140}</string>
            </dict>
            <key>tips_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{435,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,140}}</string>
                <key>sourceSize</key>
                <string>{435,140}</string>
            </dict>
            <key>tips_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,760},{435,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,140}}</string>
                <key>sourceSize</key>
                <string>{435,140}</string>
            </dict>
            <key>tips_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,964},{49,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,43}}</string>
                <key>sourceSize</key>
                <string>{49,43}</string>
            </dict>
            <key>tips_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,964},{41,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,48}}</string>
                <key>sourceSize</key>
                <string>{41,48}</string>
            </dict>
            <key>tips_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,970},{50,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,2}}</string>
                <key>sourceSize</key>
                <string>{50,2}</string>
            </dict>
            <key>tips_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,902},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>txt_cn_tips_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,902},{66,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,30}}</string>
                <key>sourceSize</key>
                <string>{66,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tips.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4a439fe541f24365473ccf4d86ed1b0$</string>
            <key>textureFileName</key>
            <string>tips.png</string>
        </dict>
    </dict>
</plist>
