<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>startwork01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,614},{170,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,64}}</string>
                <key>sourceSize</key>
                <string>{170,64}</string>
            </dict>
            <key>startwork02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,426},{213,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,186}}</string>
                <key>sourceSize</key>
                <string>{213,186}</string>
            </dict>
            <key>startwork03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{219,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,192}}</string>
                <key>sourceSize</key>
                <string>{219,192}</string>
            </dict>
            <key>startwork04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{219,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,230}}</string>
                <key>sourceSize</key>
                <string>{219,230}</string>
            </dict>
            <key>txt_cn_startwork01.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,680},{107,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,74}}</string>
                <key>sourceSize</key>
                <string>{107,74}</string>
            </dict>
            <key>txt_cn_startwork02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,680},{109,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,74}}</string>
                <key>sourceSize</key>
                <string>{109,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>startwork.png</string>
            <key>size</key>
            <string>{219,754}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24374625d712f2285a7c8854b7826a5b$</string>
            <key>textureFileName</key>
            <string>startwork.png</string>
        </dict>
    </dict>
</plist>
