<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hl_type106_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1},{18,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,25}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>hl_type106_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,28}</string>
            </dict>
            <key>hl_type106_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{18,24}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>hl_type106_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,1},{17,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{17,26}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
            <key>hl_type106_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{23,26}}</string>
                <key>sourceSize</key>
                <string>{25,30}</string>
            </dict>
            <key>hl_type106_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{19,25}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>hl_type106_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{18,24}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>hl_type106_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,1},{20,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{20,25}}</string>
                <key>sourceSize</key>
                <string>{22,29}</string>
            </dict>
            <key>hl_type106_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1},{18,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,25}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>hl_type106_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{19,24}}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
            <key>hl_type106_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hl_type106.png</string>
            <key>size</key>
            <string>{221,28}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:353776a036076850da023d0c05c50979:8dc287d9176c15453b355ea98c8410ec:8cd3ccec5162df9756bebb94542d9bb3$</string>
            <key>textureFileName</key>
            <string>hl_type106.png</string>
        </dict>
    </dict>
</plist>
