<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hl_type109_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1},{24,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,33}}</string>
                <key>sourceSize</key>
                <string>{24,33}</string>
            </dict>
            <key>hl_type109_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,42},{18,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,33}}</string>
                <key>sourceSize</key>
                <string>{18,33}</string>
            </dict>
            <key>hl_type109_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,36},{25,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,32}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>hl_type109_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,36},{25,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,33}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>hl_type109_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,1},{25,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>hl_type109_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>hl_type109_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,38},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>hl_type109_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,38},{25,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>hl_type109_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1},{25,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,33}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>hl_type109_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,1},{25,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>hl_type109_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>hl_type109_bias.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{29,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,39}}</string>
                <key>sourceSize</key>
                <string>{29,39}</string>
            </dict>
            <key>hl_type109_sub.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,34},{23,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,10}}</string>
                <key>sourceSize</key>
                <string>{23,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hl_type109.png</string>
            <key>size</key>
            <string>{193,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4187cc48b3e7c06614ff7c214bf2cdc6:5d385f18a06ed9172c4416a652e0591b:8baa73d8a0a511489759bdf46b1b4654$</string>
            <key>textureFileName</key>
            <string>hl_type109.png</string>
        </dict>
    </dict>
</plist>
