<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hl_type102_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,12},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>hl_type102_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{9,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,18}}</string>
                <key>sourceSize</key>
                <string>{9,18}</string>
            </dict>
            <key>hl_type102_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,15},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>hl_type102_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,1},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>hl_type102_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,15},{13,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,17}}</string>
                <key>sourceSize</key>
                <string>{13,17}</string>
            </dict>
            <key>hl_type102_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,15},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>hl_type102_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,15},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>hl_type102_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,1},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>hl_type102_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>hl_type102_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,15},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>hl_type102_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1},{12,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,19}}</string>
                <key>sourceSize</key>
                <string>{12,19}</string>
            </dict>
            <key>hl_type102_bias.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1},{12,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,21}}</string>
                <key>sourceSize</key>
                <string>{12,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hl_type102.png</string>
            <key>size</key>
            <string>{123,29}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58e9676aa2ac6e8a4039c5fa31863413:b35771d74365938e2cb7c98c3484ec07:591296b16973157ac1ac5dd2df8f83f1$</string>
            <key>textureFileName</key>
            <string>hl_type102.png</string>
        </dict>
    </dict>
</plist>
