<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hl_type107_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,461},{53,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,73}}</string>
                <key>sourceSize</key>
                <string>{53,73}</string>
            </dict>
            <key>hl_type107_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,687},{40,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,73}}</string>
                <key>sourceSize</key>
                <string>{40,73}</string>
            </dict>
            <key>hl_type107_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,536},{53,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,71}}</string>
                <key>sourceSize</key>
                <string>{53,71}</string>
            </dict>
            <key>hl_type107_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,309},{54,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,72}}</string>
                <key>sourceSize</key>
                <string>{54,72}</string>
            </dict>
            <key>hl_type107_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{54,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,77}}</string>
                <key>sourceSize</key>
                <string>{54,77}</string>
            </dict>
            <key>hl_type107_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,234},{54,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,73}}</string>
                <key>sourceSize</key>
                <string>{54,73}</string>
            </dict>
            <key>hl_type107_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,609},{52,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,76}}</string>
                <key>sourceSize</key>
                <string>{52,76}</string>
            </dict>
            <key>hl_type107_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,383},{53,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,76}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>hl_type107_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,158},{54,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,74}}</string>
                <key>sourceSize</key>
                <string>{54,74}</string>
            </dict>
            <key>hl_type107_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,80},{54,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,76}}</string>
                <key>sourceSize</key>
                <string>{54,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hl_type107.png</string>
            <key>size</key>
            <string>{56,761}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcbe397265198e5f4d1abe04a19c06cd:5be59d8055322d7fa0fe316d664db31a:673b7c60a80240a94ca2d830603fe132$</string>
            <key>textureFileName</key>
            <string>hl_type107.png</string>
        </dict>
    </dict>
</plist>
