<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>type31_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,110},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>type31_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,330},{22,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,35}}</string>
                <key>sourceSize</key>
                <string>{22,35}</string>
            </dict>
            <key>type31_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,73},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>type31_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>type31_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,293},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>type31_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,36},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>type31_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,147},{27,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,35}}</string>
                <key>sourceSize</key>
                <string>{29,35}</string>
            </dict>
            <key>type31_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{30,35}</string>
            </dict>
            <key>type31_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,184},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,34}}</string>
                <key>sourceSize</key>
                <string>{27,34}</string>
            </dict>
            <key>type31_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>type31.png</string>
            <key>size</key>
            <string>{29,365}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b83be2eb1fc4dc9fe21cd054aee027b$</string>
            <key>textureFileName</key>
            <string>type31.png</string>
        </dict>
    </dict>
</plist>
