<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>type32_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,0},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>type32_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,0},{31,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,51}}</string>
                <key>sourceSize</key>
                <string>{31,51}</string>
            </dict>
            <key>type32_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,0},{44,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,51}}</string>
                <key>sourceSize</key>
                <string>{44,51}</string>
            </dict>
            <key>type32_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,0},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>type32_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,0},{44,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,51}}</string>
                <key>sourceSize</key>
                <string>{44,51}</string>
            </dict>
            <key>type32_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,0},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>type32_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,0},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>type32_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,0},{41,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,51}}</string>
                <key>sourceSize</key>
                <string>{41,51}</string>
            </dict>
            <key>type32_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,0},{44,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,51}}</string>
                <key>sourceSize</key>
                <string>{44,51}</string>
            </dict>
            <key>type32_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>type32_txt_cn_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,0},{99,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,55}}</string>
                <key>sourceSize</key>
                <string>{99,55}</string>
            </dict>
            <key>type32_txt_cn_step.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{59,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,56}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>type32.png</string>
            <key>size</key>
            <string>{611,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37ff98f00b75a759e601f7916552da22$</string>
            <key>textureFileName</key>
            <string>type32.png</string>
        </dict>
    </dict>
</plist>
