<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>type5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,0},{43,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,57}}</string>
                <key>sourceSize</key>
                <string>{43,57}</string>
            </dict>
            <key>type5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,0},{25,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,56}}</string>
                <key>sourceSize</key>
                <string>{25,56}</string>
            </dict>
            <key>type5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,0},{46,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{46,56}</string>
            </dict>
            <key>type5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,0},{44,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,55}}</string>
                <key>sourceSize</key>
                <string>{44,55}</string>
            </dict>
            <key>type5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{44,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,57}}</string>
                <key>sourceSize</key>
                <string>{44,57}</string>
            </dict>
            <key>type5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,0},{45,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,55}}</string>
                <key>sourceSize</key>
                <string>{45,55}</string>
            </dict>
            <key>type5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,0},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>type5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,0},{48,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,56}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>type5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,0},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>type5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,0},{44,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,55}}</string>
                <key>sourceSize</key>
                <string>{44,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>type5.png</string>
            <key>size</key>
            <string>{445,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40eb675ac17dd139c3fff38ab8eefbad$</string>
            <key>textureFileName</key>
            <string>type5.png</string>
        </dict>
    </dict>
</plist>
