<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>type30_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,0},{45,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{45,58}}</string>
                <key>sourceSize</key>
                <string>{47,60}</string>
            </dict>
            <key>type30_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,0},{23,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{23,60}}</string>
                <key>sourceSize</key>
                <string>{47,60}</string>
            </dict>
            <key>type30_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,0},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{43,58}}</string>
                <key>sourceSize</key>
                <string>{47,60}</string>
            </dict>
            <key>type30_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,0},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{43,58}}</string>
                <key>sourceSize</key>
                <string>{47,60}</string>
            </dict>
            <key>type30_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{47,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,60}}</string>
                <key>sourceSize</key>
                <string>{47,60}</string>
            </dict>
            <key>type30_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,0},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{43,58}}</string>
                <key>sourceSize</key>
                <string>{47,60}</string>
            </dict>
            <key>type30_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{43,58}}</string>
                <key>sourceSize</key>
                <string>{47,60}</string>
            </dict>
            <key>type30_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,0},{43,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{43,60}}</string>
                <key>sourceSize</key>
                <string>{47,60}</string>
            </dict>
            <key>type30_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,0},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{43,58}}</string>
                <key>sourceSize</key>
                <string>{47,60}</string>
            </dict>
            <key>type30_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{43,58}}</string>
                <key>sourceSize</key>
                <string>{47,60}</string>
            </dict>
            <key>type30_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,0},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{41,42}}</string>
                <key>sourceSize</key>
                <string>{47,60}</string>
            </dict>
            <key>type30_per.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,0},{43,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{43,48}}</string>
                <key>sourceSize</key>
                <string>{47,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>type30.png</string>
            <key>size</key>
            <string>{522,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c0a0d6f2295110b7b07e2817fa93761$</string>
            <key>textureFileName</key>
            <string>type30.png</string>
        </dict>
    </dict>
</plist>
