<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>orderwar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,275},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>orderwar_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,285},{6,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,9}}</string>
                <key>sourceSize</key>
                <string>{6,9}</string>
            </dict>
            <key>orderwar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,275},{2,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,5}}</string>
                <key>sourceSize</key>
                <string>{2,5}</string>
            </dict>
            <key>orderwar_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,240},{70,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,57}}</string>
                <key>sourceSize</key>
                <string>{70,57}</string>
            </dict>
            <key>orderwar_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,181},{70,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,57}}</string>
                <key>sourceSize</key>
                <string>{70,57}</string>
            </dict>
            <key>orderwar_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,0},{102,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,71}}</string>
                <key>sourceSize</key>
                <string>{102,71}</string>
            </dict>
            <key>orderwar_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,104},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>orderwar_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,275},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>orderwar_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,292},{2,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,6}}</string>
                <key>sourceSize</key>
                <string>{2,6}</string>
            </dict>
            <key>orderwar_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,285},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>txt_cn_orderwar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{273,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,37}}</string>
                <key>sourceSize</key>
                <string>{273,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>orderwar.png</string>
            <key>size</key>
            <string>{114,297}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbe924b405ae464593d1086f430d09fe$</string>
            <key>textureFileName</key>
            <string>orderwar.png</string>
        </dict>
    </dict>
</plist>
