<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>homepet_travelling_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,0},{43,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,38}}</string>
                <key>sourceSize</key>
                <string>{43,38}</string>
            </dict>
            <key>homepet_travelling_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,71},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>homepet_travelling_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,40},{29,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,38}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>homepet_travelling_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{83,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,89}}</string>
                <key>sourceSize</key>
                <string>{83,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>homepet_travelling.png</string>
            <key>size</key>
            <string>{128,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06d9d183557b23c8e506f9ca45090725$</string>
            <key>textureFileName</key>
            <string>homepet_travelling.png</string>
        </dict>
    </dict>
</plist>
